.row
  .col-sm-12
    %h1
      %i.fa.fa-map-marker
      Geocode (util only)

.row
  .col-sm-12
    = simple_form_for :geocode, url: admin_geocode_path, html: { class: 'form-horizontal' }  do |f|
      = f.error_notification
      = f.input :address, input_html: {value: @address}
      .form-actions
        = f.submit 'Geocode', class: 'btn btn-info'
- if @results
  .row
    .col-sm-12
      Included types: 
      = OneclickGeocoder::INCLUDED_TYPES
  .row
    .col-sm-12
      Jump to:  
      / This screen is not public, will not internationalize.
      - (1..@results.size).each do |i|
        %a{href: "##{i}"}= i  
      %br
      - @results.each_with_index do |r, i|
        = i + 1
        %pre{id: i + 1}
          = r.data.ai(plain: true)
