- content_for :title, "#{t(:site_title)} - #{t(:settings)}"
.row.info-header
  .col-sm-12
    %h1= t(:settings)

= render 'admin/pois/form'
= render 'admin/application_logo_upload_form'
- if is_ieuw?
  = render 'admin/favicon_upload_form', locals: {favicon: :favicon}
  = render 'admin/favicon_upload_form', locals: {favicon: :mobile_favicon}
  = render 'admin/favicon_upload_form', locals: {favicon: :tablet_favicon}
