- content_for :title, "#{translate_helper_translate(:site_title)} - #{translate_helper_translate(:settings)}"
.row.info-header
  .col-sm-12
    %h1= translate_helper_translate(:settings)

= render 'admin/pois/form'
= render 'admin/application_logo_upload_form'
= render 'admin/favicon_upload_form', locals: {favicon: :favicon}
= render 'admin/favicon_upload_form', locals: {favicon: :mobile_favicon}
= render 'admin/favicon_upload_form', locals: {favicon: :tablet_favicon}
