- content_for :title, "Settings - #{t(:site_title)}"
.row.info-header
  .col-sm-12
    %h1= t(:settings)

= render 'admin/pois/form'
= render 'admin/application_logo_upload_form'
= render 'admin/favicon_upload_form' if is_ieuw?
