= simple_form_for @service, url: @service.id.nil? ? services_path : service_path,
method: @service.id.nil? ? 'post' : 'put', html: { class: 'form-horizontal' },
wrapper: :horizontal_form do |f|
  .row
    .col-sm-6.pull-left
      %h2
        = f.input :name
    .col-sm-6.pull-right
      .row
        .col-sm-6.pull-right
          - if can? :update, @service
            = button_tag type: 'submit', class: "btn action-button active" do
              = icon_label(:apply)
            = link_to service_path(@service), {class: 'btn action-button pull-right', role: 'button'} do
              = icon_label(:cancel)

  .well
    .row
      .col-sm-4
        %h3
          = t(:provided_by)
          =  @service.provider.name
        - unless @service.active
          %h3.warning
            = t(:service_is_inactive)
        = f.input :phone
        = f.input :email
        = f.input :url
        = f.input :external_id

      .col-sm-4.well
        %h4= t(:internal_contact)
        = f.input_field :internal_contact, collection: @staff,
                selected: (@contact.id if @contact), include_blank: "None"

  .row
    .col-sm-4
      .well.well2
        %h4= t(:schedule)
        %table.ALTtable
          %tr
            %th.text-center
              = t('datetime.prompts.day')
            %th.text-center
              = t(:start_time)
            %th.text-center
              = t(:end_time)
          %tbody
            -@service.schedules.order(:day_of_week, :start_seconds, :end_seconds).each do |schedule|
              %tr
                %td.text-center
                  = t('date.day_names')[schedule.day_of_week]
                %td.text-center
                  = schedule.start_string
                %td.text-center
                  =schedule.end_string
    .col-sm-4
      .well.well2
        %h4= t(:advance_notice_required)
        .well.white-well.wwell2
          -if @service.advanced_notice_minutes > 0
            =t(:service_notice_required) + " " ## TODO Interpolate
            %b=duration_to_words(@service.advanced_notice_minutes*60, :suppress_minutes => true, :days_only => true).downcase
            =" " + t(:service_notice_str) + "."
          -else
            =t(:service_notice_not_required) + "."
    .col-sm-4
      .well.well2
        %h4=t(:accommodations)
        .well.white-well.wwell1
          -if @service.accommodations.count == 0
            = t(:no_accommodations)
          -else
            %ul
              -@service.accommodations.each do |accom|
                %li
                  =t(accom.name)
    .row
      .col-sm-4
        .well.well1
          %h4= t(:eligibility)
          = t(:eligibility_rules_descr)
          .well.white-well.wwell1
            -if @service.service_characteristics.count > 0
              %ul
              -groups = @service.service_characteristics.map(&:group).uniq
              -groups.each do |group|
                -group_string = ""
                -@service.service_characteristics.where(group: group).each do |map|
                  -if map.characteristic.code == "age"
                    -group_string += "Age is "+ @eh.relationship_to_words(map.value_relationship_id).to_s + " " + map.value.to_s + " "
                  -else
                    -group_string += t(map.characteristic.name) + " "
                  -group_string += "AND "
                %li
                  =group_string[0..-6]
            -else
              = t(:no_restriction)

      .col-sm-4
        .well.well1
          %h4= t(:trip_purposes)
          .well.white-well.wwell1
            -if @service.trip_purposes.count == 0
              = t(:no_restriction)
            -else
              %ul
                -@service.trip_purposes.each do |purpose|
                  %li
                    =t(purpose.name)

      .col-sm-4
        .well.well1 
          %h4= t(:fare)
          -@service.fare_structures.each do |fare|
            .well.white-well.wwell2
              .row_fluid
                -if fare.base
                  %b=t(:cost)
                  =number_to_currency(fare.base.to_f).to_s
                -else
                  %b=t(:cost)
                  =t(:flat_fare_unavailable) + "."
              %b=t(:comments) + ":  "
              -if fare.desc
                =fare.desc.html_safe
              -else
                =""
  .well
    .row.text-center
      .col-sm-12
        %h3= t(:coverage_areas)

    .row
      .col-sm-6
        -types = @service.coverage_areas.map(&:coverage_type).uniq
        -['Origins', 'Destinations', 'Residences'].each do |rule| ##TODO Internationalize
          %h4=rule
          -types.each do |type|
            %b
              =type.humanize.split[0].pluralize + ' ' + t(:served_areas)
            .well.white-well.text-left
              -coverage_string = ""
              -@service.service_coverage_maps.where(rule: rule.singularize.downcase).each do |map|
                -if map.geo_coverage.coverage_type == type
                  -coverage_string += map.geo_coverage.value + ', '
              -if coverage_string == ""
                = t(:n_a)
              -else
                =coverage_string.chop.chop

