.col-sm-6
  .panel.panel-default.well0
    .panel-heading
      %span.panel-title
        = t(:service)
        = t(:information)
        = add_tooltip("service_help")
    .panel-body
      -unless service.active
        %p.warning
          = t(:service_is_inactive)
          = "Reason for Disabling: #{ @service.disabled_comment }"
      - if service.logo_url
        %img{src: service.logo_url.to_s}
      - if service.display_color
        %p
          = t(:display_color) + ": " + @service.display_color
      %p
        =service.phone
      %p
        =service.email
      - if service.url
        %p
          =link_to service.url, service.url
      -if service.service_type and service.service_type.name
        %p
          =t(:service_type).to_s + ": " + t(service.service_type.name.downcase.to_sym)
      -if service.external_id
        %p
          =t(:service_id).to_s + ": " + service.external_id.to_s
