%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_services_table
  %thead
    %tr
      %th= translate_helper_translate(:id)
      %th= translate_helper_translate(:name)
      %th= translate_helper_translate(:provider)
      %th= translate_helper_translate(:phone)
      %th= translate_helper_translate(:email)
      %th= translate_helper_translate(:service_id)
      %th#status= translate_helper_translate(:status)
  %tbody
    - @services.each do |service|
      %tr
        %td
          =service.id
        %td
          =link_to service.name, service_path(service.id)
        %td
          - if can? :show, Provider
            =link_to service.provider.name, admin_provider_path(service.provider.id)
          - else
            = service.provider.name
        %td= service.phone
        %td= service.email
        %td= service.external_id
        %td
          - if service.active == false
            = translate_helper_translate(:inactive)
