= simple_form_for :poi, url: admin_load_pois_path, method: 'patch', html: { class: 'form-horizontal', multipart: true }, authenticity_token: true, wrapper: :horizontal_form do |f|
  .row
    .col-sm-12
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-12
              %h3.panel-title
                .btns.pull-right
                  = f.submit t(:ok), class: 'btn action-button', role: 'button'
                = t(:load_pois)
                = add_tooltip("load_pois_help")
        .panel-body
          = f.error_notification message: print_messages(f)
          %label=t(:load_pois_notes)
          = f.input "file", required:true, :label => t(:select_pois_file_to_upload),:as => :file