- if filter_group && search_form
  - filter_group_id = filter_group.id
  - fields = filter_group.reporting_filter_fields.where(reporting_report: report).order(:sort_order, :id)

  .panel.panel-default
    .panel-heading{role: 'tab', id: "filter-heading-#{filter_group_id}"}
      %h5.panel-title
        %a.collapsed{"data-toggle" => "collapse", "data-parent" => "#filterContainer", href: "#filter-collapse-#{filter_group_id}", "aria-expanded" => false, "aria-controls" => "filter-collapse-#{filter_group_id}"}
          = filter_group.name

    .panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "filter-heading-#{filter_group_id}", id: "filter-collapse-#{filter_group_id}"}
      .panel-body

        - fields.each do |field|
        
          - if !field.reporting_lookup_table
            
            - field_type = report.data_model.columns_hash[field.name].type rescue nil
            - is_date_field = ![:date, :datetime].index(field_type).nil?
            - field_class = is_date_field ? 'form-control form-control-inline is-date-field' : 'form-control form-control-inline'
            
            - if field.reporting_filter_type.name == Reporting::ReportingFilterType::RANGE
              = render partial: 'reporting/filters/range_filter', locals: {search_form: search_form, field: field, is_date_field: is_date_field, field_class: field_class, field_type: field_type}
            
            - else
              = render partial: 'reporting/filters/regular_filter', locals: {search_form: search_form, field: field, is_date_field: is_date_field, field_class: field_class, field_type: field_type}
          
          - else
            = render partial: 'reporting/filters/lookup_table_filter', locals: {search_form: search_form, field: field}
            


