.row.form-group
  = search_form.label "#{field.title || field.name}", class: 'col-sm-3' rescue nil
  .col-sm-9
    = search_form.collection_select "#{field.name}_in", field.reporting_lookup_table.data_model.all, :id, "#{field.reporting_lookup_table.display_field_name}", {:include_blank => field.reporting_filter_type.name != Reporting::ReportingFilterType::MULTI_SELECT}, {:multiple => field.reporting_filter_type.name == Reporting::ReportingFilterType::MULTI_SELECT, class: 'form-control'}