.modal-content
  .modal-header

    // The Buttons
    .pull-right
      %button.btn.action-button#return_book_button_btn
        =translate_helper(:book)

      = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
        = translate_helper(:close)

    // The Title
    .modal-title{:style => "text-align:left;"}
      %strong{id: 'booking_title'}
        = translate_helper(:book_your_return_trip)

  .modal-body
    .row
      .col-sm-12.text-center.booking_message{:style => 'font-weight:bold;'}
        =""

    // Return Booking Details
    %div{id: 'return_part'}
      .row
        %label.col-sm-3.text-right
          =translate_helper(:from) + ":"
        .col-sm-9.text-left
          =@trip.return_part.from_trip_place.name
      .row
        %label.col-sm-3.text-right
          =translate_helper(:to) + ":"
        .col-sm-9.text-left
          =@trip.return_part.to_trip_place.name
      .row
        %label.col-sm-3.text-right
          = @trip.return_part.is_depart ? translate_helper(:departing_at) + ":" : translate_helper(:arriving_by) + ":"
        .col-sm-9.text-left
          =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")

      =simple_form_for @trip.return_part, url: user_trip_trip_part_path(trip_id: @trip.id),  html: { id: 'return_confirmation_form', class: 'form-horizontal' } do |f|
        .row
          %label.col-sm-3-text-right
            =translate_helper(:confirm_trip_purpose)
          .col-sm-9.text-left
            =f.input :booking_trip_purpose_id, :label => false, :collection => @trip.return_part.get_booking_trip_purposes, :include_blank => false

:javascript

  $('#return_book_button_btn').unbind('click');
  $('#return_book_button_btn').on('click', function(event) {

    event.stopPropagation();
    event.stopImmediatePropagation();
    event.preventDefault();
    var text = "#{translate_helper(:please_wait)}" + "..."
    $('#return_book_button_btn').text(text);
    $('#return_book_button_btn').addClass('disabled');

    var return_form_data = $('#return_confirmation_form').serializeArray();
    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/itineraries/" + "#{@trip.return_part.selected_itinerary.id}" + "/book",
      data: {itin: "#{@trip.return_part.selected_itinerary.id}", form_data: return_form_data},
      method: 'POST',
      success: function(result) {
      $('#return_book_button_btn').hide();
        console.log(result);
        if (result['booked']) {
            var confirmation_number =  result['confirmation'];
            var negotiated_pu_time = result['negotiated_pu_time'];
            booking_state = 'showing_results';
            update_dialog();
            $('#itinerary_confirmation_' + "#{@trip.return_part.selected_itinerary.id.to_s}").text(confirmation_number);
            $('#itinerary_negotiated_pu_time_' + "#{@trip.return_part.selected_itinerary.id.to_s}").text(negotiated_pu_time);

        }
        else {
          var confirmation_numbers = "";
          var confirmation_message = "#{translate_helper(:booking_failure_message)}"
          $('#return_booking_results').html(confirmation_message);
        }

      },
      error: function(){
        var confirmation_message = "#{translate_helper(:booking_failure_message)}"
        $('#return_booking_results').html(confirmation_message);
      }

    })

  })