.modal-body
  -if @trip.outbound_part.is_bookable? or (@trip.return_part and @trip.return_part.is_bookable?)
    .panel.panel-default
      .panel-header
        %h5#headerMessage
          -if @trip.is_booked?
            ="Your trip has been booked."
          -elsif @trip.outbound_part.is_bookable? and (@trip.return_part and @trip.return_part.is_bookable?)
            ="Your trip is eligible for automated booking."
          -elsif @trip.outbound_part.is_bookable?
            ="The outbound portion of your trip is eligible for automated booking."
          -else
            ="The return portion of your trip is eligible for automated booking."

      .panel-body
        -if @trip.outbound_part.is_bookable?
          .form-horizontal
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  ="From:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.outbound_part.from_trip_place.name
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  ="To:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.outbound_part.to_trip_place.name
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  = @trip.outbound_part.is_depart ? "Departing at:" : "Arriving by:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.outbound_part.trip_time.strftime("%b %e, %l:%M %p")
            -if @trip.return_part and @trip.return_part.is_bookable?
              .form-group
                .row-fluid
                  %label.col-sm-4.col-md-4.col-lg-4.text-right
                    = @trip.return_part.is_depart ? "Returning at:" : "Returning by:"
                  .col-sm-8.col-md-8.col-lg-8.text-left
                    =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  = "Provided by:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  = "Rabbit Shared Ride"

        -else
          .form-horizontal
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  ="From:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.return_part.from_trip_place.name
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  ="To:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.return_part.to_trip_place.name
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  = @trip.return_part.is_depart ? "Departing at:" : "Arriving by:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")
            .form-group
              .row-fluid
                %label.col-sm-4.col-md-4.col-lg-4.text-right
                  = "Provided by:"
                .col-sm-8.col-md-8.col-lg-8.text-left
                  = "Rabbit Shared Ride"

        -if @trip.is_booked?
          .confirmation
            -if @trip.outbound_part.is_booked? and @trip.return_part.is_booked?
              = "Confirmation #'s: " + @trip.outbound_part.selected_itinerary.booking_confirmation + ", " + @trip.outbound_part.selected_itinerary.booking_confirmation + "."
            -elsif @trip.outbound_part.is_booked?
              = "Confirmation #: " + @trip.outbound_part.selected_itinerary.booking_confirmation + "."
            -elsif @trip.return_part.is_booked?
              = "Confirmation #: " + @trip.return_part.selected_itinerary.booking_confirmation + "."
          .row-fluid
            = "For more more information, call " + Service.find_by_external_id("shared_ride").phone.to_s + "."

        -else
          .row-fluid#bookingQuestion
            ="Would you like to book this trip with "
            -if @trip.outbound_part.is_bookable?
              %b=@trip.outbound_part.selected_itinerary.service.name
            -else
              %b=@trip.return_part.selected_itinerary.service.name
            ="?"
          .row-fluid.pull-center.text-center#bookButton
            %button.center.btn.btn-default.pull-middle.center#book_outbound_button
              ="Book"
          .div#outbound_results
            .confirmation.row-fluid#outbound_results1
              =""
            .row-fluid#outbound_results2
              =""
            .row-fluid#outbound_results3
              =""
            .row-fluid#outbound_results4
              =""
            .row-fluid#outbound_results5
              =""
            .row-fluid#outbound_results6
              =""

  -elsif @trip.outbound_part.selected_itinerary.service and @trip.outbound_part.selected_itinerary.service.booking_service_code
    = simple_form_for @booking_proxy, :remote => true, :url => add_booking_service_user_path(@traveler), :html => { :class => "form-horizontal"}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }  do |f|
      .form-inputs
        = f.error_notification
        = f.input :service_id, :as => :hidden, :input_html => {value: @trip.outbound_part.selected_itinerary.service.id}
        = f.input :itinerary_id, :as => :hidden, :input_html => {value: @trip.outbound_part.selected_itinerary.id}
        = f.input :external_user_id,label: "Rabbit Transit Client Id", label_method: :last, value_method: :first, :item_wrapper_class => "inline"
        = f.input :dob, label: "Date of Birth", label_method: :last, value_method: :first, :item_wrapper_class => "inline", placeholder: "mm/dd/yyyy", hint: 'Date of Birth is used to confirm the Client Id with Rabbit Transit.  It will not be saved.'
      .form-actions
        = f.button :submit, 'Submit'
    -if @trip.outbound_part.selected_itinerary.service.phone
      ="If you do not have a " + @trip.outbound_part.selected_itinerary.service.name + " client id, please call " + @trip.outbound_part.selected_itinerary.service.phone + " for assistance."
    -else
      ="If you do not have a client id, please contact " + @trip.outbound_part.selected_itinerary.service.name + "."
:javascript
  $('#book_outbound_button').on('click', function(event) {

    var text = "<br>Please wait..."
    $('#bookButton').html(text);

    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/book",
      data: {itin: "#{@trip.outbound_part.selected_itinerary.id}"},
      success: function(result) {
        status = result['trips'][0];
        return_status = result['trips'][2];
        $('#outbound_results').show();
        $('#bookButton').hide();
        $('#bookingTitle').html("Trip Booked!");
        $('#headerMessage').html("Your trip has been booked.");
        $('#bookingQuestion').html("");

        //Show the confirmations on success
        if (status == "true" && return_status == "true") {
          var text1 = "Confirmation #'s: ";
          text1 += result['trips'][1]['confirmation'] + ', ' + result['trips'][3]['confirmation'] + '.';
          $('#outbound_results1').html(text1);
        }
        else if(status == "true") {
          var text1 = "Confirmation #: ";
          text1 += result['trips'][1]['confirmation'] + '.'
          $('#outbound_results1').html(text1);
        }
        else if(return_status == "true"){
          var text1 = "Confirmation #: ";
          text1 += result['trips'][3]['confirmation'] + '.'
          $('#outbound_results1').html(text1);
        }

        //Show the error messages on failures.
        if (status == "false") {
          var text2 = "<br>An error occurred when attemping to book your outbound trip."
          $('#outbound_results2').html(text2);
          var text3 = result['trips'][1]['trips'][0];
          $('#outbound_results3').html(text3);
        }

        if (return_status == "false") {
          var text4 = "<br>An error occurred when attemping to book your return trip."
          $('#outbound_results4').html(text4);
          var text5 = result['trips'][3]['trips'][0];
          $('#outbound_results5').html(text5);
        }

        var text6 = "<br>For more more information, call " + "#{Service.find_by_external_id("shared_ride").phone}"+ "."
        console.log(text6);
        $('#outbound_results6').html(text6);


      },
      error: function(){
        $('#outbound_results1').html("error");
      }

    })

  })
