.modal-content
  .modal-header

    // The Buttons
    .pull-right
      %button.btn.action-button#outbound_book_button_btn
        =translate_helper(:book)

      = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
        = translate_helper(:close)

    // The Title
    .modal-title{:style => "text-align:left;"}
      %strong{id: 'booking_title'}
        = translate_helper(:book_your_outbound_trip)

  .modal-body
    .row
      .col-sm-12.text-center.booking_message{:style => 'font-weight:bold;'}
        =""

    // Outbound Booking Details
    %div{id: 'outbound_part'}
      .row
        %label.col-sm-3.text-right
          =translate_helper(:from) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.from_trip_place.name
      .row
        %label.col-sm-3.text-right
          =translate_helper(:to) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.to_trip_place.name
      .row
        %label.col-sm-3.text-right
          = @trip.outbound_part.is_depart ? translate_helper(:departing_at) + ":" : translate_helper(:arriving_by) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.trip_time.strftime("%b %e, %l:%M %p")

      .row
        %label.col-sm-3.text-right{id: 'outbound_results_row', hidden: true}
          =translate_helper(:confirmation_capped) + ":"
        .col-sm-9.text-left{id: 'outbound_booking_results'}
          =@trip.return_part.selected_itinerary.booking_confirmation

:javascript

  $('#outbound_book_button_btn').unbind('click');
  $('#outbound_book_button_btn').on('click', function(event) {

    event.stopPropagation();
    event.stopImmediatePropagation();
    event.preventDefault();
    var text = "#{translate_helper(:please_wait)}" + "..."
    $('#outbound_book_button_btn').text(text);
    $('#outbound_book_button_btn').addClass('disabled');


    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/itineraries/" + "#{@trip.outbound_part.selected_itinerary.id}" + "/book",
      data: {itin: "#{@trip.outbound_part.selected_itinerary.id}"},
      method: 'POST',
      success: function(result) {
        console.log(result);
        if (result['booked']) {
            var confirmation_number = result['confirmation'];
            var negotiated_pu_time = result['negotiated_pu_time'];
            console.log('#{@trip.selected_itineraries.count}');
            console.log('#{@trip.return_part.service_is_bookable?}');

            if('#{(@trip.selected_itineraries.count > 1 and @trip.return_part.service_is_bookable?).to_s}' == 'true' ){
              if('#{@trip.return_part.is_associated?}'){
                booking_state = 'confirming_return';
              }
              else{
                booking_state = 'associating_return';
              }
            }
            else{
              booking_state = 'showing_results';
            }

            update_dialog();
            $('#itinerary_confirmation_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(confirmation_number);
            $('#itinerary_negotiated_pu_time_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(negotiated_pu_time);
        }
        else {
          var confirmation_numbers = "";
          var confirmation_message = "#{translate_helper(:booking_failure_message)}"
          $('.booking_message').html(confirmation_message);
        }
      },
      error: function(){

        var confirmation_message = "#{translate_helper(:booking_failure_message)}"
        $('.booking_message').html(confirmation_message);
      }

    })

  })