.modal-body
  -if @trip.outbound_part.is_bookable? or (@trip.return_part and @trip.return_part.is_bookable?)
    .panel.panel-default
      .panel-header
        %span#headerMessage
          -if @trip.is_booked?
            =t(:trip_booked_2)
          -elsif @trip.outbound_part.is_bookable? and (@trip.return_part and @trip.return_part.is_bookable?)
            =t(:trip_is_eligible)
          -elsif @trip.outbound_part.is_bookable?
            =t(:outbound_is_eligible)
          -else
            =t(:return_is_eligible)

      .panel-body
        -if @trip.outbound_part.is_bookable?
          .row
            %label.col-sm-4.text-right
              =t(:from) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.from_trip_place.name
          .row
            %label.col-sm-4.text-right
              =t(:to) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.to_trip_place.name
          .row
            %label.col-sm-4.text-right
              = @trip.outbound_part.is_depart ? t(:departing_at) + ":" : t(:arriving_by) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.trip_time.strftime("%b %e, %l:%M %p")
        -if @trip.return_part and @trip.return_part.is_bookable?
          .row
            %label.col-sm-4.text-right
              = @trip.return_part.is_depart ? t(:cap_returning_at) + ":" : t(:returning_by) + ":"
            .col-sm-8.text-left
              =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")
          .row
            %label.col-sm-4.text-right
              = 'Provided By:'
            .col-sm-8.text-left
              = "Rabbit Shared Ride"
        -else
          .row
            %label.col-sm-4.text-right
              =t(:from)
            .col-sm-8.text-left
              =@trip.return_part.from_trip_place.name
          .row
            %label.col-sm-4.text-right
              =t(:to)
            .col-sm-8.text-left
              =@trip.return_part.to_trip_place.name
          .row
            %label.col-sm-4.text-right
              = @trip.return_part.is_depart ? t(:departing_at) + ":" : t(:arriving_by) + ":"
            .col-sm-8.text-left
              =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")
          .row
            %label.col-sm-4.text-right
              = 'Provided By:'
            .col-sm-8.text-left
              = "Rabbit Shared Ride"

        -if @trip.is_booked?
          .row
            -if @trip.outbound_part.is_booked? and @trip.return_part.is_booked?
              .confirmation
                = "Confirmation #'s: " + @trip.outbound_part.selected_itinerary.booking_confirmation + ", " + @trip.outbound_part.selected_itinerary.booking_confirmation
              = "Your trip has been booked.  You will be contacted by Rabbit Transit to confirm this trip."
            -elsif @trip.outbound_part.is_booked?
              .confirmation
                = "Confirmation #: " + @trip.outbound_part.selected_itinerary.booking_confirmation
              = "The departing portion of your trip has been booked.  You will be contacted by Rabbit Transit to confirm this trip."
            -elsif @trip.return_part.is_booked?
              .confirmation
                = "Confirmation #: " + @trip.return_part.selected_itinerary.booking_confirmation
              = "The returning portion of your trip has been booked.  You will be contacted by Rabbit Transit to confirm this trip."
            .confirmation
              =t(:more_info_call) + " " + "Rabbit Transit at " + Service.find_by_external_id("shared_ride").phone.to_s + "."

        -else
          .row#results
            .confirmation#results1
              =""
            .confirmation#results2
              =""
            .confirmation#results3
              =""

  -elsif @trip.outbound_part.selected_itinerary.service and @trip.outbound_part.selected_itinerary.service.booking_service_code
    = simple_form_for @booking_proxy, :remote => true, :url => add_booking_service_user_path(@traveler), :html => { :id => 'book_form', :class => "form-horizontal"}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }  do |f|
      .form-inputs
        = f.error_notification
        = f.input :service_id, :as => :hidden, :input_html => {value: @trip.outbound_part.selected_itinerary.service.id}
        = f.input :itinerary_id, :as => :hidden, :input_html => {value: @trip.outbound_part.selected_itinerary.id}
        = f.input :external_user_id,label: "Rabbit Transit " + t(:client_id), label_method: :last, value_method: :first, :item_wrapper_class => "inline"
        = f.input :dob, label: t(:dob), label_method: :last, value_method: :first, :item_wrapper_class => "inline", placeholder: "mm/dd/yyyy", hint: t(:dob_notice)
    -if @trip.outbound_part.selected_itinerary.service.phone
      =t(:if_no_client_id) + " " + @trip.outbound_part.selected_itinerary.service.phone + " " + t(:for_assistance) + "."
    -else
      =t(:if_no_client_id) + " " + @trip.outbound_part.selected_itinerary.service.name + "."
:javascript
  $('#book_submit_btn').on('click', function(event) {
    event.stopPropagation();
    $('#book_form').submit();
  });
  $('#bookButton').on('click', function(event) {
    event.stopPropagation();
    $('#bookButton').addClass('disabled');
    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/book",
      data: {itin: "#{@trip.outbound_part.selected_itinerary.id}"},
      success: function(result) {
        outbound_status = result['trips'][0];
        return_status = result['trips'][2];
        $('#results').show();
        $('#bookButton').hide();
        $('#bookingQuestion').html("");

        //The status can be "true", "false", or "none'
        // true: this trip leg was successfully booked
        // false: an error occured when attempting to book this trip
        // none: no attempt was made to book this trip leg.

        //Show the confirmations on success
        // Case 1: True True
        if (outbound_status == "true" && return_status == "true") {
          var confirmation_numbers = "Confirmation #'s: ";
          confirmation_numbers += result['trips'][1] + ', ' + result['trips'][3];
          var confirmation_message = "Your trip has been succesfully booked.  You will be contacted by Rabbit Transit to confirm this trip."
        }
        // Case 2: True False
        else if(outbound_status == "true" && return_status == "false") {
          var confirmation_numbers = "Confirmation #: ";
          confirmation_numbers += result['trips'][1];
          var confirmation_message = "The departing portion of your trip was succesfully booked. However, the returning portion of your trip could not be booked at this time."
        }
        // Case 3: True None
        else if(outbound_status == "true" && return_status == "none"){
          var confirmation_numbers = "Confirmation #: ";
          confirmation_numbers += result['trips'][1];
          var confirmation_message = "Your trip has been succesfully booked.  You will be contacted by Rabbit Transit to confirm this trip."
        }
        // Case 4: False True
        else if (outbound_status == "false" && return_status == "true") {
          var confirmation_numbers = "Confirmation #: ";
          confirmation_numbers += result['trips'][3];
          var confirmation_message = "The returning portion of your trip was succesfully booked.  However, the departing portion of your trip could not be booked at this time."
        }
        // Case 5: False False
        else if(outbound_status == "false" && return_status == "false") {
          var confirmation_numbers = "";
          var confirmation_message = "Your trip could not be booked at this time."
        }
        // Case 6: False None
        else if(outbound_status == "false" && return_status == "none"){
          var confirmation_numbers = "";
          var confirmation_message = "Your trip could not be booked at this time."
        }
        // Case 7: None True
        else if (outbound_status == "none" && return_status == "true") {
          var confirmation_numbers = "Confirmation #: ";
          confirmation_numbers += result['trips'][3];
          var confirmation_message = "Your trip has been succesfully booked.  You will be contacted by Rabbit Transit to confirm this trip."
        }
        // Case 8: None False
        else if(outbound_status == "none" && return_status == "false") {
          var confirmation_numbers = "";
          var confirmation_message = "Your trip could not be booked at this time."
        }

        $('#results1').html(confirmation_numbers);
        $('#results2').html(confirmation_message)

        contact_message = "#{t(:more_info_call)}" + " " + "Rabbit Transit at " + "#{Service.find_by_external_id("shared_ride").phone}"+ "."
        $('#results3').html(contact_message);


      },
      error: function(){

        $('#bookButton').hide();
        var confirmation_message = "Your trip could not be booked at this time."
        $('#results2').html(confirmation_message)

        contact_message = "#{t(:more_info_call)}" + " " + "Rabbit Transit at " + "#{Service.find_by_external_id("shared_ride").phone}"+ "."
        $('#results3').html(contact_message);
      }

    })

  })
