
// Set the initial state of the dialog
-if @trip.outbound_part.is_bookable? and not @trip.outbound_part.is_associated?
  -initial_state = 'associating_outbound'
-elsif @trip.outbound_part.is_bookable?
  -initial_state = 'confirming_outbound'
-elsif not @trip.return_part.associated?
  -initial_state = 'associating_return'
-else
  -initial_state = 'confirming_return'

//Partials for each of the booking dialogs
.modal-dialog
  %div.booking-dialog{id: 'booking_outbound_association_dialog'}
    = render partial: 'booking_outbound_association_panel'
  %div.booking-dialog{id: 'booking_outbound_confirmation_dialog'}
    = render partial: 'booking_outbound_confirmation_panel'
  %div.booking-dialog{id: 'booking_return_association_dialog'}
    = render partial: 'booking_return_association_panel'
  %div.booking-dialog{id: 'booking_return_confirmation_dialog'}
    = render partial: 'booking_return_confirmation_panel'
  %div.booking-dialog{id: 'booking_results_dialog'}
    = render partial: 'booking_results_panel'

:javascript
  var booking_state;

  function update_dialog(){
    $('.booking-dialog').hide();

    switch(booking_state){
      case 'associating_outbound':
        $('#booking_outbound_association_dialog').show();
        break;
      case 'confirming_outbound':
        $('#booking_outbound_confirmation_dialog').show();
        break;
      case 'associating_return':
        $('#booking_return_association_dialog').show();
        break;
      case 'confirming_return':
        $('#booking_return_confirmation_dialog').show();
        break;
      case 'showing_results':
        $('#booking_results_dialog').show();
        break;
    }
  }

  $(document).ready(function(){
    booking_state = "#{initial_state}";
    update_dialog();
  });