#bookingModal.modal.fade.active.col-sm-12{"aria-describedby" => "Book your trip", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag class: 'btn btn-default action-button pull-right', data: {dismiss: 'modal'} do
          = t(:cancel)
        -if not @trip.is_booked? and (@trip.outbound_part.is_bookable? or (@trip.return_part and @trip.return_part.is_bookable?))
          = button_tag id: 'bookButton', class: 'btn action-button pull-right' do
            = t(:book)
        -elsif @trip.outbound_part.selected_itinerary.service and @trip.outbound_part.selected_itinerary.service.booking_service_code
          = button_tag id: 'book_submit_btn', class: 'btn action-button pull-right' do
            = t(:submit)
        .modal-title{:style => "text-align:left;"}
          %b
            -if @trip.is_booked?
              = t(:trip_booked)
            -else
              = t(:book_your_trip)
      .modal-body#bookingContent
        = render partial: 'book_trip'

