.modal-dialog
  .modal-content
    .modal-header
      .pull-right
        -if @trip.is_bookable? and not @trip.is_booked?
          %button.btn.action-button#book_button_btn
            =translate_helper(:book)
        = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
          = translate_helper(:close)
      .modal-title{:style => "text-align:left;"}
        %strong
          -if @trip.is_booked?
            = translate_helper(:trip_booked)
          -else
            = translate_helper(:book_your_trip)
    .modal-body#bookingContent
      .panel.panel-default
        .panel-body
          .row
            %label.col-sm-4.text-right
              =translate_helper(:from) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.from_trip_place.name
          .row
            %label.col-sm-4.text-right
              =translate_helper(:to) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.to_trip_place.name
          .row
            %label.col-sm-4.text-right
              = @trip.outbound_part.is_depart ? translate_helper(:departing_at) + ":" : translate_helper(:arriving_by) + ":"
            .col-sm-8.text-left
              =@trip.outbound_part.trip_time.strftime("%b %e, %l:%M %p")
          -if @trip.trip_parts.count > 1 and @trip.return_part.is_bookable?
            .row
              %label.col-sm-4.text-right
                = @trip.return_part.is_depart ? translate_helper(:cap_returning_at) + ":" : translate_helper(:returning_by) + ":"
              .col-sm-8.text-left
                =@trip.return_part.trip_time.strftime("%b %e, %l:%M %p")
          .row
            .div{id: 'booking_results'}
              -if @trip.is_booked?
                "Confirmation numbers go here."
              -else
                =""

:javascript
  $('#book_button_btn').unbind('click');
  $('#book_button_btn').on('click', function(event) {

    console.log("Pushed the button");

    event.stopPropagation();
    var text = "#{translate_helper(:please_wait)}" + "..."
    $('#book_button_btn').text(text);
    $('#book_button_btn').addClass('disabled');

    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/book",
      data: {itin: "#{@trip.outbound_part.selected_itinerary.id}"},
      success: function(result) {

        $('#book_button_btn').hide();

        if (result['trips'][0]['booked']) {
          if(result['trips'].length > 1){
            var confirmation_numbers = "Confirmation #'s: ";
            confirmation_numbers +=  result['trips'][0]['confirmation'] + ', ' +  result['trips'][1]['confirmation'];
          }
          else{
            var confirmation_numbers = "Confirmation #: ";
            confirmation_numbers += result['trips'][0]['confirmation'];
          }
        }
        else {
          var confirmation_numbers = result['trips'][0]['message'];
          var confirmation_message = "Your trip could not be booked at this time."
        }

        $('#booking_results').html(confirmation_numbers);

      },
      error: function(){

        $('#book_button_btn').hide();
        var confirmation_message = "Your trip could not be booked at this time."
        $('#booking_results').html(confirmation_message)
      }

    })

  })

