.modal-content
  .modal-header

    // The Buttons
    .pull-right
      %button.btn.action-button{id: 'outbound_associate_button_btn', type: 'button'}
        -outbound_associate_button_text = "Associate"
        =outbound_associate_button_text

      = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
        = translate_helper(:close)

    // The Title
    .modal-title{:style => "text-align:left;"}
      %strong{id: 'booking_title'}
        =@trip.outbound_part.selected_itinerary.service.name + " Sign In"


    .modal-body
      .row
        .col-sm-12.text-center.booking_message{:style => 'font-weight:bold;'}
          =""

      //associate with outbound service
      .row
        %div{id: 'outbound_association_part'}
          -itinerary = @trip.outbound_part.selected_itinerary
          =simple_form_for @user_services[itinerary.id], :remote => true, :html => {id: 'outbound_association_form'}, :url => user_user_services_path(@traveler), :method => :post  do |f|
            .row
              %div.col-sm-12
                = f.input :external_client_id, label: translate_helper(:client_id), input_html: { value: "" }
                = f.input :service_id, :as => :hidden, input_html: {value: @user_services[itinerary.id].service.id}
                = f.input :user_id, :as => :hidden, input_html: {value: @traveler.id}
            .row
              %div.col-sm-12
                -if itinerary.service.booking_profile == BookingServices::AGENCY[:ecolane]
                  =f.input :external_client_dob, label: translate_helper(:dob), placeholder: "mm/dd/yyyy"
                -if itinerary.service.booking_profile ==  BookingServices::AGENCY[:trapeze]
                  =f.input :external_client_password, label: translate_helper(:password)


:javascript
  $('#outbound_associate_button_btn').on('click', function(event) {
   event.stopPropagation();
   event.stopImmediatePropagation();
   var text = "#{translate_helper(:please_wait)}" + "..."
   $('#outbound_associate_button_btn').text(text);
   $('#outbound_associate_button_btn').addClass('disabled');
   $('#outbound_association_form').submit();
   event.stopPropagation();

  })

  $('#outbound_association_form').on('ajax:success', function(event, data, status, xhr) {
    console.log(data);
    if(data['associated'] == true){

      booking_state = 'confirming_outbound';
      update_dialog();
    }
    else{
      var message = data['message'];
      $('.booking_message').text(message);
      $('#outbound_associate_button_btn').text('#{outbound_associate_button_text}');
      $('#outbound_associate_button_btn').removeClass('disabled');
    }

  });




