.modal-content
  .modal-header

    // The Buttons
    .pull-right
      %button.btn.action-button#outbound_book_button_btn
        =translate_helper(:book)

      = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
        = translate_helper(:close)

    // The Title
    .modal-title{:style => "text-align:left;"}
      %strong{id: 'booking_title'}
        = translate_helper(:book_your_outbound_trip)

  .modal-body
    .row
      .col-sm-12.text-center.booking_message{:style => 'font-weight:bold;'}
        =""

    // Outbound Booking Details
    %div{id: 'outbound_part'}
      .row
        %label.col-sm-3.text-right
          =translate_helper(:from) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.from_trip_place.name
      .row
        %label.col-sm-3.text-right
          =translate_helper(:to) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.to_trip_place.name
      .row
        %label.col-sm-3.text-right
          = @trip.outbound_part.is_depart ? translate_helper(:departing_at) + ":" : translate_helper(:arriving_by) + ":"
        .col-sm-9.text-left
          =@trip.outbound_part.trip_time.strftime("%b %e, %l:%M %p")

      -outbound_space_types = @trip.outbound_part.get_space_types
      -outbound_passenger_types = @trip.outbound_part.get_passenger_types

      =simple_form_for @trip.outbound_part, url: user_trip_trip_part_path(trip_id: @trip.id),  html: { id: 'outbound_confirmation_form', class: 'form-horizontal' } do |f|
        .row
          %label.col-sm-3.text-right
            =translate_helper(:confirm_trip_purpose)
          = f.input :booking_trip_purpose_id, :label => false, :collection => @trip.outbound_part.get_booking_trip_purposes, :include_blank => false, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_trip_purpose_collection'}

        .row
          %label.col-sm-3.text-right
            =translate_helper(:passenger1_type)
          = f.input :passenger1_type, :label => false, :collection => outbound_passenger_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger1_type'}

        .row
          %label.col-sm-3.text-right
            =translate_helper(:passenger1_space_type)
          = f.input :passenger1_space_type, :label => false, :collection => outbound_space_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger1_space_type'}

        #passenger2
          .row
            %label.col-sm-3.text-right
              =translate_helper(:passenger2_type)
            = f.input :passenger2_type, :label => false, :collection => outbound_passenger_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger2_type'}

          .row
            %label.col-sm-3.text-right
              =translate_helper(:passenger2_space_type)
            = f.input :passenger2_space_type, :label => false, :collection => outbound_space_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger2_space_type'}

        #passenger3
          .row
            %label.col-sm-3.text-right
              =translate_helper(:passenger3_type)
            = f.input :passenger3_type, :label => false, :collection => outbound_passenger_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger3_type'}

          .row
            %label.col-sm-3.text-right
              =translate_helper(:passenger3_space_type)
            = f.input :passenger3_space_type, :label => false, :collection => outbound_space_types, :include_blank => true, wrapper_html: {class: 'col-sm-9', style: 'margin:0;'}, input_html: {id: 'outbound_passenger3_space_type'}
            

:javascript

  $('#passenger2, #passenger3').hide();
  $('#outbound_book_button_btn').unbind('click');
  $('#outbound_book_button_btn').on('click', function(event) {

    event.stopPropagation();
    event.stopImmediatePropagation();
    event.preventDefault();
    var text = "#{translate_helper(:please_wait)}" + "..."
    $('#outbound_book_button_btn').text(text);
    $('#outbound_book_button_btn').addClass('disabled');

    var outbound_form_data = $('#outbound_confirmation_form').serializeArray();
    $.ajax({
      url: "/users/" + "#{@traveler.id}" + "/trips/" + "#{@trip.id}" + "/itineraries/" + "#{@trip.outbound_part.selected_itinerary.id}" + "/book",
      data: {itin: "#{@trip.outbound_part.selected_itinerary.id}", form_data: outbound_form_data},
      method: 'POST',
      success: function(result) {
        console.log(result);
        $('#outbound_book_button_btn').hide();
        if (result['booked']) {
            $('#bookingModal').attr('data-outbound-booked', true);
            var confirmation_number = result['confirmation'];
            var negotiated_pu_time = result['negotiated_pu_time'];
            var negotiated_pu_window_start = result['negotiated_pu_window_start'];
            var negotiated_pu_window_end = result['negotiated_pu_window_end'];
            console.log('#{@trip.selected_itineraries.count}');
            console.log('#{@trip.return_part.service_is_bookable?}');

            if('#{(@trip.selected_itineraries.count > 1 and @trip.return_part.service_is_bookable?).to_s}' == 'true' ){
              if('#{@trip.return_part.is_associated?}' == 'true'){
                booking_state = 'confirming_return';
              }
              else{
                booking_state = 'associating_return';
              }
            }
            else{
              booking_state = 'showing_results';
            }

            update_dialog();
            $('#itinerary_confirmation_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(confirmation_number);
            $('#itinerary_negotiated_pu_time_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(negotiated_pu_time);
            $('#itinerary_negotiated_pu_window_start_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(negotiated_pu_window_start);
            $('#itinerary_negotiated_pu_window_end_' + "#{@trip.outbound_part.selected_itinerary.id.to_s}").text(negotiated_pu_window_end);
        }
        else {
          var confirmation_numbers = "";
          var confirmation_message = result['message']
          $('.booking_message').html(confirmation_message);
        }
      },
      error: function(){

        var confirmation_message = "#{translate_helper(:booking_failure_message)}"
        $('.booking_message').html(confirmation_message);
      }

    })

  })

  $('#outbound_passenger1_type').on('change', function(){
    if ( $(this).val().length != 0 ) { $('#passenger2').show(); }
  });
  $('#outbound_passenger2_type').on('change', function(){
    if ( $(this).val().length != 0 ) { $('#passenger3').show(); }
  });
