.well
  -if current_user  
    = render 'select_traveler_form' unless current_user.travelers.empty?
    
  = simple_form_for @trip_proxy, :url => user_trips_path, :html => {:class => "form-horizontal"} do |f| 
    = f.hidden_field :from_place_selected
    = f.hidden_field :to_place_selected
    = f.hidden_field :from_place_selected_type
    = f.hidden_field :to_place_selected_type
    
    - if user_signed_in?
      = f.input :from_place, :wrapper => :append, :class => "inline span12" do
        = f.input_field :from_place, :id => "from_address", :autofocus => true, :autocomplete => "off"
        %span.dropdown
          %a.add-on.btn.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#'}>
            %span.caret
          %ul.dropdown-menu{:data => {:target => 'from_address'}}
            - @traveler.places.each do |p|
              %li
                %a.place-option{:data => {:value => p.name, :id => p.id, :latlon => [p.lat, p.lon], :type => "from"}}
                  = p.name
    - else
      = f.input :from_place, :placeholder => t(:enter_address), :autofocus => true, :input_html => {:id => "from_address"}, :autocomplete => "off"

    = render :partial => 'alt_address_select', :locals => {:results => @trip_proxy.from_place_results, :type => "from"} unless @trip_proxy.from_place.blank? || @trip_proxy.from_place_selected_type == "1"

    - if user_signed_in?
      = f.input :to_place, :wrapper => :append, :class => "inline span12" do
        = f.input_field :to_place, :id => "to_address", :autocomplete => "off"
        %span.dropdown
          %a.add-on.btn.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#'}>
            %span.caret
          %ul.dropdown-menu{:data => {:target => 'to_address'}}
            - @traveler.places.each do |p|
              %li
                %a.place-option{:data => {:value => p.name, :id => p.id, :latlon => [p.lat, p.lon], :type => "to"}}
                  = p.name          
    - else
      = f.input :to_place, :placeholder => t(:enter_address), :input_html => {:id => "to_address"}, :autocomplete => "off"
        
    = render :partial => 'alt_address_select', :locals => {:results => @trip_proxy.to_place_results, :type => "to"} unless @trip_proxy.to_place.blank? || @trip_proxy.to_place_selected_type == "1"

    = f.input :trip_date, :wrapper => :append, :label => t(:date) do
      #trip-date
        = f.input_field :trip_date, :as => :string, :label => false, :size => ""
        %span.add-on
          %i.icon-calendar

    = f.input :arrive_depart, :collection => ["departing at", "arriving by"], :label => false, :include_blank => false

    = f.input :trip_time, :wrapper => :append, :label => t(:time) do
      #trip-time
        = f.input_field :trip_time, :as => :string, :label => false, :size => ""
        %span.add-on
          %i.icon-time
                
    .form-actions
      = button_tag :type => 'submit', :class => "btn btn-primary" do
        %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
        = t(:plan_it)
      = link_to t(:cancel), :back
                
:javascript
  $('#trip-date').datepicker().on("dateChange", function(e) {
      $('#trip_proxy_trip_date').val(Date.format(e.date, "mm/dd/yyyy"));
  })
  ;
  $('#trip-time').timepicker({
    'timeFormat': 'g:i a',
    'scrollDefaultTime': '9:00 am'
  }).on("changeTime", function(e) {
      $('#trip_proxy_trip_time').val($('#trip-time').data('ui-timepicker-value'));
    });
    
  $(document).ready(function(){
    $('.combobox').combobox({
      force_match: false
    });
  });
  
  $('.dropdown-toggle').dropdown();
  
  // User has selected a pre-defined place from the dropdown.
  $('.place-option').on('click', function(event) {
    var t = $(event.target);
    var id = t.data('id');
    var from_to = t.data('type');
    var name = t.data('value');
    if (from_to == 'from') {
      $('#trip_proxy_from_place_selected').val(id);
      $('#trip_proxy_from_place_selected_type').val(1);
    } else {
      $('#trip_proxy_to_place_selected').val(id);
      $('#trip_proxy_to_place_selected_type').val(1);
    }
    $('#' + t.parents('ul').data('target')).val(name);
  });
  
  // Add change listeners on the text fields
  $("#from_address").bind("keyup input paste", function() {
    $('#trip_proxy_from_place_selected').val("");
    $('#trip_proxy_from_place_selected_type').val("");    
  });
  // Add change listeners on the text fields
  $("#to_address").bind("keyup input paste", function() {
    $('#trip_proxy_to_place_selected').val("");
    $('#trip_proxy_to_place_selected_type').val("");    
  });
    
  // Add listeners to show the selected address when the user clicks on one
  $('.address_select').click(function() {
    var id = $(this).data('id');
    var from_to = $(this).data('type');
    var addr = $(this).text().trim();
    if (from_to == 'from') {
      $('#trip_proxy_from_place_selected').val(id);
      $('#trip_proxy_from_place_selected_type').val(0);
      $('#from_address').val(addr);      
    } else {
      $('#trip_proxy_to_place_selected').val(id);
      $('#trip_proxy_to_place_selected_type').val(0);
      $('#to_address').val(addr);      
    }
  });
      
