.well
  = simple_form_for(@trip, :html => {:class => 'form-horizontal' }) do |f|
    - if user_signed_in?
      = f.simple_fields_for :from_place do |p|
        = p.input :sequence, as: :hidden, value: 0        
        = p.input :address, label: t(:from), wrapper: :append, html: {id: :from_address} do
          = p.input_field :nongeocoded_address, placeholder: t(:select_or_enter_address)
          %span.dropdown
            %a.add-on.btn.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#'}>
              %span.caret
            %ul.dropdown-menu{data: {target: 'trip_from_place_attributes_nongeocoded_address'}}
              - @trip.owner.places.each do |p|
                %li
                  %a{data: {value: p.name}, class: 'place-option'}= p.name
      = f.simple_fields_for :to_place do |p|
        = p.input :sequence, as: :hidden, value: 1
        = p.input :address, label: t(:to), wrapper: :append, html: {id: :to_address} do
          = p.input_field :nongeocoded_address, placeholder: t(:select_or_enter_address)
          %span.dropdown
            %a.add-on.btn.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#'}>
              %span.caret
            %ul.dropdown-menu{data: {target: 'trip_to_place_attributes_nongeocoded_address'}}
              - @trip.owner.places.each do |p|
                %li
                  %a{data: {value: p.name}, class: 'place-option'}= p.name
    - else
      = f.simple_fields_for :from_place do |p|
        = p.input :sequence, as: :hidden, value: 0
        = p.input :nongeocoded_address, label: t(:from), placeholder: t(:enter_address)
      = f.simple_fields_for :to_place do |p|
        = p.input :sequence, as: :hidden, value: 1
        = p.input :nongeocoded_address, label: t(:to), placeholder: t(:enter_address)
    = f.input :trip_date, wrapper: :append, label: t(:date) do
      = content_tag :div, id: 'trip-date' do
        = f.input_field :trip_date, as: :string, label: false, size: ""
        = content_tag :span, class: 'add-on' do
          = content_tag :i, '', class: 'icon-calendar'
    = f.input :arrive_depart, collection: [:depart_at, :arrive_by],
      label_method: lambda {|obj| t(obj)},
      value_method: lambda {|obj| obj.to_s},
      label: false, include_blank: false, input_html: {class: ''}
    = f.input :trip_time, wrapper: :append, label: t(:time) do
      = content_tag :div, id: 'trip-time' do
        = f.input_field :trip_time, as: :string, label: false, size: ""
        = content_tag :span, class: 'add-on' do
          = content_tag :i, '', class: 'icon-time'

    .actions
      = f.button :submit, t(:plan_it), {class: 'btn btn-primary controls'}
      = link_to t(:cancel), :back
:javascript
  $(document).ready(function(){
    $('#trip-date').datepicker()
      .on("dateChange", function(e) {
        $('#trip_trip_date').val(Date.format(e.date, "mm/dd/yyyy"));
      });
    $('#trip-date').data("calendar").setDate(new Date());
    $('#trip_trip_time').timepicker({
      'timeFormat': 'g:i a',
      'scrollDefaultNow': true
    })
    .on("changeTime", function(e) {
      $('#trip_trip_time').val($('#trip-time').data('ui-timepicker-value'));
    });
    $('#trip-time .add-on').on('click', function() {
      $('#trip_trip_time').timepicker('show');
    });
    $('.combobox').combobox({
      force_match: false
    });
  });
  $('.dropdown-toggle').dropdown();
  $('.trip_from_place_address a, .trip_to_place_address a').on('click', function(event) {
  var t = $(event.target)
    if (t.hasClass('place-option')) {
      $('#' + t.parents('ul').data('target')).val(t.data('value'))
    }
  })
