- if dir=='from'
  - label=t(:leaving_from)
  - sr_label = t(:type_from_address)
- elsif dir=='to'
  - label=t(:going_to)
  - sr_label = t(:type_to_address)
= f.input "#{dir}_place".to_sym, input_html: {class: 'place_picker', autocomplete: 'off', type: "text", tabindex: 0}, id: "trip_proxy_#{dir}_place", wrapper: :group, label: label, "aria-hidden" => 'true' do
  = f.input_field "#{dir}_place".to_sym, class: 'form-control place_picker', tabindex: 0, "aria-autocomplete" => 'inline'
  %span.input-group-btn
    %button.btn.btn-default.hidden-xs.hidden-sm{type: "button", id: "#{dir}AddressMarkerButton", tabindex: '-1', aria: {label: "Click to locate the address"}}
      %i.fa.fa-map-marker

