- if dir=='from'
  - label=t(:leaving_from)
  - sr_label = t(:type_from_address)
- elsif dir=='to'
  - label=t(:going_to)
  - sr_label = t(:type_to_address)
= f.input "#{dir}_place".to_sym, input_html: {class: 'place_picker', autocomplete: 'off', type: "text", tabindex: 1}, id: "trip_proxy_#{dir}_place", wrapper: :group, label: label do
  = f.input_field "#{dir}_place".to_sym, class: 'form-control place_picker', tabindex: 1
  %span.input-group-btn
    %label.control-label.sr-only{for: "#{dir}AddressMarkerButton"} Click button to locate the address
    %button.btn.btn-default{type: "button", id: "#{dir}AddressMarkerButton", tabindex: 1}
      %i.fa.fa-map-marker
- if dir=='from'
  %div{id: "tripMapContainer", class: 'hide', style: 'position: absolute; top: 0; right:-520px; z-index: 1000;'}
    .panel.panel-default
      .panel-heading.clearfix
        %button#mapCloseButton.close.pull-right{type: "button", title: "Close"}
          %span{:"aria-hidden" => "true"} &times;
          %span.hide Close
      .panel-body
        = LeafletMap({ :mapid => "tripMap", :markers => @markers, :tile_provider => 'GOOGLEMAP', :min_zoom => 3, :max_zoom => 15, :class => "map", width: '500px;', :style => "height: 400px; width: 500px;", :show_location_select => true })

