%ol#wizards.breadcrumb
  %li.breadcrumb-page.current-page Trip
  %li.breadcrumb-page.next-page Options
  %li.breadcrumb-page.next-page Review
  %li.breadcrumb-page.next-page Plan
.row
  .col-sm-7.col-xs-12
    = simple_form_for @trip_proxy, :url => @trip_proxy.id.nil? ? user_trips_path : user_trip_path, :method => @trip_proxy.id.nil? ? 'post' : 'put', :html => {:class => "plan-a-trip form-horizontal no-bottom-margin", :style => "margin-top:10px;margin-bottom:0px;"}  do |f|
      .col-xs-12.page-action-button-container
        /%button.btn.btn-default.pull-right.action-button{:type => "button"}Search
        = button_tag :type => 'submit', :class => "btn btn-default pull-right action-button" do
          =t(:plan_it)
      .col-xs-12.well
        = f.hidden_field :mode
        = f.hidden_field :from_place_object, :id => "from_place_object"
        = f.hidden_field :to_place_object, :id => "to_place_object"
        = f.hidden_field :map_center, id: "map_center"
        / %form{:role => "form"}
        #tripOptions.col-sm-12.form-group
          %label.col-sm-3{:style => "font-weight: normal;"}
            %input{:checked => "", :name => "trip_proxy[is_round_trip]", :type => "radio", :value => "1"}/
            Round-trip
          %label.col-sm-9{:style => "font-weight: normal;"}
            %input{:name => "trip_proxy[is_round_trip]", :type => "radio", :value => "0"}/
            One-way
          :javascript
            $(function () {
              $('#tripOptions :radio').change(function() {
                if(this.value === '0') {
                  $('#returnDatetimeOptions').hide();
                } else {
                  $('#returnDatetimeOptions').show();
                }
              });
            });
        .col-sm-12.form-group
          %label.col-sm-3.control-label Modes
          #modePlaceholder.col-sm-9
        .col-sm-12.form-group
          %label.col-sm-3.control-label{:for => "trip_purpose_id"} Trip Purpose
          .col-sm-9
            / %select#tripPurposeOptions.form-control{:name => "tripPurpose"}
            = f.input_field :trip_purpose_id, :collection =>  TripPurpose.all, :label => false, :selected => @trip_proxy.trip_purpose_id, class: "form-control", :value => :id, :label_method => lambda { |v| t(v.name)}

        = render partial: 'location_input', locals: {dir: 'from'}
        = render partial: 'location_input', locals: {dir: 'to'}

        .col-sm-12.form-group
          %label.col-sm-3.control-label{:for => "outboundOptions"} Outbound
          .col-lg-3.col-md-4
            %select#outboundOptions.form-control{:name => "trip_proxy[arrive_depart]"}
              %option= t(:departing_at)
              %option{:selected => ""}= t(:arriving_by)
          .col-lg-6.col-md-5.col-sm-12{:style => "padding: 0px;"}
            %label.control-label.sr-only{:for => "trip_proxy_outbound_trip_date"} Type or select the outbound date
            .col-md-6
              %input#trip_proxy_outbound_trip_date.form-control{:label => "false", :name => "trip_proxy[trip_date]", :type => "text"}/
              :javascript
                $(function () {
                  $('#trip_proxy_outbound_trip_date').datetimepicker({
                    defaultDate: new Date(),
                    minDate: moment(0, "HH"),
                    pickTime: false
                  }).on('dp.change', function() {
                    var other = $('#trip_proxy_return_trip_date').data("DateTimePicker");
                    var thisone = $('#trip_proxy_outbound_trip_date').data("DateTimePicker").getDate();
                    if (other.getDate() < thisone) {
                      other.setDate(thisone);
                    }
                  });
                });
            .col-md-6
              %label.control-label.sr-only{:for => "trip_proxy_outbound_trip_time"} Type or select the outbound time
              %input#trip_proxy_outbound_trip_time.form-control{:label => "false", :name => "trip_proxy[trip_time]", :type => "text"}/
              :javascript
                $(function () {
                  $('#trip_proxy_outbound_trip_time').datetimepicker({
                    defaultDate: moment().next15(),
                    pickDate: false,
                    useSeconds: false,
                    minuteStepping: 15
                  });
                });
        #returnDatetimeOptions.col-sm-12.form-group
          %label.col-sm-3.control-label{:for => "returnOptions"} Return
          .col-lg-3.col-md-4
            %select#returnOptions.form-control{:name => "trip_proxy[return_arrive_depart]"}
              %option{:selected => ""}= t(:departing_at)
              %option= t(:arriving_by)
          .col-lg-6.col-md-5.col-sm-12{:style => "padding: 0px;"}
            %label.control-label.sr-only{:for => "trip_proxy_return_trip_date"} Type or select the return date
            .col-md-6
              %input#trip_proxy_return_trip_date.form-control{:label => "false", :name => "trip_proxy[trip_date]", :type => "text"}/
              :javascript
                $(function () {
                  $('#trip_proxy_return_trip_date').datetimepicker({
                    defaultDate: new Date(),
                    minDate: moment(0, "HH"),
                    pickTime: false
                  });
                });
            .col-md-6
              %label.control-label.sr-only{:for => "trip_proxy_return_trip_time"} Type or select the return time
              %input#trip_proxy_return_trip_time.form-control{:label => "false", :name => "trip_proxy[return_trip_time]", :type => "text"}/
              :javascript
                $(function () {
                  $('#trip_proxy_return_trip_time').datetimepicker({
                    defaultDate: moment().add('hours', 1).next15(),
                    pickDate: false,
                    useSeconds: false,
                    minuteStepping: 15
                  });
                });
        .col-sm-12.form-group
          %label.col-sm-3.control-label Travellers
          .col-md-4.col-sm-9
            %label.control-label.sr-only{:for => "travellersOptions"} Select how many travellers
            %select#travellersOptions.form-control{:name => "travellers"}
  / end of trip column
  .col-sm-5.col-xs-12
    #cmsPlaceholder.well
      TODO:(CMS)
  / end of CMS column
