.row-fluid
  .span12
    %h1
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:plan_a_trip)
      
-if @trip_proxy.errors.any?
  .row-fluid
    .span12
      %h4
        %div{:class => "alert alert-error"}
          %a.close{"data-dismiss" => "alert"} ×
          %div= t(:correct_errors_to_create_a_trip)


.row-fluid{:style => "margin-top:20px;"}
  %div{class: (cms_snippet_content('plan-a-trip_html').empty? ? 'span12' : 'span9')}  
    .row-fluid.well.well-small
      #trip_form.span12
        = link_to "#" do      
          %i.fa.fa-map-marker.fa-2x.pull-right#map-icon
        = render 'trip_form'
      #trip_map.span6
        = render 'trip_map'  
  - unless cms_snippet_content('plan-a-trip_html').empty?
    .span3= cms_snippet_content('plan-a-trip_html')

:javascript
  // UI variables
  var trip_map_key = "trip_map_key";

  // Document Ready
  $(document).ready(function(){
    // open or close the map on load based on last state
    var trip_map_open = get_ui_key_value(trip_map_key, 1);
    //alert(trip_map_key + ' = ' + trip_map_open);
    if (trip_map_open == 1) {
      open_map();
    } else {
      close_map();
    }

    // install event handlers
    $('#map-icon').click(function(){
      var trip_map_open = get_ui_key_value(trip_map_key, 1);
      //alert(trip_map_key + ' = ' + trip_map_open);
      if (trip_map_open == 1) {
        // user is closing the map
        close_map();
      } else {
        // user is opening the map
        open_map();
      }
    }); 
    
  });
 
  function open_map() {
    //alert('opening map');
    $('#trip_form').removeClass('span12');
    $('#trip_form').addClass('span6');
    $('#trip_map').show();
    invalidateMap();
    $('#map-icon').removeClass('fa-map-marker');
    $('#map-icon').addClass('fa-play');
    // make sure no popups are currently being shown or they will get messed up
    closePopup();
    // refresh the map display
    setMapToBounds();
    set_ui_key_value(trip_map_key, 1);
  };
  
  function close_map() {
    //alert('closing map');
    $('#trip_form').removeClass('span6');
    $('#trip_form').addClass('span12');
    $('#trip_map').hide();
    $('#map-icon').removeClass('fa-play');
    $('#map-icon').addClass('fa-map-marker');
    set_ui_key_value(trip_map_key, 0);
  };
   
