.col-xs-12{style: "padding: 0px;"}
  .col-xs-8
    = render partial: 'shared/trip_plan_breadcrumbs'
  .col-xs-4
    = button_tag :type => 'submit', :id => 'planTrip', :class => "btn btn-default pull-right action-button",
      tabindex: 2 do
      =t(:plan)
      :javascript
        $('#planTrip').click(function() {
          $('#new_trip_proxy').submit();
        });
.row
  .col-sm-7.col-xs-12
    - Rails.logger.info "\n#{@trip_proxy.ai}\n"
    - Rails.logger.info "\n#{@trip_proxy.errors}\n"
    = simple_form_for @trip_proxy, :url => @trip_proxy.id.nil? ? user_trips_path : user_trip_path, :method => @trip_proxy.id.nil? ? 'post' : 'put', :html => {:class => "plan-a-trip form-horizontal no-bottom-margin", :style => "margin-top:10px;margin-bottom:0px;"}, wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :plan_trip_radio}  do |f|
      .col-xs-12.panel.panel-default
        .panel-body
          = f.hidden_field :mode
          = f.hidden_field :from_place_object, :id => "from_place_object"
          = f.hidden_field :to_place_object, :id => "to_place_object"
          = f.hidden_field :map_center, id: "map_center"

          #tripOptions
            .inline-radio
              = f.input :is_round_trip, as: :radio_buttons, label: t(:trip), collection: [[t(:round_trip), 1], [t(:one_way), 0]],
                checked: (@trip_proxy.is_round_trip ? "1" : "0"),
                input_html: { tabindex: 1 }

              :javascript
                $('#tripOptions :radio').change(function() {
                  if(this.value === '0') {
                    $('#returnDatetimeOptions').hide();
                  } else {
                    $('#returnDatetimeOptions').show();
                  }
                });

          #baseModes
            = f.input :modes, as: :check_boxes, collection: @modes,
            label_method: :first, value_method: :last, checked: @selected_modes,
            input_html: { tabindex: 1 }

            :javascript
              $('#trip_proxy_modes_mode_transit').change(function() {
              if(this.checked) {
                  $('#transitModes').find('input[type="checkbox"]').each(function() {
                      this.checked = true;
                  });
                  $('#transitModes').show();
                } else {
                  $('#transitModes').hide();
                  $('#transitModes').find('input[type="checkbox"]').each(function() {
                      this.checked = false;
                  });
                }
              });
              $(function() {
              if ($('#trip_proxy_modes_mode_transit')[0].checked) {
                $('#transitModes').show();
              } else {
                $('#transitModes').hide();
              }
              });


          #transitModes
            = f.input :modes, as: :check_boxes, collection: @transit_modes,
            label_method: :first, value_method: :last, checked: @selected_modes, label: false,
            collection_wrapper_class: 'col-md-offset-5', collection_wrapper_tag: :div,
            input_html: { tabindex: 1 }


          = f.input :trip_purpose_id, :collection =>  TripPurpose.ordered_by_localized_name, :selected => @trip_proxy.trip_purpose_id, :value => :id, :label_method => lambda { |v| t(v.name)},
          input_html: { tabindex: 1, class: 'form-control' }

          = render partial: 'location_input', locals: {dir: 'from', f: f}
          = render partial: 'location_input', locals: {dir: 'to', f: f}

          .form-group
            = render partial: 'date_time_input', locals: {dir: 'outbound', f: f}

          #returnDatetimeOptions{style: (@trip_proxy.is_round_trip ? '' : 'display: none;')}
            .form-group
              = render partial: 'date_time_input', locals: {dir: 'return', f: f}

  = render partial: 'shared/splash'
