%a.span12.thumbnail.actionbutton{alt: t(:paratransit), title: t(:paratransit), href: 'http://portal.cobbcountyga.gov/index.php?option=com_content&id=583&Itemid=602'}
  .row-fluid
    %p.text-center.mode_title= t(:paratransit)
  .row-fluid
    .span4
      -#= image_tag action[:img], alt: action[:label]
      %i.icon-truck-sign.mode_icon_formatting
    .span8
      .row-fluid
        .span4
          %p= t(:duration)
        .span8
          %strong= itinerary.duration_to_words(itinerary.duration)
      .row-fluid
        .span4.arrival_label
          %p= t(:walking)
        .span8.arrival_time
          %strong None
      .row-fluid
        .span4.arrival_label
          %p= t(:cost)
        .span8.arrival_time
          %strong= '$' + ("%.2f" % itinerary.cost).to_s
  .row-fluid
    %h4.text-center Cobb Community Transit
    %h5.text-center Click to apply for this service.
    %h6.text-center (*Demo Data Only)