- ItineraryDecorator.decorate_collection(@itineraries.valid).each do |itinerary|
  - if not itinerary.service.booking_service_code.blank? and user_signed_in? and Oneclick::Application.config.allows_booking
    = button_tag :type => 'button', :class => "btn action-button", "data-target" => "#bookingModal", "data-toggle" => "modal" do
      =translate_helper_translate(:book)
    = render partial: 'booking_modal'
    - break
= link_to '#', {onclick: "window.open('" + show_printer_friendly_user_trip_url(@traveler,@trip, print: true) +  "'); return false;", class: 'btn action-button', data: {toggle: 'modal'}} do
  = translate_helper_translate(:print)
= link_to '#', {href: '#send_trip_by_email', class: 'btn action-button', data: {toggle: 'modal'}} do
  = translate_helper_translate(:email)