%div{:class => "modal hide fade", :id => "send_trip_by_email"}
  %div{:class => "modal-header"}
    .row-fluid
      .span12
        = simple_form_for :email, url: email_user_trip_path(@traveler, @trip), html: { class: 'form-horizontal',
          id: 'send_by_email_form' }, data: {dismiss: 'modal'}  do |f|
          = f.error_notification
          - if user_signed_in?
            - if is_assisting
              = f.input :send_email_to, label: t(:send_email_to), :required => false, collection: [[@traveler.first_name + " " + @traveler.last_name + ": " + @traveler.email, @traveler.email], ['Me: '+  @current_user.email, @current_user.email]], :input_html => { :checked => true}, :as => :check_boxes
            - else
              = f.input :send_email_to, label: t(:send_email_to), :required => false, collection: [['Me: '+  @current_user.email, @current_user.email]], :input_html => { :checked => true}, :as => :check_boxes
          - else
            = f.input :from, label: t(:from_address), required: true
          = f.input :email_addresses, label: t(:additional_emails), required: false
          = button_tag type: :submit, class: 'btn btn-info' do
            %i.icon-envelope
            =t(:e_mail)
:javascript
  $('#send_by_email_form').on('submit', function() {
    $('#send_trip_by_email').modal('hide')
  })
