%div{:class => "modal hide fade", :id => "send_trip_by_email"}
  %div{:class => "modal-header"}
    .row-fluid
      .span12
        = simple_form_for :email, url: email_user_trip_path(trip), html: { class: 'form-horizontal',
          id: 'send_by_email_form' }, data: {dismiss: 'modal'}  do |f|
          = f.error_notification
          - if user_signed_in?
            - if assisting?
              = f.input :send_to_traveler, as: :boolean, label: 'Send to traveler'
          - else
            = f.input :from, label: 'From address', required: true
          = f.input :email_addresses, label: 'Email addresses', required: false
          = button_tag type: :submit, class: 'btn btn-info' do
            %i.icon-envelope
            =t(:e_mail)
:javascript
  $('#send_by_email_form').on('submit', function() {
    $('#send_trip_by_email').modal('hide')
  })