.modal.hide.fade#send_trip_by_email_to_provider
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3= translate_helper_translate(:send_request_to_provider)
    -if @trip.outbound_part.selected_itinerary and @trip.outbound_part.selected_itinerary.service
      -@service = @trip.outbound_part.selected_itinerary.service
    -elsif @trip.return_part.selected_itinerary
      -@service = @trip.return_part.selected_itinerary.service

    -if (@trip.outbound_part.selected_itinerary and @trip.outbound_part.selected_itinerary.service) or (@trip.return_part.selected_itinerary and @trip.return_part.selected_itinerary.service)
      = simple_form_for :email, url: email_provider_user_trip_path(@traveler, @trip), html: { class: 'form-horizontal',
        id: 'send_by_email_to_provider_form' }  do |f|
        = f.error_notification message: print_messages(f)
        - if user_signed_in?
          - if assisting?
            = f.input :send_to_traveler, as: :boolean, label: translate_helper_translate(:send_to_traveler)
        = f.input :provider, label: translate_helper_translate(:provider_name), required: false, disabled: true, :input_html => { :value => @service.provider.name }
        = f.input :service, label: translate_helper_translate(:service), required: false, disabled: true, :input_html => { :value => @service.name }
        = f.input :email_addresses, label: translate_helper_translate(:email), required: false, disabled: true, :input_html => { :value => @service.provider.email}
        = f.input :comments, as: :text, label: translate_helper_translate(:comments), required: false, input_html: {rows: 3}
        = f.input :copy_self, as: :boolean
        .modal-footer
          = button_tag type: :submit, class: 'btn action-button' do
            %i.fa.fa-envelope-o
            = translate_helper_translate(:send)
          = link_to '#', :class => "cancel_provider_link" do
            %i.fa.fa-reply
            = translate_helper_translate(:cancel)

:javascript
  $('#send_by_email_to_provider_form').on('submit', function() {
    $('#send_trip_by_email_to_provider').modal('hide')
  })
  $('.cancel_provider_link').on('click', function() {
    $('#send_trip_by_email_to_provider').modal('hide')
  })

