#send_trip_by_email.modal.fade{"role" => "dialog", "data-back" => "static", "tabindex" => "-1", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      = simple_form_for :email, url: email_user_trip_path(@traveler, @trip, itinids: params[:itinids], locale: I18n.locale), html: { id: 'send_by_email_form' }  do |f|
        .modal-header
          .pull-right
            = button_tag type: :submit, class: 'btn action-button', id: 'send_email_button' do
              = translate_helper(:send)
            %button{"type" => "button", "class" => "btn action-button", "data-dismiss" => "modal"}= translate_helper(:cancel)
          %h3.modal-title= translate_helper(:send_trip_by_email)
        .modal-body
          = f.error_notification message: print_messages(f)
          - if user_signed_in?
            = f.input :email_addresses, label: translate_helper(:to), required: true, hint: translate_helper(:email_hint), :input_html => { :value => get_traveller_related_emails(@traveler, is_assisting)}
          - else
            = f.input :email_addresses, label: translate_helper(:to), required: true, hint: translate_helper(:email_hint)
          = f.input :email_comments, as: :text, label: translate_helper(:comments), required: false, input_html: {rows: 3}

