%table
  %tr
    %td.itinerary_icons
      %i.fa.fa-play.mode_icon_formatting{:class => 'start_icon'}
    %td.itin_text_container
      .itinerary_text
        %p= t(:start) + itinerary.trip_part.from_trip_place.name
      .itinerary_text_small
        = format_time(itinerary.start_time.in_time_zone)

  - itinerary.get_legs.each do |leg|
    %tr
      %td.itinerary_icons
        - if leg.respond_to? :agency_id and not leg.agency_id.nil?
          %img{:src => get_service_provider_icon(leg.agency_id, leg.mode), alt: "#{leg.mode.downcase} Mode Icon"}
        - else
          %img{:src => get_mode_icon(leg.mode), alt: "#{leg.mode.downcase} Mode Icon"}
      %td.itin_text_container
        .itinerary_text
          %p= leg.short_description
        .itinerary_text_small
          = format_time(leg.start_time) + ' ' + t(:to) + ' ' + format_time(leg.end_time)
  %tr
    %td.itinerary_icons
      %i.fa.fa-stop.mode_icon_formatting{:class => 'end_icon'}
    %td.itin_text_container
      .itinerary_text
        %p= t(:arrive) + itinerary.trip_part.to_trip_place.name
      .itinerary_text_small
        = format_time(itinerary.end_time.in_time_zone)
