.modal-dialog.modal-lg{"data-itinerary-id" => @itinerary.id}
  .modal-content
    .modal-body{style: "padding: 5px;"}
      .col-sm-12.well{style: "padding: 5px; height: 100%; margin-bottom: 0; overflow-y: scroll;"}
        .col-sm-12#trip_details_header{style: "padding: 5px 0px;"}
          %button.btn.btn-default.pull-right.action-button{"type" => "button", "data-dismiss" => "modal"}=t(:close)
          %b.modal-title
            = "#{t(:trip_details)} - " + @itinerary.trip_part.description_without_direction
            = add_tooltip("trip_details_help")
            :javascript
              createPopover(".modal-title .label-help");
              $(".modal-title .label-help").removeClass('fa-2x pull-right');
        #trip_summary_header
          = render :partial => 'trip_plan_summary_header', :locals => { :itinerary => @itinerary }
        - if @itinerary.is_mappable
          .col-sm-5#directions{style: "background: white; border-radius: 5px; overflow-y:scroll; height: auto; max-height: 89%; padding: 5px;"}
            = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
          .sr-only{aria: {label: "Map."}} Map.
          .col-sm-7#map_container{style: "border-radius: 5px; padding: 0px; height: 89%;", aria: {hidden: 'true'}}
            = render :partial => 'map_details', :locals => { :itinerary => @itinerary, :mapid => 'review_map'}
        - else
          .col-sm-12{style: "background: white; border-radius: 5px; overflow-y:auto; max-height: 300px;"}
            = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }

= yield :scripts

:javascript
  $(document).ready(function(){

    var makeFullscreen = function(){
      var minMapHeight = 200;
      var newMainHeight = $(window).outerHeight(true);
      var mapHeaderHeight = $('#trip_details_header').outerHeight(true)
                          + $('#trip_summary_header').outerHeight(true);
      var newMapHeight = newMainHeight - mapHeaderHeight;
      if (newMapHeight < minMapHeight) {
        newMapHeight = minMapHeight;
        newMainHeight = newMapHeight + mapHeaderHeight;
      }
      $('.modal-fullscreen').height(newMainHeight);
      $('#directions, #map_container, #review_map').height(newMapHeight - 5);
      $('#review_map, #map_container, #directions').height($('#map_container').outerHeight(true) - 75);
      $('#directions').height($('#map_container').outerHeight(true) - 8);
    }

    $('#itinerary_modal').on('shown.bs.modal', function() {
      makeFullscreen();

      $(window).on('resize', function(){
        makeFullscreen();
      });
    });
  });
