%a.span12.thumbnail.actionbutton{alt: t(:transit), title: t(:transit), href: '/501.html'}
  .row-fluid
    .span4
      %i.icon-bus-sign.mode_icon_formatting
    .span8 
      .row-fluid
        .span12
          %p.mode_title=t(:transit)
      .row-fluid
        .span4
          %p= t(:duration)
        .span8
          %strong= itinerary.duration_to_words(itinerary.duration)
      .row-fluid
        .span4.arrival_label
          %p= t(:walking)
        .span8.arrival_time
          %strong= itinerary.duration_to_words(itinerary.walk_time)
      .row-fluid
        .span4
          %p= t(:depart)
        .span8.departure_time
          %strong= itinerary.start_time.localtime.strftime('%I:%M %p') unless itinerary.start_time.nil?
      .row-fluid
        .span4.arrival_label
          %p= t(:arrive)
        .span8.arrival_time
          %strong= itinerary.end_time.localtime.strftime('%I:%M %p') unless itinerary.end_time.nil?
         
  = render :partial => 'legs_summary', :locals => { :legs => YAML.load(itinerary.legs) } unless itinerary.legs.nil?
