%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable
  %thead
    %tr
      -if show_username
        %th= t(:traveler)
      %th= t(:trip_date)
      %th= t(:from)
      %th= t(:to)
      %th= t(:trip_purpose)
      - if Rating.feedback_on?
        %th.center= t(:rating)
        %th.center.nowrap= t(:feedback)
      -if Oneclick::Application.config.allows_booking
        %th.center
          = t(:cancel_booking)
        %th.center
          = "Trip Confirmation Numbers"
      %th.center= t(:actions)
      - if ENV['SHOWALL']
        %th.center= t(:max_notes)
      - if can? :send_follow_up, Trip
        %th= t(:send_follow_up_email)
      %th
  %tbody{ :id => 'trips_table'}
    - trips = RateableDecorator.decorate_collection(trips)
    - rateable_trip_ids = []
    - bookeable_trip_ids = []
    - trips.each do |trip|
      -if trip.both_parts_selected?
        -tripID = "trip#{trip.id}"
        %tr
          - if show_username
            %td= trip.user
          %td.nowrap= format_date(trip.trip_datetime)
          %td= trip.from_place.name
          %td= trip.to_place.name
          %td= t(trip.trip_purpose.name)
          - if Rating.feedback_on?
            %td.nowrap{id: "#{tripID}Rating"}
              = trip.rating_in_stars
            %td.center.nowrap
              - if can? :create, trip.ratings.build
                - if (not trip.in_the_future and can? :create, trip.ratings.build) or Rails.env.development?
                  - rateable_trip_ids << trip.id
                  - modal_name = "##{tripID}RatingModal"
                  %button.btn.btn-default.action-button{data: {toggle: 'modal', target: modal_name, remote: new_trip_rating_path(trip)}}
                    = t(:feedback)
          -if Oneclick::Application.config.allows_booking
            %td.center
              -if trip.is_booked? and trip.in_the_future
                = button_tag :type => 'button', "data-target" => "#cancelTripConfirmDialog", "data-toggle" => "modal", :alt => t(:cancel_trip), :title => t(:cancel_trip), :class => "btn action-button btn-danger delete-button" do
                  = t(:cancel)
                #cancelTripConfirmDialog.modal.fade.col-sm-12{"aria-describedby" => t(:cancel_trip), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        .pull-right
                          = link_to cancel_user_trip_path(traveler, trip), {:class => "btn action-button", :method => :post} do
                            = t(:ok)
                          = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
                            = t(:cancel)
                        .modal-title{:style => "text-align:left;"}
                          %b
                            = t(:site_title)
                      .modal-body{:style => "text-align:left;"}
                        = t(:confirm_cancel_trip)
            %td.center
              - trip.trip_parts.each do |tp|
                - tp.itineraries.where.not(booking_confirmation: nil).each do |itinerary|
                  =itinerary.booking_confirmation
          %td.center.nowrap
            = link_to repeat_user_trip_path(traveler, trip), {:alt => t(:repeat_trip), :title => t(:repeat_trip), :class => "btn btn-sm"} do
              %i.fa.fa-rotate-right
            - if not trip.is_booked?
              - if trip.in_the_future
                = link_to edit_user_trip_path(traveler, trip), {:class => "btn btn-sm", :alt => t(:edit_trip), :title => t(:edit_trip)} do
                  %i.fa.fa-edit
              = button_tag :type => 'button', "data-target" => "#deleteTrip" + trip.id.to_s + "ConfirmDialog", "data-toggle" => "modal", :alt => t(:remove_trip), :title => t(:remove_trip), :class => "btn btn-sm btn-danger delete-button" do
                %i.fa.fa-times
              .modal.fade.col-sm-12{:id => "deleteTrip#{trip.id}ConfirmDialog", "aria-describedby" => t(:remove_trip), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      .pull-right
                        = link_to user_trip_path(traveler, trip), {:style => 'margin-right: 5px;', :class => "btn action-button", :method => :delete} do
                          = t(:ok)
                        = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
                          = t(:cancel)
                      .modal-title{:style => "text-align:left;"}
                        %b
                          = t(:site_title)
                    .modal-body{:style => "text-align:left;"}
                      = t(:confirm_remove_trip)
          - if ENV['SHOWALL']
            %td= "%s / %s" % [trip.outbound_part.max_notes_count, trip.return_part.max_notes_count]
          - if can? :send_follow_up, trip
            %td.center
              = link_to email_feedback_user_trip_path(traveler, trip, locale: I18n.locale), class: "btn action-button" do
                - t(:send)
          %td.center
            = link_to plan_user_trip_path(traveler, trip) do
              =t(:details)
- rateable_trip_ids.each do |rateable_trip_id|
  = render partial: 'trips/trip_rating', locals: {id: rateable_trip_id}

:javascript
  $(document).ready(function() {
    $('#datatable').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ trips per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ trips",
              "sInfoEmpty": "Showing 0 to 0 of 0 trips",
              "sInfoFiltered": "(filtered from _MAX_ total trips)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );