= form_tag geocode_user_trips_path, :remote => true, :id => "query_form" do
  = hidden_field_tag :query
  = hidden_field_tag :target

- if user_signed_in?
  - unless current_user.travelers.empty?
    = render "select_traveler_form"

= simple_form_for @trip_proxy, :url => @trip_proxy.id.nil? ? user_trips_path : user_trip_path, :method => @trip_proxy.id.nil? ? 'post' : 'put', :html => {:class => "no-bottom-margin", :style => "margin-top:10px;margin-bottom:0px;"}  do |f|
  = f.hidden_field :mode
  = f.hidden_field :from_place_selected, :id => "from_place_selected"
  = f.hidden_field :to_place_selected, :id => "to_place_selected"
  = f.hidden_field :from_place_selected_type, :id => "from_place_selected_type"
  = f.hidden_field :to_place_selected_type, :id => "to_place_selected_type"

  - if user_signed_in?
    = f.input :from_place, :wrapper => :append, :class => "inline", :label => t(:from) do
      = f.text_field :from_place, :placeholder => t(:enter_address), :id => "trip_proxy_from_place", :autocomplete => "off", :class => "no-bottom-margin ajax-typeahead input-large", :data => {:link => search_user_places_path, :provide => "typeahead"}
      %span.dropdown
        %a.add-on.btn.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#', :class => @places.empty? ? "disabled" : ""}
          %span.caret
        - if @places.count > 0
          %ul.dropdown-menu{:data => {:target => 'trip_proxy_from_place'}}
            - @places.each do |p|
              %li
                %a.place-option{:data => {:value => p["name"], :id => p["id"], :latlon => [p["lat"], p["lng"]], :desc => p["description"], :type => "from"}}
                  = p["name"]
      - unless @traveler.home
        = f.input :from_is_home, id: "from_is_home", as: :boolean, :label => false, :inline_label => "This is my home"

      = image_tag "ajax-loader.gif", :id => "from_geocoding_indicator", :style => "display:none;", :class => "loading-indicator"

  - else
    = f.input :from_place, :class => "inline", :label => t(:from) do
      = f.text_field :from_place, :placeholder => t(:enter_address), :id => "trip_proxy_from_place", :autocomplete => "off", :class => "no-bottom-margin ajax-typeahead input-large", :data => {:link => search_user_trips_path, :provide => "typeahead"}
      = f.input :from_is_home, id: "from_is_home", as: :boolean, :label => false, :inline_label => "This is my home"
      = image_tag "ajax-loader.gif", :id => "from_geocoding_indicator", :style => "display:none;", :class => "loading-indicator"


  #from_place_candidates{:style => "display:none;"}
    = render :partial => 'alt_address_select', :locals => {:results => [], :type => "from"}

  - if user_signed_in?
    = f.input :to_place, :wrapper => :append, :class => "inline", :label => t(:to) do
      = f.text_field :to_place, :placeholder => t(:enter_address), :id => "trip_proxy_to_place", :autocomplete => "off", :class => "no-bottom-margin ajax-typeahead input-large", :data => {:link => search_user_places_path, :provide => "typeahead"}
      %span.dropdown
        %a.add-on.btn.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#', :class => @places.empty? ? "disabled" : ""}
          %span.caret
        - if @places.count > 0
          %ul.dropdown-menu{:data => {:target => 'trip_proxy_to_place'}}
            - @places.each do |p|
              %li
                %a.place-option{:data => {:value => p["name"], :id => p["id"], :latlon => [p["lat"], p["lng"]], :desc => p["description"], :type => "to"}}
                  = p["name"]
      - unless @traveler.home
        = f.input :to_is_home, id: "to_is_home", as: :boolean, :label => false, :inline_label => "This is my home"
      = image_tag "ajax-loader.gif", :id => "to_geocoding_indicator", :style => "display:none;", :class => "loading-indicator"

  - else
    = f.input :to_place, :class => "inline", :label => t(:to) do
      = f.text_field :to_place, :placeholder => t(:enter_address), :id => "trip_proxy_to_place", :class => "no-bottom-margin ajax-typeahead input-large", :autocomplete => "off", :data => {:link => search_user_trips_path, :provide => "typeahead"}
      = f.input :to_is_home, id: "to_is_home", as: :boolean, :label => false, :inline_label => "This is my home"
      = image_tag "ajax-loader.gif", :id => "to_geocoding_indicator", :style => "display:none;", :class => "loading-indicator"

  #to_place_candidates{:style => "display:none;"}
    = render :partial => 'alt_address_select', :locals => {:results => [], :type => "to"}

  = f.input :trip_date, :wrapper => :append, :label => t(:trip_date) do
    #trip-date
      = f.input_field :trip_date, :as => :string, :label => false, :style => "width:160px;"
      %span.add-on
        %i.icon-calendar

  = f.input :arrive_depart, :collection => [t(:departing_at), t(:arriving_by)], :include_blank => false, :label => t(:arrive_depart), :input_html => {:style => "width:200px;"}

  = f.input :trip_time, :wrapper => :append, :label => t(:trip_time) do
    #trip-time
      = f.input_field :trip_time, :as => :string, :label => false, :style => "width:160px;"
      %span.add-on
        %i.icon-time

  = f.input :trip_purpose_id, :collection => TripPurpose.all, :label => t(:trip_purpose), :selected => @trip_proxy.trip_purpose_id, :input_html => {:style => "width:200px;"}

  = f.input :is_round_trip, :label => false, :wrapper_html => {:class => 'controls controls-row'} do
    = f.input_field :is_round_trip, :as => :boolean, :inline_label => "Return after"
    = f.input :return_trip_time, :label => false, :wrapper => :append do
      #return-trip-time
        = f.input_field :return_trip_time, :as => :string, :label => false, :style => "width:160px;"
        %span.add-on
          %i.icon-time

  .form-actions
    = button_tag :type => 'submit', :class => "btn btn-primary" do
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:plan_it)
    = link_to :back, :class => "cancel_link" do
      %i.icon.icon-reply
      = t(:cancel)
