.modal-header
  .row-fluid
    .span12
      .row-fluid
        .span6
          %h3.dialog-title{:STYLE => "margin:0px;vertical-align:top;"}
            %i.fa.fa-2x{:class => get_trip_summary_icon(@itinerary)}
            = get_trip_summary_title(@itinerary)
        .span6
          .pull-right{:style => "display: inline-block"}
            %a{class: "button btn btn-mini btn-danger", "data-dismiss" => "modal"}
              %i.danger.fa-times
              =t(:close)
.modal-body
  = render :partial => 'trip_summary_header', :locals => { :itinerary => @itinerary }
  .thumbnail
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to "Details", "#details_tab", :data => {:toggle => "tab"}
        - if @itinerary.is_mappable
          %li
            = link_to "Map", "#map_tab", :id => 'map_tab_link', :data => {:toggle => "tab"}
      
      .tab-content
        #details_tab.tab-pane.active
          = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
        - if @itinerary.is_mappable
          #map_tab.tab-pane
            = render :partial => 'map_details', :locals => { :itinerary => @itinerary }

.modal-footer
  .row-fluid
    .pull-right{:style => "display: inline-block"}
      .span12.btn-toolbar
        %button.btn.btn-info
          %i.fa.fa-print
          =t(:print)
        %button.btn.btn-info
          %i.fa.fa-comments
          =t(:chat)
        %button.btn.btn-info{:id => "email_itinerary"}
          =link_to '#', {href: '#send_itinerary_by_email_' + @itinerary.id.to_s, class: "btn-info", data: {toggle: 'modal'}} do
            %i.fa.fa-envelope-o
            =t(:e_mail)


:javascript
  $('body').on('shown', '#map_tab_link', function() {
    $('#lmap').css('height', '300px');
    //alert("invalidating map");
    invalidateMap();
    showMap();
  });

  $('#email_itinerary').click(function(){
        $('#itinerary_modal').modal('hide');
   });



= yield :scripts
