.modal-header
  .row-fluid
    .span12
      .row-fluid
        .span6
          %h3.dialog-title{:STYLE => "margin:0px;vertical-align:top;"}
            %i.icon.icon-2x{:class => get_trip_summary_icon(@itinerary)}
            = get_trip_summary_title(@itinerary)
        .span6
          .pull-right{:style => "display: inline-block"}
            %a{class: "button btn btn-mini btn-success", "data-dismiss" => "modal"}
              %i.icon-reply
              =t(:return)
            =link_to hide_user_trip_path(@traveler, @trip, :itinerary => @itinerary), {"data-dismiss" => "modal",  class: "btn btn-mini btn-danger", remote: true} do
              %i.icon-remove
              =t(:remove)
.modal-body
  = render :partial => 'trip_summary_header', :locals => { :itinerary => @itinerary }
  .thumbnail
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to "Details", "#details_tab", :data => {:toggle => "tab"}
        - if @itinerary.is_mappable
          %li
            = link_to "Map", "#map_tab", :id => 'map_tab_link', :data => {:toggle => "tab"}
      
      .tab-content
        #details_tab.tab-pane.active
          = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
        - if @itinerary.is_mappable
          #map_tab.tab-pane
            = render :partial => 'map_details', :locals => { :itinerary => @itinerary }

.modal-footer
  .row-fluid
    .pull-right{:style => "display: inline-block"}
      .span12.btn-toolbar
        %button.btn.btn-info
          %i.icon-print
          =t(:print)
        %button.btn.btn-info
          %i.icon-comments
          =t(:chat)
        %button.btn.btn-info
          %i.icon-envelope
          =t(:e_mail)
                
:javascript
  $('body').on('shown', '#map_tab_link', function() {
    $('#lmap').css('height', '300px');
    //alert("invalidating map");
    invalidateMap();
    showMap();
  });

= yield :scripts
