.col-sm-12.well{style: "padding: 5px;"}
  %label.col-sm-12{style: "padding: 0px;"}
    = get_trip_summary_title(@itinerary)
  = render :partial => 'trip_plan_summary_header', :locals => { :itinerary => @itinerary }
  - if @itinerary.is_mappable
    .col-sm-6{style: "background: white; margin-bottom: 5px; border-radius: 5px; overflow:scroll; max-height: 300px;"}
      = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
    .col-sm-6{style: "height: 300px; background: white; border-radius: 5px; padding: 0px;"}
      = render :partial => 'map_details', :locals => { :itinerary => @itinerary }
  - else
    .col-sm-12{style: "height: 300px; background: white; border-radius: 5px; padding: 0px;"}
      = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
