%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable
  %thead
    %tr
      %th{:style => 'width:26px'}
      %th= t(:trip_date)
      %th= t(:from)
      %th= t(:to)
      %th= t(:trip_purpose)
      %th.center= t(:rating)
      %th.center.nowrap= t(:feedback)
      %th.center= t(:actions)
      - if Rails.env.development?
        %th.center= t(:max_notes)
  %tbody{ :id => 'trips_table'}
    - trips.each do |trip|
      -tripID = "trip#{trip.id}"
      %tr
        - if trip.in_the_future
          %td.center.nowrap          
            %i.fa.fa-asterisk
        - else
          %td.center.nowrap
        %td.nowrap= format_date(trip.trip_datetime)
        %td= trip.from_place.name
        %td= trip.to_place.name
        %td= t(trip.trip_purpose.name)
        %td.nowrap{id: "#{tripID}Rating"}
          = trip.rating_in_stars
        %td.center.nowrap
          - modal_name = "##{tripID}RatingModal"
          %button.btn.btn-block{data: {toggle: 'modal', target: modal_name, remote: new_trip_rating_path(trip)}}
            = t(:feedback)
          
        - if trip.in_the_future
          %td.center.nowrap          
            = link_to user_trip_path(traveler, trip), {:class => "btn btn-sm", :alt => t(:plan_trip), :title => t(:plan_trip)} do
              %i.fa.fa-mail-forward
            = link_to edit_user_trip_path(traveler, trip), {:class => "btn btn-sm", :alt => t(:edit_trip), :title => t(:edit_trip)} do
              %i.fa.fa-edit
            = link_to user_trip_path(traveler, trip), {:alt => t(:remove_trip), :title => t(:remove_trip), :class => "btn btn-sm btn-danger delete-button", :method => :delete, :confirm => t(:confirm_remove_trip)} do
              %i.fa.fa-times
        - else
          %td.center.nowrap          
            = link_to repeat_user_trip_path(traveler, trip), {:alt => t(:repeat_trip), :title => t(:repeat_trip), :class => "btn btn-sm"} do
              %i.fa.fa-rotate-right
        - if Rails.env.development?
          %td= "%s / %s" % [trip.outbound_part.max_notes_count, trip.return_part.max_notes_count]
      = render partial: 'trip_rating', locals: {id: trip.id}

:javascript
  $(document).ready(function() {
    $('#datatable').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ trips per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ trips",
              "sInfoEmpty": "Showing 0 to 0 of 0 trips",
              "sInfoFiltered": "(filtered from _MAX_ total trips)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );    