.row-fluid
  .span12
    %table.table
      -if itinerary.service

        =format_itinerary_item do
          = itinerary.service.name
        =format_itinerary_item do
          = itinerary.service.provider.name
          
      -if itinerary.is_walk
        =format_itinerary_item do
          = distance_to_words(itinerary.walk_distance)
        =format_itinerary_item do
          = duration_to_words(itinerary.walk_time)
      - else     
        -if itinerary.duration
          = format_itinerary_item do
            = duration_to_words(itinerary.duration) + " (est.)"     
        -if itinerary.cost
          =format_itinerary_item do
            = number_to_currency(itinerary.cost) + ' (est.)'
        -if itinerary.cost_comments
          =format_itinerary_item do
            = "CLICK for cost details."
        -if itinerary.transfers
          =format_itinerary_item do
            = I18n.translate(:transfer, count: itinerary.transfers)
        -if itinerary.trip_part.is_depart == false && itinerary.end_time
          =format_itinerary_item do
            = t(:arrive_at) + ' ' + format_time(itinerary.end_time.in_time_zone)
        -if itinerary.trip_part.is_depart == true && itinerary.start_time
          =format_itinerary_item do
            = t(:depart_at) + ' ' + format_time(itinerary.start_time.in_time_zone)
        -if itinerary.walk_time
          =format_itinerary_item do
            = duration_to_words(itinerary.walk_time) + t(:walking)
        -if itinerary.mode.name.downcase=='rideshare'
          =format_itinerary_item do
            = t(:possible_rideshares1, count: itinerary.ride_count)
          =format_itinerary_item do
            = t(:possible_rideshares2)
          =format_itinerary_item do
            = t(:view_details1)
          =format_itinerary_item do
            = t(:view_details2)

