.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = "Trip: " + @trip.id.to_s
    
.row-fluid
  .span12
    .row-fluid
      .span5
        %fieldset
          %legend Transaction
          %p.span12
            %span.span4.text-right Owner:          
            %span.span8= @trip.owner.nil? ? "anonymous" : link_to(@trip.owner.name, user_path(@trip.owner))      
          %p.span12
            %span.span4.text-right Trip Date:          
            %span.span8= format_date_time(@trip.trip_datetime)          
          %p.span12
            %span.span4.text-right Arrive/Depart:          
            %span.span8= @trip.arrive_depart      
          %p.span12
            %span.span4.text-right Created:          
            %span.span8= format_date_time(@trip.created_at)          
      .span7
        %fieldset
          %legend Places
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Place
                %th.left Address
                %th.center Geocoded
                %th.center Actions
            %tbody
              - @trip.places.each do |place|
                %tr
                  %td.left= place.name
                  %td.left= place.nongeocoded_address
                  %td.center= get_boolean(! place.lat.nil?)
                  %td.center
                    = link_to "#", {class: "btn btn-mini btn-success text-center"} do
                      %i.icon-search
                      =t(:view)

    .row-fluid
      .span12
        %fieldset
          %legend Itineraries
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Mode
                %th.center Hidden
                %th.center Start Time
                %th.center End Time
                %th.left Walk Time
                %th.left Transit Time
                %th.left Wait Time
                %th.left Walk Dist                
                %th.center Cost
            %tbody
              - @trip.itineraries.each do |itin|
                %tr
                  %td.left= itin.mode
                  %td.center= get_boolean(itin.hidden)
                  %td.center= format_date_time(itin.start_time)
                  %td.center= format_date_time(itin.end_time)
                  %td.left= duration_to_words(itin.walk_time)
                  %td.left= duration_to_words(itin.transit_time)
                  %td.left= duration_to_words(itin.wait_time)
                  %td.left= distance_to_words(itin.walk_distance)
                  %td.right= number_to_currency(itin.cost)
