.row
  .span12
    %h1
      %i.fa.fa-tags
      = t(:trip) + @trip.id.to_s
    
.row
  .span12
    .row
      .span4
        %fieldset
          %legend= t(:trip_details)
          %p.span12
            %span.span4.text-right= t(:user) + ":"
            %span.span8= @trip.user.nil? ? t(:anonymous) : link_to(@trip.user.name, user_path(@trip.user))      
          %p.span12
            %span.span4.text-right= t(:creator) + ":"
            %span.span8= @trip.creator.nil? ? "" : link_to(@trip.creator.name, user_path(@trip.creator))      
          %p.span12
            %span.span4.text-right= t(:trip_date) + ":"          
            %span.span8= format_date_time(@trip.trip_datetime)          
          %p.span12
            %span.span4.text-right= t(:return) + ":"
            %span.span8= @trip.is_return_trip ? t(:yes_str) : t(:no_str)
          %p.span12
            %span.span4.text-right= t(:trip_purpose) + ":"
            %span.span8= @trip.trip_purpose.name      
          %p.span12
            %span.span4.text-right= t(:created) + ":"
            %span.span8= format_date_time(@trip.created_at)          
      .span8
        %fieldset
          %legend= t(:places)
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left= t(:place)
                %th.left= t(:type)
                %th.left= t(:address)
                %th.center= t(:location)
                %th.center= t(:actions)
            %tbody
              - @trip.trip_places.each do |place|
                %tr
                  %td.left= place.name
                  %td.left= place.type
                  %td.left= place.address
                  %td.center.nowrap
                    = sprintf("[%.6f, %.6f]", place.location[0], place.location[1]) unless place.location[0].nil?
                  %td.center.nowrap
                    = link_to "#", {class: "btn btn-mini btn-success text-center"} do
                      %i.fa.fa-search
                      =t(:view)

    .row
      .span12
        %fieldset
          %legend= t(:itineraries)
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left= t(:mode)
                %th.center= t(:direction_short)
                %th.center= t(:status)
                %th.center= t(:hidden)
                %th.center= t(:start_time)
                %th.center= t(:end_time)
                %th.left= t(:walk_time)
                %th.left= t(:transit_time)
                %th.left= t(:wait_time)
                %th.left= t(:walk_distance_short)
                %th.center= t(:cost)
                  
            %tbody
              - @trip.itineraries.each do |itin|
                %tr
                  %td.left= itin.mode
                  %td.center= itin.trip_part.is_return_trip ? t(:in_str) : t(:out_str)
                  %td.center
                    = link_to "#", :class => "action_popover", :data => {:content => itin.server_message, :html => true, :trigger => 'hover', :title => 'Server Message'} do
                      = itin.server_status
                  %td.center= get_boolean(itin.hidden)
                  %td.center= format_date_time(itin.start_time)
                  %td.center= format_date_time(itin.end_time)
                  %td.left= duration_to_words(itin.walk_time)
                  %td.left= duration_to_words(itin.transit_time)
                  %td.left= duration_to_words(itin.wait_time)
                  %td.left= distance_to_words(itin.walk_distance)
                  %td.right= number_to_currency(itin.cost)

:javascript
  $(function() {
    $('.action_popover').popover();
  });
