%ol#wizards.breadcrumb
  %li.breadcrumb-page.prev-page
    %a{href: "#"} Trip
  %li.breadcrumb-page.prev-page
    %a{href: "#"} Options
  %li.breadcrumb-page.prev-page 
    %a{href: "#"} Review
  %li.breadcrumb-page.current-page Plan
.col-xs-12
  .col-xs-12.page-action-button-container
    = button_tag :type => 'submit', :class => "btn btn-default pull-right action-button", :style => "margin-right: 5px;" do
      =t(:email)
    = button_tag :type => 'submit', :class => "btn btn-default pull-right action-button", :style => "margin-right: 5px;" do
      =t(:print)
    = button_tag :type => 'submit', :class => "btn btn-default pull-right action-button", :style => "margin-right: 5px;" do
      =t(:save)
    -ItineraryDecorator.decorate_collection(@itineraries.valid).each do |itinerary|
      -if itinerary.is_bookable?
        = button_tag :type => 'button', :class => "btn btn-default pull-right action-button", :style => "margin-right: 5px;", "data-target" => "#bookingModal", "data-toggle" => "modal" do
          =t(:book)
        = render partial: 'book_trip'
        -break

  - ItineraryDecorator.decorate_collection(@itineraries.valid).each do |itinerary|
    - Rails.logger.info itinerary.ai
    = render :partial => 'trip_single_plan_details', :locals => {:itinerary => itinerary}

