- content_for :title, "Trip Summary - #{t(:site_title)}"
- if !@is_plan_valid
  - unless @is_review
    = render partial: 'shared/trip_plan_breadcrumbs'
- else
  .row
    .col-sm-12
      - unless @is_review
        .pull-right
          = render partial: 'plan_page_buttons'
        = render partial: 'shared/trip_plan_breadcrumbs'
      - else
        .pull-right{style: "padding-bottom: 10px;"}
          = render partial: 'plan_page_buttons'
  - if @assisting_agency
    .col-xs-12.well{style: "padding: 5px;"}
      .col-sm-12{style: "padding: 0px;"}
        =t(:trip_planned_assistance)
        %b=@assisting_agency.name
      -if @assisting_agency.public_comments.for_locale and  !@assisting_agency.public_comments.for_locale.comment.blank?
        .col-sm-12{style: "background: white; border-radius: 5px;"}
          =@assisting_agency.public_comments.for_locale.comment.html_safe
  .col-sm-12
    = render partial: 'shared/page_comments', locals: {key: :plan_header_comment}
  .col-xs-12{style: "padding: 0px;", role: 'main'}
    = render partial: "selected_itineraries_details", locals: { trip: @trip, for_db: false }

  .col-xs-12{style: "margin-bottom: 5px; padding: 0px;"}
    .pull-right
      = render partial: 'plan_page_buttons'
  .col-sm-12
    = render partial: 'shared/page_comments', locals: {key: :plan_footer_comment}
  = render partial: 'send_trip_by_email', locals: {trip: @trip}

- content_for :head do
  %meta{name: 'user_id', content: @trip.user.id}
  %meta{name: 'trip_id', content: @trip.id}
  %meta{name: 'itinerary_ids', content: @trip.itineraries.selected.collect{|i| i.id}.join(',')}
  %meta{name: 'locale', content: I18n.locale}
