%p#notice= notice

.row
  .span12.center
    -#.container-fluid
    - @trip.valid_itineraries.each_slice(3) do |itineraries|
      .row-fluid
        .span12
          %ul.thumbnails
            - itineraries.each do |itinerary|
              %li.span4
                -#.container-fluid
                .row-fluid
                  %a.span12.thumbnail.actionbutton{alt: t(:transit_trip), title: t(:transit_trip), href: '/501.html'}
                    .row-fluid
                      %p.text-center.mode_title Transit
                    .row-fluid
                      .span4
                        -#= image_tag action[:img], alt: action[:label]
                        %i.icon-bus-sign.mode_icon_formatting
                      .span8
                        .row-fluid
                          .span4
                            %p= t(:duration)
                          .span8
                            %strong= itinerary.duration_to_words(itinerary.duration)
                        .row-fluid
                          .span4.arrival_label
                            %p= t(:walking)
                          .span8.arrival_time
                            %strong= itinerary.duration_to_words(itinerary.walk_time)
                        .row-fluid
                          .span4
                            %p= t(:depart)
                          .span8.departure_time
                            %strong= itinerary.start_time.localtime.strftime('%I:%M %p')
                        .row-fluid
                          .span4.arrival_label
                            %p= t(:arrive)
                          .span8.arrival_time
                            %strong= itinerary.end_time.localtime.strftime('%I:%M %p')
                    .row-fluid
                      -YAML.load(itinerary.legs).each_slice(6) do |legs|
                        .row-fluid
                          - legs.each do |leg|
                            .span2
                              %p.transit_itinerary_icons{class: itinerary.get_mode_icon(leg['mode'])}
                              %p.transit_itinerary_text.text-center= leg['route']

= link_to new_trip_path do
  %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
  = t(:plan_a_trip)
