.row-fluid
  .span12
    %h1
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:trip_options)
.well
  .row-fluid
    %h4.span12 #{@trip.from_place.address} to #{@trip.to_place.address}  

.row-fluid
  %ul.thumbnails#itineraries
    = render 'trip_itineraries'
 
.row-fluid
  .well.well-small.span12
    = link_to new_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_trip)

:javascript
  $(document).ready(function() {
    fix_thumbnails();
  });
  
  $(window).resize(function() {
    fix_thumbnails();
  });
  
  function fix_thumbnails() {
    $(".thumbnail").css('height', '');
    $(".thumbnail").css('overflow', '');
    var window_width = $(window).width();
    adjust_thumbnails(window_width);
    make_same_height('.actionbutton');
  };
  
  
  $("#itineraries").on("ajax:error", function(xhr,status){
    alert(status['responseText']);
  });
