.row-fluid
  .span12
    %h1
      %i.icon-bus-sign
      = t(:trip_options)
.well
  .row-fluid
    %h4.span12 #{@trip.from_place.address} to #{@trip.to_place.address}  

.row-fluid
  %ul.thumbnails
    - @trip.valid_itineraries.each do |itinerary|
      %li.trip_summary.thumbnail.box-shadow
        = render :partial => 'trip_summary', :locals => { :itinerary => itinerary, :icon => get_trip_summary_icon(itinerary.mode), :title => get_trip_summary_title(itinerary.mode) }
 
.row-fluid
  .well.well-small.span12
    = link_to new_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_trip)

= render "page_scripts"
