.row-fluid
  .span12
    %h1
      %i.icon-bus-sign
      = t(:trip_options)
.well
  .row-fluid
    %h4.span12 #{@trip.from_place.address} to #{@trip.to_place.address}  

.row-fluid
  %ul.thumbnails#itineraries
    = render 'trip_itineraries'
 
.row-fluid
  .well.well-small.span12
    = link_to new_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_trip)


