- content_for :head do
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"
.row{style: "padding: 0px;"}
  .hidden-xs.col-sm-8
    = render partial: 'shared/trip_plan_breadcrumbs'
  .col-sm-4
    .pull-right
      = link_to new_rating_from_email_user_trip_path(user_id: @trip.user_id, id: @trip.id, :hash => @trip.md5_hash, taken: false), class: "btn action-button" do
        = t(:feedback)
      = button_tag :type => 'button', :name => "planButton", :class => "btn action-button" do
        =t(:next)

.row
- if @tripResponseHash['status'] == 0
  - # flash handles it
- else
  #reviewBaseContainer.row
    .col-xs-12.form-group.hidden-md-lg
      %label.mobile-checkbox{for: 'legendCheckbox', style: 'margin-right: 5px;'}
        %input.mobile-input-checkbox{type:'checkbox',id:'legendCheckbox',"aria-labelledby"=>"legendCheckbox-label", "aria-describedby"=>"legendCheckbox-description"}
        .mobile-checkbox__checkmark
        %span{id:'legendCheckbox-label'}
        = t(:legends)
      %label.mobile-checkbox{for: 'filterCheckbox'}
        %input.mobile-input-checkbox{type:'checkbox',id:'filterCheckbox',"aria-labelledby"=>"filterCheckbox-label", "aria-describedby"=>"filterCheckbox-description"}
        .mobile-checkbox__checkmark
        %span{id:'filterCheckbox-label'}
        = t(:filters)

    #accessoryContainer.col-md-3.col-xs-12
    / end of filter column
    .col-md-9
      #tripContainer.col-xs-12{style: "padding: 0px;"}
      / end of trip container
  .col-xs-12{style: "margin-bottom: 5px;padding: 0px;"}
    .pull-right
      = link_to new_rating_from_email_user_trip_path(user_id: @trip.user_id, id: @trip.id, :hash => @trip.md5_hash, taken: false), class: "btn action-button" do
        = t(:feedback)
      = button_tag :type => 'button', :name => "planButton", :class => "btn action-button" do
        =t(:next)
  / end of review columns
  #itinerary_modal.modal.fade{"role" => "dialog", "data-back" => "static", "tabindex" => "-1", "aria-hidden" => "true"}
  :javascript
    $(function() {
      //default configured min&max values for filters
      var filterConfigs = {
        default_min_duration: #{Oneclick::Application.config.default_min_duration},
        default_max_duration: #{Oneclick::Application.config.default_max_duration},
        default_min_transfers: #{Oneclick::Application.config.default_min_transfers},
        default_max_transfers: #{Oneclick::Application.config.default_max_transfers},
        default_min_fare: #{Oneclick::Application.config.default_min_fare},
        default_max_fare: #{Oneclick::Application.config.default_max_fare}
      };

      //update date names in localized texts for moment js lib
      var localeLang = '#{I18n.locale}';
      if(localeLang.toLowerCase() != 'en') { //override moment lang if not english
        var weekdays = #{t('date.day_names')};
        if(weekdays instanceof Array && weekdays.length > 0) {
          moment.lang(localeLang, {
            weekdays : weekdays
            });
        }
        var weekdaysShort = #{t('date.abbr_day_names')};
        if(weekdaysShort instanceof Array && weekdaysShort.length > 0) {
          moment.lang(localeLang, {
            weekdaysShort : weekdaysShort
            });
        }
        var months = #{t('date.month_names')[1...13]};
        if(months instanceof Array && months.length > 0) {
          moment.lang(localeLang, {
            months : months
            });
        }
        var monthsShort = #{t('date.abbr_month_names')[1...13]};
        if(monthsShort instanceof Array && monthsShort.length > 0) {
          moment.lang(localeLang, {
            monthsShort : monthsShort
            });
        }
      }

      //include all possible localized words to be used in review.js
      var localeDictFinder = {
        failed_to_update_profile: '#{t(:failed_to_update_profile)}',
        select_a_plan_each_trip_part: '#{t(:select_a_plan_each_trip_part)}',
        update: '#{t(:update)}',
        cancel: '#{t(:cancel)}',
        select: '#{t(:select)}',
        sort_by: '#{t(:sort_by)}',
        travel_time: '#{t(:travel_time)}',
        trip_time: '#{t(:trip_time)}',
        arrival_time: '#{t(:arrival_time)}',
        departure_time: '#{t(:departure_time)}',
        depart_at: '#{t(:depart_at)}',
        arrive_in: '#{t(:arrive_in)}',
        departing_at: '#{t(:departing_at)}',
        arriving_by: '#{t(:arriving_by)}',
        fare: '#{t(:fare)}',
        number_of_transfers: '#{t(:number_of_transfers)}',
        modes: '#{t(:modes)}',
        walk: '#{t(:mode_walk_name)}',
        rideshare: '#{t(:mode_rideshare_name)}',
        paratransit: '#{t(:mode_paratransit_name)}',
        taxi: '#{t(:mode_taxi_name)}',
        transit: '#{t(:mode_transit_name)}',
        bus: '#{t(:mode_bus_name)}',
        bikeshare: '#{t(:mode_bikeshare_name)}',
        subway: '#{t(:mode_rail_name)}',
        tram: '#{t(:mode_rail_name)}',
        rail: '#{t(:mode_rail_name)}',
        bicycle: '#{t(:mode_bicycle_name)}',
        drive: '#{t(:mode_car_name)}',
        car: '#{t(:mode_car_name)}',
        wait: '#{t(:wait)}',
        transfer: '#{t(:transfer)}',
        trip_restrictions: '#{t(:trip_restrictions)}',
        minutes: '#{t(:minutes)}',
        minute_abbr: '#{t(:minute_abbr)}',
        unknown: '#{t(:unknown)}',
        no_itineraries_found: '#{t(:no_itineraries_found)}',
        something_went_wrong: '#{t(:something_went_wrong)}',
        press_space_or_dblclick_for_details: '#{t(:press_space_or_dblclick_for_details)}',
        press_space_for_details: '#{t(:press_space_for_details)}',
        four_digit_year: '#{t(:four_digit_year)}',
        miles: '#{t(:miles)}'
      };

      //show or hide legends
      $('#legendCheckbox').on('change', function(e) {
        var $legendDiv = $('#legendDiv');
        if($legendDiv.hasClass('hidden-xs-sm')) {
          $('#legendDiv').removeClass('hidden-xs-sm');
        } else {
          $('#legendDiv').addClass('hidden-xs-sm');
        }
        e.preventDefault();
      });

      //show or hide filters
      $('#filterCheckbox').on('change', function(e) {
        var $filterDiv = $('#filterDiv');
        if($filterDiv.hasClass('hidden-xs-sm')) {
          $('#filterDiv').removeClass('hidden-xs-sm');
        } else {
          $('#filterDiv').addClass('hidden-xs-sm');
        }
        e.preventDefault();
      });

      var tripResponse = #{@tripResponse.to_json};
      var pageRenderer = new TripReviewPageRenderer(30, 20, tripResponse, filterConfigs, localeDictFinder);
      pageRenderer.processTripResponse();

      $('#itinerary_modal').on('shown.bs.modal', function() {
        $('.tooltip').hide();
        if(typeof(CsMaps) === 'object' && CsMaps != null && CsMaps.review_map != null) {
          var mapObj = CsMaps.review_map;
          mapObj.invalidateMap();
          var mapMarkers = mapObj.LMmarkers;
          var mapBounds = null;
          if(mapMarkers.length > 0) {
            mapBounds = mapObj.calcMapBounds(mapMarkers);
          } else {
            mapBounds = mapObj.LMbounds;
          }

          if(mapBounds) {
            mapObj.LMmap.fitBounds(mapBounds);
          }
        }
      });

      $('#itinerary_modal').on('hidden.bs.modal', function() {
        var itinId = $(this).find('.modal-dialog').attr('data-itinerary-id');
        $('.single-plan-review[data-plan-id=' + itinId + '] .single-plan-chart-container').focus();
      });

      //Plan button to jump to Plan page
      $('button[name=planButton]').on('click', function(e) {
        var selectedPlanIds = [];
        var tripParts = $('#tripContainer').find('.single-trip-part');
        var selectedPlans = tripParts.find('.single-plan-selected');
        if(tripParts.length != selectedPlans.length) {
          show_alert(localeDictFinder['select_a_plan_each_trip_part']);
          return;
        }

        var selectedPlanIds = [];
        selectedPlans.each(function() {
          var tmpPlanId = parseInt($(this).attr('data-plan-id'));
          if(typeof(tmpPlanId) === 'number' && !isNaN(tmpPlanId)) {
            selectedPlanIds.push(tmpPlanId);
          }
        });

        //jump to Plan page
        window.location.href = ( window.location.href + '/plan?itinids=' + selectedPlanIds.toString() );
      });
    });

    $('#tripContainer').tooltip({selector: '.trip-mode-cost div'})
