.row-fluid
  .span12
    %h1
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:trip_options)
.well
  .row-fluid
    .span12
      .trip_prepositions= t(:from)
      .trip_basic_text= (@trip.from_place.name || @trip.from_place.address)
      .trip_prepositions= t(:to)
      .trip_basic_text= (@trip.to_place.name || @trip.to_place.address)
      .trip_prepositions= t(:at_time)
      .trip_basic_text= @trip.trip_datetime.in_time_zone.strftime("%B %d, %Y")

.row-fluid
  %ul.thumbnails#itineraries
    = render 'trip_itineraries'
 
.row-fluid
  .well.well-small.span12
    = link_to new_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_new_trip)
    %span#hidden_trips_notice
      = render partial: 'hidden_trips_notice', locals: {trip: @trip}
    = link_to '#', {href: '#send_trip_by_email', class: "pull-right", data: {toggle: 'modal'}} do
      %i.icon-envelope
      Send by email

    = render partial: 'send_trip_by_email', locals: {trip: @trip}

:javascript
  $(document).ready(function() {
    fix_thumbnails();
  });
  
  $(window).resize(function() {
    fix_thumbnails();
  });
  
  function fix_thumbnails() {
    $(".thumbnail").css('height', '');
    $(".thumbnail").css('overflow', '');
    var window_width = $(window).width();
    adjust_thumbnails(window_width);
    make_same_height('.actionbutton');
  };
  
  
  $("#itineraries").on("ajax:error", function(xhr,status){
    alert(status['responseText']);
  });
