.row-fluid
  .span12
    %h1
      %i.icon-bus-sign
      = t(:trip_options)
.well.well-small
  .row-fluid
    .span12
      %h4.span1.text-right From:
      %h4.span11 #{@trip.from_place.address}
  .row-fluid
    .span12
      %h4.span1.text-right To:
      %h4.span11 #{@trip.to_place.address}  

.row-fluid
  .span12
    - @trip.valid_itineraries.each_slice(3) do |itineraries|
      .row-fluid
        %ul.thumbnails
          - itineraries.each do |itinerary|
            %li.span4
              = render :partial => 'trip_summary', :locals => { :itinerary => itinerary }
 
.row-fluid
  .well.well-small.span12
    = link_to new_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_trip)

= render "page_scripts"
