.row-fluid
  .span12
    %h1
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:trip_options)
.well
  .row-fluid
    .span10
      .trip_prepositions= t(:from)
      .trip_basic_text= @trip.from_place.name
      .trip_prepositions= t(:to)
      .trip_basic_text= @trip.to_place.name
      .trip_prepositions= t(:at_time)
      .trip_basic_text= format_date(@trip.trip_datetime.in_time_zone)
    .span2
      - if @trip.in_the_future
        = link_to edit_user_trip_path(@traveler, @trip), :class => "btn btn-small pull-right", :alt => t(:edit_trip), :title => t(:edit_trip) do
          %i.icon-edit

.row-fluid
  %ul.thumbnails#itineraries
    = render :partial => 'trip_itineraries', :locals => {:itineraries => @show_hidden.nil? ? @trip.valid_itineraries : @trip.itineraries }
     
.row-fluid
  .well.well-small.span12
    = link_to new_user_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_new_trip)
    %span#hidden_trips_notice
      = render partial: 'hidden_trips_notice', locals: {trip: @trip}
    = link_to '#', {href: '#send_trip_by_email', class: "pull-right", data: {toggle: 'modal'}} do
      %i.icon-envelope
      =t(:send_by_email)

    = render partial: 'send_trip_by_email', locals: {trip: @trip}

#itinerary_modal.modal.hide.fade
  