- if translation_exists?("printer_friendly_header")
  = t(:printer_friendly_header)
- else
  %img{src: "#{get_logo_path}"}
  %br
  %h1{:style => 'display:inline;vertical-align:middle;'}
    %strong
      = t(:site_title)

%hr

%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey;"}
      %strong
        = t(:from) + ':  '
    %td
      %strong
        =@trip.from_place.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      %strong
        =t(:to) + ':  '
    %td
      %strong
        =@trip.to_place.name
  %tr
    %td{style: "color:grey;"}
      %strong
        =t(:at_time)
    %td
      %strong
        =format_date(@trip.trip_datetime.in_time_zone)

- ItineraryDecorator.decorate_collection(@trip.itineraries.selected).each do |itinerary|
  - Rails.logger.info itinerary.ai
  = render :partial => 'trip_single_plan_details', :locals => {:itinerary => itinerary, :legs => itinerary.get_legs, :for_db => false, map_type: 'delayed_static'}

%hr{style: "height:12px; background:#848484;"}

- if translation_exists?("printer_friendly_footer")
  = t(:printer_friendly_footer)
- else
  %table
    %tbody
      %tr
        %td="Thank you for using " + Oneclick::Application.config.name + " Software"
      %tr
        %td="Provided by Cambridge Systematics, 100 Cambridge Park Dr, Cambridge MA 02140"

= render partial: 'prepare_print_maps', locals: {trip: @trip}

- content_for :head do
  %meta{name: 'user_id', content: @trip.user.id}
  %meta{name: 'trip_id', content: @trip.id}
  %meta{name: 'itinerary_ids', content: @trip.itineraries.selected.collect{|i| i.id}.join(',')}
  %meta{name: 'locale', content: I18n.locale}

:javascript
  differentiateTurnByTurn("true");
