- mode_list = ['paratransit', 'transit', 'taxi']

.row
  .col-md-8.col-sm-10.col-xs-12.center
    .panel.panel-servicedata
      .panel-heading
        %h4.panel-title
          = translate_helper(:services)
          = add_tooltip("services_info_help", "fa fa-question-circle", nil)
      .panel-body.form-horizontal
        .form-group.select
          %label.select.control-label.col-sm-3 Add a service
          .col-sm-9
            %select.select.form-control#select-new-service-type
              %option{value: ''} Select a service type
              - mode_list.each do |m|
                %option{value: m}= translate_helper("mode_#{m}_name".to_sym)
.row
  .col-md-8.col-sm-10.col-xs-12.center
    .panel.panel-servicedata
      %ul.nav.nav-tabs{role: "tablist"}
        - @provider.services.each_with_index do |s, i|
          %li{role: 'presentation', class: ("active" if i == 0)}
            %a{href: "#service-#{s.id}", "aria-controls" => "service-#{s.id}", role: "tab", "data-toggle" => "tab", class: "service-tab-link"}
              = s.name
        - mode_list.each do |m|
          %li{role: 'presentation', id: "new-#{m}-service-tab", class: "hidden new-service-tab"}
            %a{ href: "#new-#{m}-service",
                "aria-controls" => "#new-#{m}-service",
                role: "tab",
                "data-toggle" => "tab"}
              = translate_helper(:new_service)
      .tab-content
        - @provider.services.each_with_index do |s, i|
          .tab-pane.panel-body{role: 'tabpanel', id: "service-#{s.id}", class: "#{"active" if i == 0}"}
            = render partial: "admin/services/service_form_mode_#{s.service_type.code}", locals: {service: s}
        - mode_list.each do |m|
          .tab-pane.panel-body{role: 'tabpanel', id: "new-#{m}-service", class: "new-service-tab-pane"}
            = render partial: "admin/services/service_form_mode_#{m}", locals: {service: nil}


:javascript
  $(document).ready(function() {

    // Render appropriate service partials on menu select
    $('#select-new-service-type').change(function(e) {
      var mode = this.value;

      // Make appropriate mode tab visible and active
      $(".new-service-tab").addClass("hidden");

      if(mode) {
        $(`#new-${mode}-service-tab`).removeClass("hidden");
        $(`#new-${mode}-service-tab > a`).click();
      } else {
        $(".new-service-tab-pane").addClass("hidden");
        if($(".service-tab-link")) {
          $(".service-tab-link")[0].click();
        }
      }
    });

  });
