-# Form for creating or editing a provider
= simple_form_for [:admin, @provider], html: { class: 'form-horizontal', multipart: true, id: 'service-data-form'},
        wrapper: :horizontal_form do |f|
  = f.error_notification message: print_messages(f)
  .row
    .col-sm-12
      .panel.panel-servicedata
        .panel-heading
          %h4.panel-title
            = translate_helper(:services)
            = add_tooltip("services_info_help", "fa fa-question-circle", nil)
        .panel-body
          = f.input :internal_contact, collection: ["Paratransit", "Fixed Route Transit", "Taxi"], class: "form-control",
            selected: (@contact.id if @contact) , include_blank: "Select a service type", label: "Add a Service"
  .row
    .col-sm-12
      %ul.nav.nav-tabs{role: "tablist"}
        - @provider.services.each_with_index do |s, i|
          %li{role: 'presentation'}
            %a{href: "#service-#{s.id}", "aria-controls" => "service-#{s.id}", role: "tab", "data-toggle" => "tab", class: ("active" if i == 0)}
              = s.name
      .tab-content
        - @provider.services.each_with_index do |s, i|
          .tab-pane{role: 'tabpanel', id: "service-#{s.id}", class: ("active" if i == 0)}
            %h3= s.name
            %p= s.url

  :javascript
  $(document).ready(function() {

  });
