- mode_list = ['paratransit', 'transit', 'taxi']

.row
  .col-md-8.col-sm-10.col-xs-12.center
    .panel.panel-servicedata
      .panel-heading
        %h4.panel-title
          = translate_helper(:services)
          = add_tooltip("services_info_help", "fa fa-question-circle", nil)
      .panel-body.form-horizontal
        .form-group.select
          %label.select.control-label.col-sm-3 Add as service
          .col-sm-9
            %select.select.form-control#select-new-service-type
              %option{value: nil} Select a service type
              - mode_list.each do |m|
                %option{value: m}= translate_helper("mode_#{m}_name".to_sym)
.row
  .col-md-8.col-sm-10.col-xs-12.center
    %ul.nav.nav-tabs{role: "tablist"}
      - mode_list.each do |m|
        %li{role: 'presentation'}
          %a{href: "#new-#{m}-service", "aria-controls" => "#new-#{m}-service", role: "tab", "data-toggle" => "tab"}
            = translate_helper("mode_#{m}_name".to_sym)
      -# - @provider.services.each_with_index do |s, i|
      -#   %li{role: 'presentation'}
      -#     %a{href: "#service-#{s.id}", "aria-controls" => "service-#{s.id}", role: "tab", "data-toggle" => "tab", class: ("active" if i == 0)}
      -#       = s.name
-#     .tab-content
-#       -# - @provider.services.each_with_index do |s, i|
-#       -#   .tab-pane{role: 'tabpanel', id: "service-#{s.id}", class: ("active" if i == 0)}
-#       -#     %h3= s.name
-#       -#     %p= s.url

      = render partial: 'admin/services/service_form_mode_paratransit'
      = render partial: 'admin/services/service_form_mode_transit'
      = render partial: 'admin/services/service_form_mode_taxi'

:javascript
  $(document).ready(function() {

    // Render appropriate service partials on menu select
    $('#select-new-service-type').change(function(e) {
      console.log("Service Selection Changed", this.value);
    });

  });
