-# Takes a boolean new_service, a boolean active, and then either a service service, or a mode mode.
- mode = new_service ? mode : service.service_type.code
- service = new_service ? nil : service

.tab-pane.panel-body{role: 'tabpanel',
      id: (new_service ? "new-#{mode}-service-tab-content" : "service-#{service.id}-tab-content"),
      class: (active ? "active" : "") + " " + (new_service ? "new-service-tab-pane" : "service-tab-pane")}
  = render partial: "admin/services/form_parts/general",
    locals: { new_service: new_service,
              service: service,
              mode: mode }

  -unless new_service
    -case mode
    -when "paratransit"
      = render partial: "admin/services/form_parts/paratransit_part1",
        locals: { new_service: new_service,
                  service: service,
                  active: active}
      = render partial: "admin/services/form_parts/paratransit_part2",
        locals: { new_service: new_service,
                  service: service }
      = render partial: "admin/services/form_parts/paratransit_part3",
        locals: { new_service: new_service,
                  service: service }
      = render partial: "admin/services/form_parts/paratransit_part4",
        locals: { new_service: new_service,
                  service: service }
    -else
      %h4 SOME OTHER MODE TEMPLATE STUFF
