%h1= t(:services)

%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_services_table
  %thead
    %tr
      %th= t(:name)
      %th= t(:provider)
      %th= t(:type)
      %th= t(:active)
  %tbody
    - @services.each do |service|
      %tr
        %td= service.name
        %td= service.provider.name
        %td= cms_snippet_content(service.service_type.name)
        %td= t(service.active)

= render partial: 'shared/parameterized_datatable_javascript',
locals: {table_id: '#admin_services_table',
sLengthMenu: "Display _MENU_ services per page",
sInfo: "Showing _START_ to _END_ of _TOTAL_ services"}
