- content_for :title, "#{t(:site_title)} - #{t(:services)}"
.row
  .col-sm-12
    = link_to t(:all_providers), admin_providers_path, class: 'btn action-button btn-arrow-left'
.row.info-header
  .col-sm-12
    %h1= t(:services)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title
      = t(:services)
      = add_tooltip("services_help")
  .panel-body
    %table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_services_table
      %thead
        %tr
          %th= t(:id)
          %th= t(:name)
          %th= t(:provider)
          %th= t(:type)
          %th#status= t(:status)
      %tbody
        - @services.each do |service|
          %tr
            %td= service.id
            %td= service.name
            %td= service.provider.name
            %td= cms_snippet_content(service.service_type.name)
            %td
              - if service.active == false
                = t(:inactive)

= render partial: 'admin/shared/datatable_js', locals: {key: 'admin_services', entity: 'services'}

