.row
  .col-sm-12
    = link_to t(:all_providers), admin_providers_path, class: 'btn action-button btn-arrow-left'
.row.info-header
  .col-sm-12
    %h1= t(:services)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title
      = t(:services)
      = add_tooltip("services_help")
  .panel-body
    %table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_services_table
      %thead
        %tr
          %th= t(:name)
          %th= t(:provider)
          %th= t(:type)
          %th#status= t(:status)
      %tbody
        - @services.each do |service|
          %tr
            %td= service.name
            %td= service.provider.name
            %td= cms_snippet_content(service.service_type.name)
            %td
              - if service.active == false
                = t(:inactive)

:javascript
  $(document).ready(function() {
    var oTable = $('#admin_services_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ services per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ services",
              "sInfoEmpty": "Showing 0 to 0 of 0 services",
              "sInfoFiltered": "(filtered from _MAX_ total services)"
          },
          "sDom": "<'row'<'col-sm-6'l><'toggle col-sm-6'>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
    $("div.toggle").html('<span class="pull-right"><input type="checkbox" id="toggle">&nbsp;Show inactive services</span>');

    var index = $("thead th").index($('#status'));

    oTable.fnFilter('^$', index, true);

    $("#toggle").click(function () {
        var filter = '^$';
        if ($(this).is(':checked')) {
                var filter = '';
        }
        oTable.fnFilter(filter, index, true);
    });
  } );

