%h1= t(:services)

%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_services_table
  %thead
    %tr
      %th= t(:name)
      %t= t(:provider)
      %th= t(:type)
      %th= t(:active)
  %tbody
    - @services.each do |service|
      %tr
        %td= service.name
        %td= service.provider.name
        %td= service.service_type.name
        %td= service.active
        / %td.center
        /   = link_to error_501_path, {class: 'btn'} do
        /     %i.icon-pencil
        /     = t(:edit)

/ = link_to 'New Agency', new_admin_agency_path, {class: 'btn'}

/ = render 'shared/datatable_javascript'

:javascript
  $(document).ready(function() {
    $('#admin_services_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ services per page",
              "sZeroRecords": t(:Nothing_found_sorry),
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ services",
              "sInfoEmpty": "Showing 0 to 0 of 0 services",
              "sInfoFiltered": "(filtered from _MAX_ total services)"
          }
      } );
  } );