= simple_form_for @satisfaction_survey do |f|
  .row
    .col-sm-10.col-sm-offset-1
      = f.error_notification message: print_messages(f)
      = f.hidden_field :trip_id, value: @trip.id

      %p
        = t(:trip_satisfaction_notes)

      %p
        = f.label :satisfied, t(:satisfied_by_trips)
        = f.input_field :satisfied, as: :radio_buttons
        = f.input :comment, label: t(:comment)
      .col-sm-6.col-sm-offset-3
        = f.button :submit, t(:save), :class => 'btn action-button', id: "save_survey", disabled: "disabled"
        %button.btn.action-button{"data-dismiss" => "modal"}
          = t(:close)

:javascript
  $('#satisfaction_survey').on('show.bs.modal', function() {
    $('#satisfaction_survey input[type=radio]').change(function(){
      if ($(this).is(':checked')) {
        $('#save_survey').removeAttr('disabled');
      } else {
        $('#save_survey').attr('disabled', 'disabled');
      }
    });
  });
