%div{:data => {:index => 1}}
  = f.input :trip_date, :wrapper => :append, :label => translate_helper_translate(:trip_date) do
    #date-arrow-prev.prev.month.disabled
    #trip-date= f.input_field :outbound_trip_date, :as => :string, :label => false
    #date-arrow-next.next.month

#timepicker-one.kiosk-timepicker{ :data => {:index => 2}}
  %div
    / TODO: ADD BUTTON THAT ALTERS THIS?
    = f.input :outbound_arrive_depart, :collection => [translate_helper_translate(:departing_at), translate_helper_translate(:arriving_by)], :include_blank => false, :label => translate_helper_translate(:arrive_depart), :input_html => {:style => "width:200px;"}

  = f.input :trip_time, :wrapper => :append, :label => false do
    #trip-time
      = f.label :departing_at
      = f.input :outbound_trip_time, :as => :string, :label => false
      #arrive-depart-toggle
        .arrive-depart-circle
        .arrive-depart-circle
        .arrive-depart-circle

  .row-fluid
    .span10.offset1
      .timetable
        %ul.row-fluid.time
          %li 1:00
          %li 1:30
          %li 2:00
          %li 2:30
          %li 3:00
          %li 3:30
        %ul.row-fluid.time
          %li 4:00
          %li 4:30
          %li 5:00
          %li 5:30
          %li 6:00
          %li 6:30
        %ul.row-fluid.time
          %li 7:00
          %li 7:30
          %li 8:00
          %li 8:30
          %li 9:00
          %li 9:30
        %ul.row-fluid.time
          %li 10:00
          %li 10:30
          %li 11:00
          %li 11:30
          %li 12:00
          %li 12:30
        %ul.row-fluid.timeofday
          %li.notime
          %li.notime
          %li.notime
          %li.notime
          %li.ampm am
          %li.ampm pm
