.row
  .col-sm-12
    %h4= t(:add_new_buddy)
.row
  .col-sm-12
    = simple_form_for [current_user, @user_relationship], remote: true, html: { class: 'form-inline' } do |f|
      = f.error_notification
      = f.input :email, label: t(:buddys_email_address), as: :email
      = button_tag type: :submit, class: 'btn btn-primary controls' do
        %i.fa.fa-check
        = t(:send_buddy_request)

#buddy_table        
  = render 'buddy_table'
