#eligibility_form
  .row-fluid
    .span12
      %h4 Eligibility Characteristics
  .row-fluid
    .span12
      = simple_form_for [current_user, @user_characteristics_proxy], remote: true, html: { class: 'form-horizontal' } do |f|
        = f.error_notification
        -TravelerCharacteristic.where(:datatype => 'bool').each do |characteristic|
          .row-fluid
          = f.input characteristic.code.to_sym, collection: [[true, 'Yes'], [false, 'No'], ['na', 'Unsure']], as: :radio_buttons, label: characteristic.note, label_method: :last, value_method: :first, :item_wrapper_class => "inline"
        = f.input "date_of_birth".to_sym

        .row-fluid
          .span12
            %hr
        .row-fluid
          .span6
            .actions
              = button_tag type: :submit, class: 'btn btn-primary controls' do
                %i.icon.icon-ok
                Update my characteristics
              = link_to :back do
                %i.icon.icon-reply
                = t(:cancel)
