- content_for :title, "Registration - #{t(:site_title)}"
= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name),
        html: {class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .row.info-header
    .col-sm-6
      %h1= t(:sign_up)
    .col-sm-6.btns
      .pull-right
        = button_tag type: 'submit', class: "btn action-button", style: 'margin-right:5px;' do
          = t(:apply)
        = link_to t(:cancel), :back, class: "btn action-button"

  .row
    .col-sm-6
      .panel.panel-default#user_info{role: "main", aria: {label: "Sign Up Form"}}
        .panel-heading
          %h3.panel-title
            = t(:user_information)
            = add_tooltip("user_information_help")
        .panel-body
          = f.error_notification message: print_messages(f)
          = f.input :first_name, label: t(:first_name), :autofocus => true
          = f.input :last_name, label: t(:last_name)
          = f.input :email, label: t(:email), :required => true
          = f.input :preferred_locale, label: t(:preferred_locale), :collection => Translation.available_locales, :include_blank => false, label_method: lambda {|pl| I18n.t("locales.#{pl}")}
          = f.input :password, label: t(:password), :required => true
          = f.input :password_confirmation, :label => t(:password_confirmation), :required => true
