.row
  .col-sm-12
    - unless user.traveler_relationships.empty?
      %table.table.table.condensed.table-striped.table-hover.table-bordered#travelersdatatable
        %thead
          %tr
            %th.left= translate_helper_translate(:buddy)            
            %th.left= translate_helper_translate(:email)
            %th.left= translate_helper_translate(:status)
            %th.left= translate_helper_translate(:updated)
            %th.center= translate_helper_translate(:actions)
        %tbody
          - user.traveler_relationships.each do |relationship|
            %tr
              %td.left= relationship.traveler.name
              %td.left= relationship.traveler.email
              %td.left= translate_helper_translate(relationship.relationship_status)
              %td.left= distance_of_time_in_words_to_now(relationship.updated_at) +" " + translate_helper_translate(:ago)
              %td.center
                - if relationship.acceptable
                  = link_to delegate_accept_user_user_relationship_path(user, relationship), remote: true, class: "btn btn-xs btn-success text-center" do
                    %i.fa.fa-ok
                    =translate_helper_translate(:accept)
                - if relationship.declinable
                  = link_to delegate_decline_user_user_relationship_path(user, relationship), remote: true, class: "btn btn-xs btn-primary text-center" do
                    %i.fa.fa-compass
                    =translate_helper_translate(:decline)
                - if relationship.revokable
                  = link_to delegate_revoke_user_user_relationship_path(user, relationship), remote: true, class: "btn btn-xs btn-warning text-center" do
                    %i.fa.fa-times
                    =translate_helper_translate(:revoke)
    - else
      =translate_helper_translate(:no_buddies)


= render partial: 'shared/parameterized_datatable_javascript', locals: { table_id: '#travelersdatatable',
  object_plural: 'travelers',
  object_singular: 'traveler',
  sLengthMenu: translate_helper_translate(:menu__object_plural_per_page, o: 'travelers'),
  sInfo: translate_helper_translate(:showing__start__to__end__of__total__object_plural, o: 'travelers'),
  bLengthChange: false,
  bSort: true }
