remove_messages();
$('#messages').html("#{escape_javascript(render 'shared/messages')}");
$('#buddy_table').html("#{escape_javascript(render 'devise/registrations/buddy_table')}");
$('#traveler_table').html("#{escape_javascript(render 'devise/registrations/traveler_table')}");
$("a[data-id='2']").text("#{t(:travelers) + ' (' + current_user.travelers.count.to_s + ')'}");
$("a[data-id='3']").text("#{t(:travelers) + ' (' + current_user.travelers.count.to_s + ')'}");
