.row
  .col-sm-12
    -if itinerary.service.provider
      - provider_public_comments = itinerary.service.provider.public_comments.for_locale
      - if provider_public_comments && !provider_public_comments.comment.blank?
        .row
          .col-sm-12
            .well.well-sm.comments
              =provider_public_comments.comment.html_safe
    -if itinerary.service.public_comments.for_locale and !itinerary.service.public_comments.for_locale.comment.blank?
      .row
        .col-sm-12
          .well.well-sm
            =itinerary.service.public_comments.for_locale.comment.html_safe
    -if itinerary.cost_comments
      %h4
        = t(:cost_details)
      =itinerary.cost_comments.html_safe

    -if itinerary.missing_information and itinerary.missing_information_text.split('\n').count > 0
      %h4
        %i.fa.fa-question-circle
        =t(:this_service_is_for)
        %ul
          -itinerary.missing_information_text.split(':').each do |info|
            %li
              -count = 0
              -info.split(',').each do |i|
                - count += 1
                - if info.split(',').count - 1 == count
                  -if i[0,7] == "age_max" or i[0,7] == "age_min"
                    = t(i[0,7], age: i[7..-1]) + ' ' + t(:and) + ' '
                  -else
                    = t(i) + ' ' + t(:and) + ' '
                - elsif info.split(',').count == count
                  -if i[0,7] == "age_max" or i[0,7] == "age_min"
                    = t(i[0,7], age: i[7..-1])
                  -else
                    = t(i)
                - else
                  -if i[0,7] == "age_max" or i[0,7] == "age_min"
                    = t(i[0,7], age: i[7..-1]) + ','
                  -else
                    = t(i) + ','

    -if itinerary.accommodation_mismatch
      %h4
        %i.fa.fa-warning
        =t(:trip_needs_more_accommodations) + ":"
      %ul
        -itinerary.missing_accommodations.split(',').each do |accommodation|
          %li
            = t(accommodation)
    -if itinerary.too_late
      %h4
        %i.fa.fa-calendar
        = t(:trip_insufficient_notice_a) + itinerary.service.human_readable_advanced_notice + t(:trip_insufficient_notice_b)
    -if itinerary.date_mismatch or itinerary.time_mismatch
      %h4
        %i.fa.fa-calendar
        = t(:trip_outside_service_hours)

    - if itinerary.service.try(:phone)
      %h4= tel_link itinerary.service.phone
%table{:style=>'width: 100%;'}
  - itinerary.service.get_contact_info_array.each do |a,b|
    %tr
      %td{:style=>'width: 50%'}
        = t(a) +":"
      %td
        = sanitize_nil_to_na b
%table{:style => "width: 100%;"}
  %tr
    %td{:style => "width: 50%;"}
      = t(:accommodations) + ':'
    %td
      -if itinerary.service.accommodations.count == 0
        = t(:no_accommodations)
      -else
        -itinerary.service.accommodations.each do |accom|
          =t(accom.name)
          %br
- if @current_ability and can? :read, itinerary.service.ratings.build(user: @traveler)
  %table{:style => "width: 100%;"}
    %tr
      %td{:style => "width: 50%;"}
        = t(:rating) +":"
      %td
        = RateableDecorator.decorate(itinerary.service).rating_in_stars
