%ol
  .itinerary_text
    %p
      %li
        %b
          = t(:start)
        =itinerary.trip_part.from_trip_place.name
        %br
        = format_time(itinerary.start_time.in_time_zone)

  -itinerary.get_legs.each do |leg|
    -if leg.mode == TripLeg::WALK
      .itinerary_text
        %p
          %li
            %b
              = leg.mode
            =' ' + t(:to) + ' ' + leg.end_place.name
            %br
            =duration_to_words(leg.duration)
    -else
      .itinerary_text
        %p
          %li
            %b
              = leg.agency_id + ' ' + leg.mode + ' ' + leg.route + ' '
            = t(:to) + ' ' + leg.end_place.name
            %br
            = format_time(leg.start_time) + ' ' + t(:to) + ' ' + format_time(leg.end_time)

  .itinerary_text
    %p
      %li
        %b
          = t(:arrive)
        =itinerary.trip_part.to_trip_place.name
        %br
        = format_time(itinerary.end_time.in_time_zone)
