%table.transit_details{style: "padding: 16px 5px;"}
  %tr
    %td.itinerary_icons{style: "text-align: center;line-height: normal;font-size: 2.25em; padding: 16px 10px;"}
      %img{src: "https://s3.amazonaws.com/oneclick-rtd/images/start.png", style: "height: 26px; width: 26px; vertical-align: top;", height: "26p", width: "26"}
    %td.itin_text_container{style: "padding-left: 5px;"}
      .itinerary_text{style: "text-align: left;font-family: 'Helvetica Neue', Arial; line-height: 1em; padding-left: 8px; strong {top: 0; position: absolute;}"}
        = translate_helper(:start) + itinerary.trip_part.from_trip_place.name
      .itinerary_text_small{style: "font-family: 'Helvetica Neue', Arial; font-size: 0.87em; color: #4862c8; text-align: left; vertical-align: top; padding-top: 8px; padding-left: 8px;"}
        = format_time(itinerary.start_time.in_time_zone)

  - itinerary.get_legs.each do |leg|
    %tr
      %td.itinerary_icons{style: "vertical-align:top; text-align: center;line-height: normal;font-size: 2.25em;padding: 16px 10px;"}
        %img{:src => get_mode_icon(leg.mode), style: "height: 26px; width: 26px; vertical-align: top;", height: "26p", width: "26"}
      %td.itin_text_container{style: "padding: 16px 10px;"}
        .itinerary_text{style: "text-align: left;font-family: 'Helvetica Neue', Arial; line-height: 1em; padding-left: 8px; strong {top: 0; position: absolute;}"}
          - if leg.mode == Leg::TripLeg::CAR || leg.mode == Leg::TripLeg::BICYCLE || leg.mode == Leg::TripLeg::WALK
            = leg.trip_steps
          - else
            = leg.short_description

          - if leg.mode == Leg::TripLeg::WALK
            - sidewalk_obstructions = query_sidewalk_feedback_near_one_walk_leg(leg)
            - if sidewalk_obstructions.length > 0
              %br
              = translate_helper(:sidewalk_obstructions) + ':'
              %br
              %div{style:'padding-left: 10px;'}
                - sidewalk_obstructions.each do |f|
                  = f.comment
                  - unless f.removed_at.nil?
                    = ', ' + translate_helper(:removed_at).downcase + ' ' + format_date(f.removed_at)
                  %br
        .itinerary_text_small{style: "font-family: 'Helvetica Neue', Arial; font-size: 0.87em; color: #4862c8; text-align: left; vertical-align: top; padding-top: 8px; padding-left: 8px;"}
          = format_time(leg.start_time) + ' ' + translate_helper(:to) + ' ' + format_time(leg.end_time)
          - if leg.mode == Leg::TripLeg::WALK
            = ', ' + exact_distance_to_words(leg.distance)
  %tr
    %td.itinerary_icons{style: "text-align: center;line-height: normal;font-size: 2.25em;padding: 16px 10px;"}
      %img{src: "https://s3.amazonaws.com/oneclick-rtd/images/stop.png", style: "height: 26px; width: 26px; vertical-align: top;", height: "26p", width: "26"}
    %td.itin_text_container{style: "padding: 16px 10px;"}
      .itinerary_text{style: "text-align: left;font-family: 'Helvetica Neue', Arial; line-height: 1em; padding-left: 8px; strong {top: 0; position: absolute;}"}
        = translate_helper(:arrive) + itinerary.trip_part.to_trip_place.name
      .itinerary_text_small{style: "font-family: 'Helvetica Neue', Arial; font-size: 0.87em; color: #4862c8; text-align: left; vertical-align: top; padding-top: 8px; padding-left: 8px;"}
        = format_time(itinerary.end_time.in_time_zone)

-if attachments[itinerary.id.to_s + '.png']
  %div{style: "width:100%;background: white; border-radius: 5px; padding-top: 10px;"}
    =image_tag attachments[itinerary.id.to_s + '.png'].url
