- i = itinerary
- Rails.logger.info i.ai
.row.col-sm-12{style: "background: white; margin: 0px 0px 5px 0px; border-radius: 5px;"}
  %table{style: "width: 100%; text-align: center;"}
    %thead
      %tr
        %th.sr-only{:style => "text-align: left;"}= t(:mode)
        %th= t(:fare)
        %th= t(:trip_date)
        %th= t(:trip_time)
        %th= t(:walk_time)
        %th= t(:transfers)
    %tbody
      %tr
        %td.itinerary_icons{:width => '20%', :style => "text-align: left;"}
          %i.transit_itinerary_icons.mode_icon_formatting.trip-mode-icon{:style => 'background-image: url(' + logo_url_helper(i) + ');'}
          .sr-only= t(i.mode)
        %td{:width => '15%'}
          .itinerary_text
            = i.cost_in_words
        %td{:width => '15%'}
          .itinerary_text
            = i.date_in_words
        %td{:width => '25%'}
          .itinerary_text
            = i.time_range_in_words
          .itinerary_text_small{:style => "line-height: normal;"}
            = i.duration_in_words
        %td{:width => '15%'}
          .itinerary_text
            = i.walking_time
        %td{:width => '10%'}
          .itinerary_text
            = i.transfers_in_words

