.row
  .col-sm-12{style: "background: white; margin: 0px 0px 5px 0px; border-radius: 5px; padding: 10px 0px 0px 0px;"}
    %table.trip_summary_container{style: "padding: 10px 0px;"}
      %tr
      %td.trip_summary{style: "valign: middle; font-family: 'Helvetica Neue', Arial; font-size: 0.88em;"}

        = image_tag(logo_url_helper(itinerary), height: 20, width: 20, style: 'vertical-align: middle; padding-right: 10px;')
        -if itinerary.mode.code == 'mode_paratransit'
          %span=itinerary.service.name + ' - ' + itinerary.service.provider.name
        -else
          %span=get_trip_summary_title(itinerary)


        -if itinerary.cost
          %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}= ' | '
          %span{style: "font-weight: bold;"}= 'Fare'
          %span=' : '
          -if itinerary.mode.code == 'mode_taxi'
            %span=number_to_currency(itinerary.cost.round) + " " + translate_helper(:est)
          -else
            -unless itinerary.cost == 0
              %span=number_to_currency(itinerary.cost)
            -else
              %span=translate_helper(:no_cost_for_service)

        -if itinerary.start_time
          %span{style: "font-size: 0.6em; padding-left:12px; padding-right: 12px; color: grey;"}=' | '
          %span{style: "font-weight: bold;"}= translate_helper(:depart_at)
          %span=' : '
          %span=format_time(itinerary.start_time.in_time_zone)

        -if itinerary.end_time
          %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
          %span{style: "font-weight: bold;"}= translate_helper(:arrive_at)
          %span=' : '
          %span=format_time(itinerary.end_time.in_time_zone)

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}= 'Duration'
        %span=' : '
        %span.duration= duration_to_words(itinerary.duration)

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}= 'Walking'
        %span=' : '
        %span=duration_to_words(itinerary.walk_time)

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}='Transfers'
        %span=' : '
        %span=itinerary.transfers.to_s

        -if itinerary.mode.code =='mode_rideshare'
          %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
          %span{style: "font-weight: bold;"}='Possible Rideshares'
          %span=' : '
          %span=translate_helper(:possible_rideshares1, count: itinerary.ride_count) + ' ' + translate_helper(:possible_rideshares2)
