- i = itinerary
- Rails.logger.info i.ai
.row.col-sm-12{style: "background: white; margin: 0px 0px 5px 0px; border-radius: 5px; padding: 10px 0px;"}
  %table.trip_summary_container{style: "width: 100%; padding: 10px 0px;"}
    %tr
      %td.trip_summary{style: "valign: middle; font-family: 'Helvetica Neue', Arial; font-size: 0.88em;"}

        %img{:src => logo_url_helper(i), style: "height: 20px; width: 20px;  vertical-align: middle; padding-right: 10px;", height: "20", width: "20"}
        %span.sr-only= translate_helper(i.mode)

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}= ' | ' 
        %span{style: "font-weight: bold;"}= 'Fare'  
        %span=' : ' 
        %span=i.cost_in_words

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}= 'Time' 
        %span=' : ' 
        %span=i.time_range_in_words
        
        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}= 'Duration' 
        %span=' : ' 
        %span.duration= i.duration_in_words 

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}= 'Walking'
        %span=' : ' 
        %span=i.walking_time

        %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
        %span{style: "font-weight: bold;"}='Transfers'
        %span=' : ' 
        %span=i.transfers_in_words
