- unless @comments.blank?
  %h3= t(:comments)
  %p= @comments

%h3= t(:trip_options_information_from_from, from: @from)

%hr

%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey;"}
      %strong
        = t(:from) + ':  '
    %td
      %strong
        =@trip.from_place.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      %strong
        =t(:to) + ':  '
    %td
      %strong
        =@trip.to_place.name
  %tr
    %td{style: "color:grey;"}
      %strong
        =t(:at_time)
    %td
      %strong
        =format_date(@trip.trip_datetime.in_time_zone)

- ItineraryDecorator.decorate_collection(@trip.itineraries.selected).each do |itinerary|
  - Rails.logger.info itinerary.ai
  = render :partial => 'trip_single_plan_details', :locals => {:itinerary => itinerary}

%hr{style: "height:12px; background:#848484;"}
%table
  %tbody
    %tr
      %td="Thank you for using " + Oneclick::Application.config.name + " Software."
    %tr
      %td= t(:do_not_reply)
    %tr
      %td="Sent by Cambridge Systematics, 100 Cambridge Park Dr, Cambridge MA 02140 on behalf of " + Oneclick::Application.config.name