= t(:user_itinerary_email_header).to_s

- unless @comments.blank?
  %h3= t(:comments)
  %p= @comments

%hr

%h2
  -if @itinerary.mode.code == 'mode_paratransit'
    =@itinerary.service.name
    %h3
      =@itinerary.service.provider.name
  -else
    =get_trip_summary_title(@itinerary)
%hr

%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey;"}
      %strong
        = t(:from) + ':  '
    %td
      %strong
        =@trip.from_place.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      %strong
        =t(:to) + ':  '
    %td
      %strong
        =@trip.to_place.name
  %tr
    %td{style: "color:grey;"}
      %strong
        =t(:at_time)
    %td
      %strong
        =format_date(@trip.trip_datetime.in_time_zone)



-unless @itinerary.mode.code == 'mode_rideshare'
  %hr
  %h3
    =t(:summary) + ":"
  = render :partial => 'trip_summary_header', :locals => { :itinerary => @itinerary }

%hr
%h3
  =t(:details) +":"

= render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }

%hr

= t(:user_itinerary_email_footer).to_s
