%h1 Content Translations
%p Note: All content translations can be entered as HTML

.row
  = link_to new_translation_path, :class => "btn action-button" do
    %i.icon-plus
    Add Key
.row
  .col-sm-2
    %h3 Locale
  .col-sm-6
    %h3 Value
  .col-sm-4
- @translations_proxies.each do |p|
  .row{id: p.key}
    .col-sm-2
      %h5= p.key
    .col-sm-6
      %h5= link_to "Add translation", new_translation_path(key: p.key)
    .col-sm-4
  - p.translations.each do |t|
    .row{id: t.value}
      .col-sm-2
        =t.locale
      .col-sm-6.text-left
        = t.value ? t.value.html_safe : ""
      .col-sm-4
        = link_to edit_translation_path(t), class: "btn action-button" do
          %i.icon-edit
          Edit
        = link_to translation_path(t), method: :delete, class: "btn btn-danger action-button" do
          %i.icon-trash
          Delete