- is_arc = Oneclick::Application.config.brand == 'arc'
- if is_arc
  %table.col-sm-12
    %tbody
      %tr
        %td.characteristics-icon{:style => 'background-image: url(' + (item.logo_url.nil? ? '' : ActionController::Base.helpers.asset_path(item.logo_url)) + ');'}
        %td{:style => 'width: 100%'}
          - case item.datatype
            - when 'bool'
              .form-group.string.optional
                .string.optional.col-sm-7.control-label{for: item.code}= t(item.note)
                .col-sm-5
                  .char-group
                    .btn-group.characteristic{data: {attribute: item.code}}
                      - [['true', t(:yes_str)], ['false', t(:no_str)], [UserProfileProxy::PARAM_NOT_SET, t(:not_sure_str)]].each do |v, s|
                        %button.btn.characteristics-option-button{type: 'button', value: v, class: active_button(f, item, v), title: t(item.note), aria: {label: "#{s}. #{t(item.note)}"}}= s
                    = f.input_field item.code.to_sym, as: :hidden, id: item.code
            - else
              = f.input item.code.to_sym, label: t(item.note)
- else
  - case item.datatype
    - when 'bool'
      %fieldset
        .form-group.radio_buttons.optional#input_container{class: "user_characteristics_proxy_#{item.code}"}
          %legend.col-sm-7.radio_buttons.optional.control-label{id: "#{item.code}_label"} #{t(item.note)}
          .col-sm-5#eligibility_questions
            %input.radio_buttons.optional{id: "user_characteristics_proxy_#{item.code}_true", name: "user_characteristics_proxy[#{item.code}]", type: "radio", value: "true", checked: item.true_false_checked?(@traveler, "true") }
            %label{for: "user_characteristics_proxy_#{item.code}_true", name: "user_characteristics_proxy[#{item.code}]"} #{t(:yes_str)}
            
            %input.radio_buttons.optional{id: "user_characteristics_proxy_#{item.code}_false", name: "user_characteristics_proxy[#{item.code}]", type: "radio", value: "false", checked: item.true_false_checked?(@traveler, "false") }
            %label{for: "user_characteristics_proxy_#{item.code}_false", name: "user_characteristics_proxy[#{item.code}]"} #{t(:no_str)}

            %input.radio_buttons.optional{id: "user_characteristics_proxy_#{item.code}_na", name: "user_characteristics_proxy[#{item.code}]", type: "radio", value: "na", checked: item.na_checked?(@traveler) }
            %label{for: "user_characteristics_proxy_#{item.code}_na", name: "user_characteristics_proxy[#{item.code}]"} #{t(:not_sure_str)}

      / = f.input item.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], [UserProfileProxy::PARAM_NOT_SET, t(:not_sure_str)]], :required => false, as: :radio_buttons, label: t(item.note), label_method: :last, value_method: :first
    - else
      = f.input item.code.to_sym, label: t(item.note)
