.row
  .col-xs-12
    = simple_form_for @user_characteristics_proxy, :url => new_user_trip_characteristic_path(@traveler, @trip, locale: I18n.locale), method: 'PUT', html: {class: 'user-characteristics form-horizontal'}, wrapper: :h_opts_form, wrapper_mappings: {check_boxes: :h_opts_radio_and_checkboxes, radio_buttons: :h_opts_radio_and_checkboxes, file: :h_opts_file_input, boolean: :h_opts_boolean }  do |f|

      .col-xs-12.panel.panel-default
        .panel-body      
          = f.error_notification
          / %form{:role => "form"}
          .inline-radio
            -Characteristic.active.enabled.each do |c|
              - next if c.code=='age' # TODO kludge
              - next unless c.ask_early
              - case c.datatype
              - when 'bool'
                = f.input c.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], [UserProfileProxy::PARAM_NOT_SET, t(:not_sure_str)]], :required => false, as: :radio_buttons, label: t(c.note), label_method: :last, value_method: :first
              - else
                = f.input c.code.to_sym, label: t(c.note)
            -Accommodation.where(:datatype => 'bool').each do |a|
              - next unless a.ask_early
              = f.input a.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], [UserProfileProxy::PARAM_NOT_SET, t(:not_sure_str)]], :required => false, as: :radio_buttons, label: t(a.note), label_method: :last, value_method: :first
