.row
  .col-sm-7
    .hidden-xs.col-sm-8{:role => "navigation", :aria => {:label => 'Breadcrumbs'}}
      = render partial: 'shared/trip_plan_breadcrumbs'
    .col-sm-4{style: "padding: 0px;"}
      = button_tag :type => 'submit', :name => 'planTrip', :class => "btn pull-right action-button" do
        =t(:next)
        :javascript
          $(function() {
            $('button[name=planTrip]').click(function() {
              $('.user-characteristics').submit();
            });
          });

.row
  .col-sm-7.col-xs-12
    .col-sm-12
      = render partial: 'shared/page_comments', locals: {key: :options_header_comment}
    .col-sm-12.panel.panel-default{:role => "main", :aria => {:label => 'Eligibility and Accommodation Form'}, :style => 'padding: 0px;'}
      .panel-heading
        %h2.panel-title=t(:eligibility_accommodation_questions)
      .panel-body
        = render partial: 'form', :locals => {:path => user_characteristic_path(@traveler, @user_characteristics_proxy.id, inline: 1), :inline => true}
        / end of options column
    .col-xs-12{style: "margin-bottom: 5px; padding: 0px;"}
      = button_tag :type => 'submit', :name => 'planTrip', :class => "btn pull-right action-button" do
        =t(:next)
    .col-sm-12
      = render partial: 'shared/page_comments', locals: {key: :options_footer_comment}
  .col-sm-5.col-xs-12{:role => "complementary", aria: {label: "Splash text"}}
    = render partial: 'shared/splash'
