.row{style: "padding: 0px;"}
  .hidden-xs.col-sm-8
    = render partial: 'shared/trip_plan_breadcrumbs'
  .col-sm-4
    = button_tag :type => 'submit', :name => 'planTrip', :class => "btn btn-default pull-right action-button",
      tabindex: 2 do
      =t(:plan)
      :javascript
        $(function() {
          $('button[name=planTrip]').click(function() {
            $('.user-characteristics').submit();
          });
        });

.row
  .col-sm-7.col-xs-12
    = render partial: 'form', :locals => {:path => user_characteristic_path(@traveler, @user_characteristics_proxy.id, inline: 1), :inline => true}

  / end of options column
  .visible-xs-block.col-xs-12{style: "margin-bottom: 5px;"}
    = button_tag :type => 'submit', :name => 'planTrip', :class => "btn btn-default pull-right action-button",
      tabindex: 2 do
      =t(:plan)
  = render partial: 'shared/splash'
