#accommodations_form
  .row
    .col-sm-12
      = simple_form_for @user_accommodations_proxy, :url => path, :html => { :class => "form-horizontal"}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }  do |f|
        = f.error_notification message: print_messages(f)
        = render partial: 'accommodations/eligibility_alert', locals: {inline: false}
        -Accommodation.where(:datatype => 'bool').each do |accommodation|
          = f.input accommodation.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], ['na', t(:not_sure_str)]], :required => false, as: :radio_buttons, label: t(accommodation.note), label_method: :last, value_method: :first, :item_wrapper_class => "inline"
        -Accommodation.where(:datatype => 'disabled').each do |characteristic|
          = f.input characteristic.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], ['na', t(:not_sure_str)]], :required => false, as: :radio_buttons, label: t(characteristic.note) + " (not yet available)", label_method: :last, value_method: :first, :item_wrapper_class => "inline", disabled: true
