#accommodations_form
  .row-fluid
    .span12
      = simple_form_for @user_accommodations_proxy, :url => path, :method => 'put', :remote => is_edit_mode  do |f|
        = f.error_notification
        -TravelerAccommodation.where(:datatype => 'bool').each do |accommodation|
          = f.input accommodation.code.to_sym, collection: [[true, 'Yes'], [false, 'No'], ['na', 'Unsure']], :required => true, as: :radio_buttons, label: accommodation.note, label_method: :last, value_method: :first, :item_wrapper_class => "inline"


        .form-actions
          - if is_edit_mode
            = button_tag type: :submit, class: 'btn btn-primary controls' do
              %i.icon.icon-ok
              = t(:update)
            = link_to :back, :class => "cancel_link" do
              %i.icon.icon-reply
              = t(:cancel)
          - else
            %a.btn.btn-warning{:alt => 'alt words', :title => 'title here', :href => skip_user_planned_trip_path(@traveler, @planned_trip.id)}
              %i.icon4.icon-arrow-right
              = t(:skip_this_step)
            = button_tag :type => 'submit', :class => "btn btn-primary" do
              %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
              = t(:plan_it)
