#program_form

  .row-fluid
    .span12
      = simple_form_for @user_programs_proxy, :url => path, :method => 'put', :remote => not(inline)  do |f|
        = f.error_notification
        = render partial: 'programs/eligibility_alert', locals: {inline: inline}
        -TravelerCharacteristic.programs.where(:datatype => 'bool').each do |characteristic|
          = f.input characteristic.code.to_sym, collection: [[true, 'Yes'], [false, 'No'], ['na', 'Unsure']], :required => false, as: :radio_buttons, label: characteristic.note, label_method: :last, value_method: :first, :item_wrapper_class => "inline"

        - if inline
          = button_tag :type => 'submit', :class => "btn btn-primary" do
            %i.icon.icon-arrow-right
            Next step
            / = t(:save)
        - else
          = button_tag type: :submit, class: 'btn btn-primary controls' do
            %i.icon.icon-ok
            = t(:update)
        = link_to :back, :class => "cancel_link" do
          %i.icon.icon-reply
          = t(:cancel)