#program_form

  .row-fluid
    .span12
      = simple_form_for @user_programs_proxy, :url => path, :html => { :class => "form-horizontal" }, :method => 'put', :remote => not(inline)  do |f|
        = f.error_notification
        = render partial: 'programs/eligibility_alert', locals: {inline: inline}
        %h4
          = t(:do_you_participate)

        -Characteristic.programs.where(:datatype => 'bool').each do |characteristic|
          = f.input characteristic.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], ['na', t(:unsure_str)]], :required => false, as: :radio_buttons, label: characteristic.name, label_method: :last, value_method: :first, :item_wrapper_class => "inline"
        -Characteristic.programs.where(:datatype => 'disabled').each do |characteristic|
          = f.input characteristic.code.to_sym, collection: [[true, t(:yes_str)], [false, t(:no_str)], ['na', t(:unsure_str)]], :required => false, as: :radio_buttons, label: characteristic.name + " (not yet available)", label_method: :last, value_method: :first, :item_wrapper_class => "inline", disabled: true

        - if inline
          = button_tag :type => 'submit', :class => "btn btn-primary controls" do
            - if @traveler.has_disability?
              %i.fa.fa-arrow-right
              =t(:next_step)
            - else
              %i.fa.fa-arrow-right
              = t(:save_and_plan_trip)
        - else
          = button_tag type: :submit, class: 'btn btn-primary controls' do
            %i.fa.fa-check
            = t(:update)
        = link_to :back, :class => "cancel_link" do
          %i.fa.fa-reply
          = t(:cancel)