- content_for :title, "#{t(:site_title)} - #{t(:new)} #{t(:programs)}"
.row
  .col-sm-12
    %h1
      %i.fa.fa-info-circle#programs_header
      Programs - Step 2 of
      = @total_steps

.row
  .col-sm-12
    = render partial: 'trips/trip_header', locals: {trip: @trip}

.row
  .well
    = render partial: 'programs/form',  :locals => {:path => user_program_path(@traveler, @user_programs_proxy.id, inline: 1), :inline => true}
