- content_for :title, "#{t(:site_title)} - #{t(:sidewalk_obstructions)}"
.col-sm-12
  .row.info-header
    .col-sm-12
      .btns.pull-right
        = button_tag t(:apply), id: 'submitChanges', class: "btn action-button"
        = link_to t(:cancel), admin_sidewalk_obstructions_path, class: "btn action-button"
      %h1= t(:sidewalk_obstructions)
    #deleteSidewalkObstructionConfirmDialog.modal.fade.col-sm-12{"aria-describedby" => t(:remove_sidewalk_obstructions), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            = button_tag class: 'btn action-button pull-right', action: 'cancel_delete', data: {dismiss: 'modal'} do
              = t(:cancel)
            = button_tag class: 'btn action-button pull-right', action: 'confirm_delete', data: {dismiss: 'modal'} do
              = t(:ok)
            .modal-title{:style => "text-align:left;"}
              %b
                = t(:site_title)
          .modal-body{:style => "text-align:left;"}
            = t(:confirm_remove_message) + t(:sidewalk_obstructions).downcase + " ?"
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        = t(:sidewalk_obstructions)
        = add_tooltip("sidewalk_obstructions_help")
    .panel-body
      = search_form_for @q, id: 'sidewalk_obstructions_search_form', :url => "#{url_for(locale: params[:locale])}", html: {class: 'filter-form', style: 'padding-top: 10px;'} do |f|
        .form-group
          = f.search_field "comment_or_status_cont", {class: "form-control", style: 'width: auto; display: inline-block;' }
          = f.submit t(:search), class: 'btn action-button'
      %p
        %select.input-sm#per_page_select
          - [10, 25, 50, 100].each do |per_page|
            - if per_page == @per_page.to_i
              %option{value: "#{per_page}", selected: true}
                = per_page
            - else
              %option{value: "#{per_page}"}
                = per_page
        :javascript
          $('#per_page_select').on('change', function(){
            var params = #{@params.to_json};
            params.per_page = $(this).val();
            window.location.href = "#{url_for(locale: params[:locale])}?" + $.param(params);
          });
        %span
          = "records per page"
      = form_tag approve_admin_sidewalk_obstructions_path, id: 'sidewalk_obstructions_form', method: :patch do
        %table.table.table-condensed.table-striped.table-bordered.table-hover#sidewalk_feedbacks_table
          %thead
            %tr
              %th= sort_link @q, :user_name, t(:username)
              %th= sort_link @q, :comment, t(:comments)
              %th= sort_link @q, :removed_at, t(:remove_by)
              %th= sort_link @q, :is_approved, t(:approve)
              %th= sort_link @q, :is_rejected, t(:reject)
              %th= sort_link @q, :is_deleted, t(:delete)
              %th= sort_link @q, :created_at, t(:created)
              %th
          %tbody
            - @sidewalk_obstructions.each do |feedback|
              %tr
                %td= feedback.user.name
                %td= feedback.comment
                %td.nowrap
                  - unless feedback.removed_at.nil?
                    =format_date_time(feedback.removed_at)
                %td
                  = label_tag "#{feedback.id}_#{SidewalkObstruction::APPROVED}", t(:approve), class: "sr-only"
                  = radio_button_tag "#{feedback.id}", SidewalkObstruction::APPROVED, feedback.approved?

                %td
                  = label_tag "#{feedback.id}_#{SidewalkObstruction::REJECTED}", t(:reject), class: "sr-only"
                  = radio_button_tag "#{feedback.id}", SidewalkObstruction::REJECTED, feedback.rejected?
                %td
                  = label_tag "#{feedback.id}_#{SidewalkObstruction::DELETED}", t(:delete), class: "sr-only"
                  = radio_button_tag "#{feedback.id}", SidewalkObstruction::DELETED
                %td.nowrap= format_date_time(feedback.created_at)
                %td.center
                  - if feedback.lat and feedback.lon
                    = link_to Rails.application.config.street_view_url + '?lat=' + feedback.lat.to_s + '&lng=' + feedback.lon.to_s, class: 'btn action-button', target: '_blank', role: 'button' do
                      = t(:street_view)
        .row
          .col-sm-6
            .pull-left
              = page_entries_info @sidewalk_obstructions
          .col-sm-6
            .pull-right
              = paginate @sidewalk_obstructions, :params => {per_page: @per_page}, :theme => 'twitter-bootstrap-3' rescue nil
:javascript
$(document).ready( function() {
  var submitChanges = function() {
    $.ajax({
      type: "POST",
      url: "/admin/sidewalk_obstructions/approve",
      data: {
        "utf8":"✓",
        "_method":"patch",
        "authenticity_token": $("input[name=authenticity_token]").val(),
        "approve": $('table input:checked').serialize()
      },
      // This can't just be a reload or we hit issues with the reload
      success: function() {
        window.location = window.location
      }
    });
  };

  $('#submitChanges').on('click', function() {
    $('#sidewalk_obstructions_form').submit();
  });

  $("#sidewalk_obstructions_form").submit(function( event ) {
    event.preventDefault();
    if($("input:checked[value=deleted]").length > 0) {
      $('#deleteSidewalkObstructionConfirmDialog').modal('show');
    } else {
      submitChanges();
    }
  });

  $('#deleteSidewalkObstructionConfirmDialog button[action=confirm_delete]').on('click', function(){
    submitChanges();
  });

  $('#deleteSidewalkObstructionConfirmDialog button[action=cancel_delete]').on('click', function(){
    $("input:checked[value=deleted]").each(function(){$(this).removeAttr('checked');})
    submitChanges();
  });
});
