.row-fluid
  -if itinerary.cost_comments
    %h4
      Cost Details
    = itinerary.cost_comments.html_safe

  - if itinerary.missing_information
    %h4
      %i.icon.icon-question-sign
      This service is intended for
      / not sure how to handle that...
      -count = 0
      -itinerary.missing_information_text.split('\n').each do |info|
        -count += 1
        -if itinerary.missing_information_text.split('\n').count - 1 == count
          =info + ' and '
        -elsif itinerary.missing_information_text.split('\n').count == count
          =info + '.'
        -else
          =info + ','

  -if itinerary.accommodation_mismatch
    %h4
      %i.icon.icon-warning-sign
      = t(:trip_needs_more_accommodations).to_s + ":"
    %ul
      -itinerary.missing_accommodations.split(',').each do |accommodation|
        %li
          =accommodation
  -if itinerary.too_late
    %h4
      %i.icon.icon-calendar
      = t(:trip_insufficient_notice_a) + itinerary.service.human_readable_advanced_notice + t(:trip_insufficient_notice_b)
  -if itinerary.date_mismatch or itinerary.time_mismatch
    %h4
      %i.icon.icon-calendar
      = t(:trip_outside_service_hours)

  %h4
    - if itinerary.service.try(:phone)
      = raw "Please call #{tel_link itinerary.service.phone} "
    - if itinerary.service.try(:email) && itinerary.service.try(:phone)
      = raw "or email #{mail_to itinerary.service.try(:email)} "
    - elsif itinerary.service.try(:email)
      = raw "Please email #{mail_to itinerary.service.try(:email)} "
    for more information.

  .row-fluid.hidden= "SCORE: " + itinerary.match_score.to_s
