.row-fluid
  - unless itinerary.cost_comments.blank?
    %h4 =t(:cost_details)
    = itinerary.cost_comments.html_safe

  - if itinerary.missing_information
    %h4
      %i.icon.icon-question-sign
      =t(:this_service_is_for)
      %ul
        -itinerary.missing_information_text.split(':').each do |info|
          %li
            -count = 0
            -info.split(',').each do |i|
              - count += 1
              - if info.split(',').count - 1 == count
                -if i[0,7] == "age_max" or i[0,7] == "age_min"
                  = t(i[0,7], age: i[7..-1]) + ' ' + t(:and) + ' '
                -else
                  = t(i) + ' ' + t(:and) + ' '
              - elsif info.split(',').count == count
                -if i[0,7] == "age_max" or i[0,7] == "age_min"
                  = t(i[0,7], age: i[7..-1])
                -else
                  = t(i)
              - else
                -if i[0,7] == "age_max" or i[0,7] == "age_min"
                  = t(i[0,7], age: i[7..-1]) + ','
                -else
                  = t(i) + ','

  -if itinerary.accommodation_mismatch
    %h4
      %i.icon.icon-warning-sign
      = t(:trip_needs_more_accommodations).to_s + ":"
    %ul
      -itinerary.missing_accommodations.split(',').each do |accommodation|
        %li
          =accommodation
  -if itinerary.too_late
    %h4
      %i.icon.icon-calendar
      = t(:trip_insufficient_notice_a) + itinerary.service.human_readable_advanced_notice + t(:trip_insufficient_notice_b)
  -if itinerary.date_mismatch or itinerary.time_mismatch
    %h4
      %i.icon.icon-calendar
      = t(:trip_outside_service_hours)

  %h4
    - if itinerary.service.try(:phone).present?
      = raw "Please call #{tel_link itinerary.service.phone} "
    - if itinerary.service.try(:email).present? && itinerary.service.try(:phone).present?
      = raw "or email #{itinerary.service.try(:email)} "
    - elsif itinerary.service.try(:email).present?
      = raw "Please email #{itinerary.service.try(:email)} "
    - if itinerary.service.try(:email).present? || itinerary.service.try(:phone).present?
      for more information.

  .row-fluid.hidden= "SCORE: " + itinerary.match_score.to_s
