/ .detail-view.invisible
.detail-container.container-fluid
  .row-fluid
    .close-section.span4
      .left-content.pull-right
        %h5 Fare
        %p
          = @itinerary.cost_in_words
        %h5 Estimated travel time
        %p
          = @itinerary.duration_in_words
        %h5 Transfers
        %p
          = @itinerary.transfers_in_words
        %h5 Walking time
        %p
          = @itinerary.walking_time


      %a.close-btn-container{"data-dismiss" => "modal"}
        .close-btn
        %p
          =t(:close)
    .detail-section.span8plus
      .detail-header
        -# %i.fa.fa-2x{:class => get_trip_summary_icon(@itinerary)}
        %h1
          = @itinerary.service.full_name.presence || get_trip_summary_title(@itinerary)
      .detail-main
        .thumbnail
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                = link_to "Details", "#details_tab", :data => {:toggle => "tab"}
              - if @itinerary.is_mappable
                %li
                  = link_to "Map", "#map_tab", :id => 'map_tab_link', :data => {:toggle => "tab"}

            .tab-content.row-fluid
              #details_tab.tab-pane.active
                = render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }
              - if @itinerary.is_mappable
                #map_tab.tab-pane
                  = render :partial => 'map_details', :locals => { :itinerary => @itinerary }

        .detail-footer
          %a.print-me{href: kiosk_print_itinerary_url(@itinerary, protocol: 'print')}
            %span= t(:print)
        / %li
        /   =t(:chat)
        / %li{:id => "email_itinerary"}
        /   =link_to '#', {href: '#send_itinerary_by_email_' + @itinerary.id.to_s, class: "btn-info", data: {toggle: 'modal'}} do
        /     =t(:e_mail)


:javascript
  $('body').on('shown', '#map_tab_link', function() {
    $('#lmap').css('height', '576px');
    //alert("invalidating map");
    CsMaps.lmap.invalidateMap();
    CsMaps.lmap.showMap();
  });

  $('#email_itinerary').click(function(){
        $('#itinerary_modal').modal('hide');
   });
  //CG DP CHANGES

  $('.detail-options ul li').on('click', function(){
    if($(this).hasClass('current')){
      //do nothing
    } else {
      $('.detail-options ul li').removeClass('current');
      $(this).addClass('current');

    }
  });

= yield :scripts
