- i = itinerary
.row-fluid.trip_summary_header
  .span12
    = render partial: 'itinerary_item', locals: {object: i.service.full_name, label: t(:name)}
    = render partial: 'itinerary_item', locals: {object: i.duration_in_words, label: t(:duration)}
    = render partial: 'itinerary_item', locals: {object: i.cost_in_words, label: t(:cost)}
    = render partial: 'itinerary_item', locals: {object: i.walking_time, label: t(:walk_time)}
    = render partial: 'itinerary_item', locals: {object: i.transfers_in_words, label: t(:transfers)}
    = render partial: 'itinerary_item', locals: {object: i.notes, label: i.notes_label}
    / t(:possible_rideshares, count: i.ride_count), label: 'Notes'}
    / = render partial: 'itinerary_item', locals: {object: '', label: 'Book ahead'}


