= image_tag get_logo, :style => "margin-top:50px;"
.title-desc= t(:one_click_trip_planner)

%hr

%table#printer-friendly
  %tr
    %h4= t(:from) + ':  '
  %tr
    %p= @trip.from_place.name
  %tr
    %h4= t(:to) + ':  '
  %tr
    %p= @trip.to_place.name
  %tr
    %h4= t(:at_time) + ':  '
  %tr
    %p= format_date(@trip.trip_datetime.in_time_zone)

- @trip.trip_parts.each do |trip_part|
  .trip-part-section
    - if trip_part.is_return_trip?
      - unless trip_part.itineraries.valid.visible.count == 0
        %hr
        %h4="Return Trip Options"
    - else
      %hr
      %h4="Outbound Trip Options"

    - ItineraryDecorator.decorate_collection(itineraries(trip_part, selected_only: true)).each do |itinerary|
      .itinerary-section
        - if itinerary.mode.name.downcase == 'paratransit'
          %p= itinerary.service.name
          %p= itinerary.service.provider.name
        - else
          %p= get_trip_summary_title(itinerary)

        %hr

        - unless itinerary.mode.name.downcase == 'rideshare'
          %h4 Summary:
          = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary }
          %hr

        %h4 Details:
        .details
          = render :partial => get_trip_partial(itinerary), :locals => { :itinerary => itinerary }

%hr{style: "height:12px; background:#848484;"}

%table
  %tbody
    %tr
      %td= "Thank you for using #{Oneclick::Application.config.name} Software."
    %tr
      %td FindMyRidePA. For more information, call 1-844-PA4-RIDE or visit FindMyRidePA.com

:javascript
  $(document).ready(function() {
    //window.print();
    $('.navbar').addClass('hidden');
    $('body').addClass('print');
    $('#main').children('.container-fluid').css({
      'background-color':'#fff',
      'width':'224px'
      });
  });
