- if @trip.both_parts_selected?
  .row-fluid.results-view.timeOut.js-trip-itineraries-slides
    .span6
      .row-fluid
        .span2
          %p
            Trip Selected
            - if @trip.outbound_part.has_selected?
              = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.outbound_part}
        %div.span10
          %div{id: 'outbound_section'}
            .row-fluid.itineraries_holder
              = render :partial => 'trip_itineraries', :locals => {:itineraries => outbound_itineraries(selected_only: true),
                trip_part: @trip.outbound_part }

      - if @trip.is_return_trip
        .row-fluid.js-trip-itineraries-slides
          .span2
            %p
              Return Selected
              - if @trip.return_part.has_selected?
                = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.return_part}
          %div.span10
            = render partial: 'return_trip'
    .span6
      .row-fluid
        .span10
          %h2 Trip planned and saved.
          %p You can now do one or more of the following to finish your trip planning:
          / .row-fluid
          /   .span12
          /     =link_to '#', {href: '#send_trip_by_email', class: 'btn btn-block', data: {toggle: 'modal'}} do
          /       =translate_helper_translate(:e_mail) + " your trip plan."
          / .row-fluid
          /   .span12
          /     =link_to '#', {onclick: "window.open('" + show_printer_friendly_user_trip_url(@traveler,@trip, print: false) +  "'); return false;", class: 'btn btn-block', data: {toggle: 'modal'}} do
          /       View trip details to call the provider.
          - if false # user_signed_in?
            .row-fluid
              .span12
                = link_to 'Email provider', '#show-email-provider-modal', class: 'btn btn-block'

          .row-fluid
            .span12
              = link_to 'I\'m Finished', kiosk_reset_path, class: 'btn btn-block'

          .row-fluid
            .span12
              = link_to 'Print your trip plan', show_printer_friendly_kiosk_user_trip_url(@traveler, @trip, print: true, protocol: 'print'), class: 'btn btn-block'

          - ItineraryDecorator.decorate_collection(outbound_itineraries(selected_only: true)).each do |itinerary|
            - if not itinerary.service.booking_service_code.blank? and user_signed_in?
              .row-fluid
                .span12
                  = link_to translate_helper_translate(:book), '#book-ecolane', {class: 'btn btn-block', data: {trip: @trip.id, traveler: @traveler.id, itin: itinerary.id}}
                  .ecolane-booking-results.hide
                    .success.hide
                      Booking successful. Your confirmation code
                      %span.numbers>
                    .error-message.hide
                      Booking could not be completed. Call 
                      = link_to '1-844-PA4-RIDE', 'tel://+18447247433'
                      for assistance.
              - break

- else
  .row-fluid.results-view.js-trip-itineraries-slides
    .span1
      - if @trip.only_outbound_selected?
        %p
          Trip Selected
          - if @trip.outbound_part.has_selected?
            = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.outbound_part}
      - else
        %p
          = translate_helper_translate(:depart)
        .prev-btn
    %div.span10.card-view-resize
      %div{id: 'outbound_section'}
        .row-fluid.itineraries_holder
          = render :partial => 'trip_itineraries', :locals => {:itineraries => outbound_itineraries(selected_only: @trip.outbound_part.has_selected?),
            trip_part: @trip.outbound_part }
        / HIDDEN OPTIONS
        / - if @trip.outbound_part.has_selected?
        /   .row-fluid
        /     .span6#outbound_hidden_trips_notice
        /       = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.outbound_part}
    .span1
      - if @trip.only_outbound_selected?
      - else
        .next-btn

  - if @trip.is_return_trip
    .row-fluid.results-view.js-trip-itineraries-slides
      .span1
        %p
          - if @trip.only_return_selected?
            Return Selected
            - if @trip.return_part.has_selected?
              = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.return_part}
          - else
            = translate_helper_translate(:return)
            .prev-btn
        .card-prev
      %div.span10.card-view-resize
        = render partial: 'return_trip'
      - unless @trip.only_return_selected?
        .span1
          .next-btn

.results-footer.responsive-mbp
  .trip-overview.pull-left.span4
    Trip Overview
  / .new-trip.pull-right
  /   = link_to new_user_trip_path do
  /     = translate_helper_translate(:plan_a_new_trip)

#overview-modal.hide
  .row-fluid
    .span4.info
      %h1 Overview
      %h4 This Is What You Told Us

      %h5 From
      %p.from
        = @trip.from_place.name
      %h5 Destination
      %p.to= @trip.to_place.name
      
      %h5 Departure Date
      %p.date= format_date(@trip.trip_parts.first.trip_time)

      %h5 Departure Time
      %p.time= format_time(@trip.trip_parts.first.trip_time)

      - if @trip.is_return_trip
        %h5 Return Date
        %p.date= format_date(@trip.trip_parts.last.trip_time)

        %h5 Return Time
        %p.return= format_time(@trip.trip_parts.last.trip_time)

      %h5 Purpose
      %p.reason
        = translate_helper_translate(@trip.trip_purpose)
      .close-overview
        .close-btn
          Close Trip Overview

    .span8plus

#itinerary_modal.hide.fade

:javascript
  $('a[href="#show-email-provider-modal"]').on('click', function (e) {
    e.preventDefaultranslate_helper_translate();
    $('#itinerary_modal').html("#{escape_javascriptranslate_helper_translate(render 'email_provider_modal')}");
    $('#itinerary_modal').modal({show: true, keyboard: false});
  });

  $('.navbar').css('z-index', 0);

  $('.trip-overview').on('click', function(){
    $('#overview-modal').removeClass('hide');
  });
  $('.close-btn').on('click', function(){
    $('#overview-modal').addClass('hide');
  });
