- urpd = UserRelationshipProxyDecorator.decorate(urp)
%tr
  %td= urpd.name
  %td= urpd.email
  %td{data: {rel: urp.can_assist_me.try(:id)}}
    = urpd.can_assist_me
    - if urp.can_assist_me
      .hidden
        = select_tag "user[relationship][#{urp.can_assist_me.id}]", options_for_select(RelationshipStatus.statuses, urp.can_assist_me.relationship_status.id)
  %td{data: {rel: urp.i_can_assist.try(:id)}}
    = urpd.i_can_assist
    - if urp.i_can_assist
      .hidden
        = select_tag "user[relationship]#{urp.i_can_assist.id}", options_for_select(RelationshipStatus.statuses, urp.i_can_assist.relationship_status.id)