.row
  .col-sm-12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#buddiesdatatable
      %thead
        %tr
          %th= t(:buddy)
          %th= t(:email)
          %th= t(:status)
          %th= t(:updated)
      %tbody
        - user.delegate_relationships.each do |relationship|
          %tr
            %td= relationship.delegate.name
            %td= relationship.delegate.email
            %td= t(relationship.relationship_status)
            %td= distance_of_time_in_words_to_now(relationship.updated_at).to_s + " " + t(:ago)

:javascript
  $(document).ready(function() {
    $('#buddiesdatatable').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ buddies per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ buddies",
              "sInfoEmpty": "Showing 0 to 0 of 0 buddies",
              "sInfoFiltered": "(filtered from _MAX_ total buddies)"
          },
          "sDom": "<'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
    } );