
.row
  .col-sm-6
    .panel.panel-default#user_info
      / Everybody can see this
      .panel-heading
        %h3=t(:user_information)
      .panel-body
        .form-horizontal
          .form-group
            %label.col-sm-3.control-label= t(:first_name)
            .col-sm-9
              %p.form-control-static= user.first_name
          .form-group
            %label.col-sm-3.control-label= t(:last_name)
            .col-sm-9
              %p.form-control-static= user.last_name
          .form-group
            %label.col-sm-3.control-label= t(:email)
            .col-sm-9
              %p.form-control-static= user.email
          .form-group
            %label.col-sm-3.control-label= t(:preferred_locale)
            .col-sm-9
              %p.form-control-static= user.preferred_locale
  - if can? :full_read, user
    .col-sm-6
      .panel.panel-default#agencies
        .panel-heading
          %h3=t(:agencies)
        .panel-body
          = render partial: 'users/agency_table', locals: { user: user }
- if can? :full_read, user
  .row
    .col-sm-6
      .panel.panel-default#buddies
        .panel-heading
          %h3=t(:buddies)
        .panel-body
          = render partial: 'users/buddy_table', locals: { user: user }
    .col-sm-6
      .panel.panel-default#travelers
        .panel-heading
          %h3= t(:travelers)
        .panel-body
          = render partial: 'users/traveler_table', locals: { user: user }
  .row
    .col-sm-6
      .panel.panel-default#eligibility
        .panel-heading
          %h3= t(:eligibility)
        .panel-body
          = render :partial =>'users/show_characteristics_answers', :locals => { :user_characteristics => @user_characteristics_proxy, collection: Characteristic.active.enabled }
    .col-sm-6
      .panel.panel-default#accommodations
        .panel-heading
          %h3= t(:accommodations)
        .panel-body
          = render :partial =>'users/show_characteristics_answers', :locals => { :user_characteristics => @user_accommodations_proxy, collection: Accommodation.where(:datatype => 'bool') }