%div{role: "main", aria: {label: "Travel Profile"}}
  .row
    .col-sm-6
      .panel.panel-default#user_info
        / Everybody can see this
        .panel-heading
          %h2.panel-title
            =translate_helper_translate(:user_information)
            = add_tooltip("user_information_help")
        .panel-body
          .form-horizontal
            .form-group
              %label.col-sm-3.control-label= translate_helper_translate(:first_name)
              .col-sm-9
                %p.form-control-static= user.first_name
            .form-group
              %label.col-sm-3.control-label= translate_helper_translate(:last_name)
              .col-sm-9
                %p.form-control-static= user.last_name
            .form-group
              %label.col-sm-3.control-label= translate_helper_translate(:email)
              .col-sm-9
                %p.form-control-static= user.email
            -if user.phone
              .form-group
                %label.col-sm-3.control-label= translate_helper_translate(:phone)
                .col-sm-9
                  %p.form-control-static= user.phone
            -if user.title
              .form-group
                %label.col-sm-3.control-label= translate_helper_translate(:title)
                .col-sm-9
                  %p.form-control-static= user.title
            .form-group
              %label.col-sm-3.control-label= translate_helper_translate(:preferred_locale)
              .col-sm-9
                %p.form-control-static= I18n.translate_helper_translate("locales.#{user.preferred_locale}")
            - if user.walking_speed_id
              - user_walk_speed = WalkingSpeed.where(id:user.walking_speed_id).first
            - else
              - user_walk_speed = WalkingSpeed.where(is_default:true).first
            - if user_walk_speed
              .form-group
                %label.col-sm-3.control-label= translate_helper_translate(:walking_speed)
                .col-sm-9
                  %p.form-control-static= user_walk_speed.label
            - if user.walking_maximum_distance_id
              - user_walk_max_dist = WalkingMaximumDistance.where(id:user.walking_maximum_distance_id).first
            - else
              - user_walk_max_dist = WalkingMaximumDistance.where(is_default:true).first
            - if user_walk_max_dist
              .form-group
                %label.col-sm-3.control-label= translate_helper_translate(:walking_maximum_distance)
                .col-sm-9
                  %p.form-control-static= user_walk_max_dist.label
            .form-group
              %label.col-sm-3.control-label= translate_helper_translate(:maximum_wait_time)
              .col-sm-9
                %p.form-control-static= "#{user.max_wait_time} #{translate_helper_translate(:minutes)}"
    - if can? :full_read, user
      .col-sm-6
        .panel.panel-default#agencies
          .panel-heading
            %h2.panel-title
              =translate_helper_translate(:agencies)
              = add_tooltip("agencies_help")
          .panel-body
            = render partial: 'users/agency_table', locals: { user: user }

  - if current_user.agency
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            %h2.panel-title
              =translate_helper_translate(:traveler_notes)
              = add_tooltip("traveler_notes_help")
          .panel-body
            -TravelerNote.where(user: @user, agency: current_user.agency).each do |note|
              =note.note

  - if can? :full_read, user
    .row
      .col-sm-12
        .panel.panel-default#buddies
          .panel-heading
            %h2.panel-title
              = translate_helper_translate(:buddies)
              = add_tooltip("buddies_help")
          .panel-body
            %table.table.table.condensed.table-striped.table-hover.table-bordered.table-responsive#buddies_table
              %thead
                %th= translate_helper_translate(:buddy)
                %th.email= translate_helper_translate(:email)
                %th= translate_helper_translate(:can_assist_me)
                %th= translate_helper_translate(:i_can_assist)
              %tbody
                -# initial load from user record
                - @user.related_users.each do |ou|
                  %tr
                    - urp = UserRelationshipProxy.new(@user, ou)
                    %td= urp.you.name
                    %td.email= urp.you.email
                    %td= UserRelationshipDecorator.decorate(urp.can_assist_me).status
                    %td= UserRelationshipDecorator.decorate(urp.i_can_assist).assist_btn
    .row
      .col-sm-6
        .panel.panel-default#eligibility
          .panel-heading
            %h2.panel-title
              = translate_helper_translate(:eligibility)
              = add_tooltip("eligibility_help")
          .panel-body
            = render :partial =>'users/show_characteristics_answers', :locals => { :user_characteristics => @user_characteristics_proxy, collection: Characteristic.active.enabled }
      .col-sm-6
        .panel.panel-default#accommodations
          .panel-heading
            %h2.panel-title
              = translate_helper_translate(:accommodations)
              = add_tooltip("accommodations_help")
          .panel-body
            = render :partial =>'users/show_characteristics_answers', :locals => { :user_characteristics => @user_accommodations_proxy, collection: Accommodation.where(:datatype => 'bool') }
    .row
      .col-sm-6
        .panel.panel-default#booking
          .panel-heading
            %h2.panel-title
              =translate_helper_translate(:booking_information)
              = add_tooltip("booking_information_help")
          .panel-body
            = render :partial => 'users/show_booking_info', locals: { user: user }
      .col-sm-6
        .panel.panel-default#preferred_modes
          .panel-heading
            %h2.panel-title
              = translate_helper_translate(:preferred_modes)
              = add_tooltip("preferred_modes_help")
          .panel-body
            %legend.sr-only= translate_helper_translate(:preferred_modes)
            - Mode.top_level.where(visible: true).sort{|a, b| I18n.translate_helper_translate(a.name) <=> I18n.translate_helper_translate(b.name)}.each do |m|
              .row
                .col-sm-12
                  = check_box_tag "user[preferred_mode_ids][#{m.id}]", m.id, @user.preferred_modes.include?(m), name: "user[preferred_mode_ids][]", disabled: true
                  = label_tag "user[preferred_mode_ids][#{m.id}]", translate_helper_translate(m.name)
                  - m.submodes.where(visible: true).each do |sm|
                    .row
                      .col-sm-12.col-sm-push-1
                        = check_box_tag "user[preferred_mode_ids][#{sm.id}]", sm.id, @user.preferred_modes.include?(sm), name: "user[preferred_mode_ids][]", disabled: true
                        = label_tag "user[preferred_mode_ids][#{sm.id}]", translate_helper_translate(sm.name)

:javascript
  $(document).ready(function() {
    $('#buddies_table').dataTable( {
          stateSave: true,
          "oLanguage": {
            "sLengthMenu": "Display _MENU_ buddies per page",
            "sZeroRecords": "Nothing found - sorry",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ buddies",
            "sInfoEmpty": "Showing 0 to 0 of 0 buddies",
            "sInfoFiltered": "(filtered from _MAX_ total buddies)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
    var agencies_table_prev = $("#agencies_table_paginate .prev");
    var agencies_table_next = $("#agencies_table_paginate .next");
    checkAriaLabel(agencies_table_prev);
    checkAriaLabel(agencies_table_next);
    toggleAriaLabelPrevNextranslate_helper_translate(agencies_table_prev);
    toggleAriaLabelPrevNextranslate_helper_translate(agencies_table_next);

    var buddies_table_prev = $("#buddies_table_paginate .prev");
    var buddies_table_next = $("#buddies_table_paginate .next");
    checkAriaLabel(buddies_table_prev);
    checkAriaLabel(buddies_table_next);
    toggleAriaLabelPrevNextranslate_helper_translate(buddies_table_prev);
    toggleAriaLabelPrevNextranslate_helper_translate(buddies_table_next);

    var booking_table_prev = $("#bookingtable_paginate .prev");
    var booking_table_next = $("#bookingtable_paginate .next");
    checkAriaLabel(booking_table_prev);
    checkAriaLabel(booking_table_next);
    toggleAriaLabelPrevNextranslate_helper_translate(booking_table_prev);
    toggleAriaLabelPrevNextranslate_helper_translate(booking_table_next);
    });
