.col-md-6.col-md-offset-3.well
  %h2.text-center
    %strong
      Change your password

  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'col-md-6 col-md-offset-3' }) do |f|

    = f.hidden_field :reset_password_token
    = f.error_notification

    .field
      = f.input :password, :placeholder => 'New Password', :input_html => {:class => 'form-control'}

    .field
      = f.input :password_confirmation, :placeholder => 'New Password Confirmation', :input_html => {:class => 'form-control'}

    .pull-left
      = f.submit "Change my password", :class => "btn btn-primary"
