= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'col-md-4 col-md-offset-4' }) do |f|
  %h1
    = translate_helper(:new) + " " + translate_helper(:password)
  
  .row
    .panel.panel-default
      .panel-heading
        %h2.panel-title= translate_helper(:email)
      .panel-body
        = f.hidden_field :reset_password_token
        = f.error_notification

        .field
          = f.input :password, :placeholder => "#{translate_helper(:new) + " " + translate_helper(:password)}", :input_html => {:class => 'form-control'}
        .field
          = f.input :password_confirmation, :placeholder => "#{translate_helper(:new) + " " + translate_helper(:password_confirmation)}", :input_html => {:class => 'form-control'}
        .pull-left
          = f.submit translate_helper(:ok), :class => "btn btn-primary"
          = link_to :back, :class => "btn btn-primary" do  
            = translate_helper(:back)
