= simple_form_for [:admin, @provider], html: { class: 'form-horizontal', multipart: true},
        wrapper: :horizontal_form do |f|
  = f.error_notification
  .row.info-header
    .col-sm-6
      %h1
        = f.input :name
    .col-sm-6.btns
      - if can? :update, @provider
        .pull-right
          = f.button :submit, t(:apply), class: "btn action-button"
          = link_to t(:cancel), :back, class: "btn action-button"

  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title= t(:provider_info)
        .panel-body
          -unless @provider.logo_url.nil?
            %img{src: @provider.logo_url, style: "display: block; margin-right: auto; margin-left: auto;"}
            = f.input :remove_logo, label: t(:remove_logo), :as => :boolean, input_html: {checked: false}
          = f.input :logo, label: t(:upload_logo) + ' (' + Oneclick::Application.config.provider_logo_format_list.join(',') + ')', :as => :file
          = f.input :address
          = f.input :city, label: "#{t(:city)}/#{t(:state)}/#{t(:zip)}",
            input_html: {class: "col-sm-6 form-control"}, wrapper_html: {class: ""} do
            = f.input_field :city, class: "col-sm-3"
            %label.col-sm-1
            = f.input_field :state, class: "col-sm-2"
            = f.input_field :zip, class: "col-sm-3 pull-right"
          = f.input :phone
          = f.input :email
          = f.input :url

    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title= t(:internal_contact)
        .panel-body
          = f.input :internal_contact_name
          = f.input :internal_contact_title
          = f.input :internal_contact_phone
          = f.input :internal_contact_email
          = f.input :internal_contact, collection: @provider.users, class: "form-control",
                selected: (@contact.id if @contact) , include_blank: "None", label: t(:user)

  .row
    .panel.panel-default
      .panel-heading
        %h4.panel-title= t(:staff_actions)
      .panel-body
        .scrolling-checkbox-list
          = f.association :staff, collection: User.staff_assignable.order(:first_name), as: :check_boxes,
                  wrapper: :inline_checkboxes, label: false

  = render partial: 'admin/shared/edit_comments', locals: {f: f, commentable: @provider}

