= simple_form_for [:admin, @provider], html: { class: 'form-horizontal'},
        wrapper: :horizontal_form do |f|
  = f.error_notification
  .row
    .col-sm-6.pull-left
      %h2
        = f.input :name
    .col-sm-6.pull-right
      .row
        .col-sm-6.pull-right
          = f.button :submit, 'Save', class: "btn action-button default"
          = link_to 'Cancel', :back, class: "btn action-button default"
