-# Form for creating or editing a provider
= simple_form_for [:admin, @provider], html: { class: 'form-horizontal', multipart: true, id: 'provider-data-form'},
        wrapper: :horizontal_form do |f|
  = f.error_notification message: print_messages(f)
  .row
    .col-sm-12
      .panel.panel-servicedata
        .panel-heading
          %h4.panel-title
            = translate_helper(:provider)
            = add_tooltip("provider_info_help", "fa fa-question-circle", nil)
        .panel-body
          = f.input :name, label: translate_helper(:provider_name)
          .form-group.file.optional.provider_logo
            = f.input :logo, input_html: { id: "provider-logo-upload-real", class: "hidden"}, :as => :file, wrapper: false
            .col-sm-9
              %button.btn.btn-default.btn-svc-data#provider-logo-upload-btn= @provider.logo_url.nil? ? "Upload Logo" : "Replace Image"
              -unless @provider.logo_url.nil?
                %img.logo-display-img{src: @provider.logo_url}
              -else
                %span.subtle-text jpg, gif, png
          = f.input :admin_user, label: translate_helper(:admin_user), placeholder: translate_helper(:admin_user_placeholder_text), input_html: {value: @provider.admin_user.nil? ? nil : @provider.admin_user.email}
          %input{:name => "provider[staff_ids]", :type => 'hidden'}
          .pull-right
            = f.button :submit, translate_helper(:save), class: "btn btn-default btn-svc-data"

:javascript
  $(document).ready(function() {

  });
