- content_for :title, "#{translate_helper(:site_title)} - " + (current_page?(action: 'new') ? "#{translate_helper(:new_provider)}" : "#{translate_helper(:edit)} #{@provider.name}")

.row.info-header
  .col-sm-12
    %h2 Transportation Services
.row
  .col-md-8.col-sm-10.col-xs-12.center
    = render partial: 'provider_form'
    -# = render partial: 'admin/services/services_form'


:javascript

$(document).ready(function() {

});
