.header
  %button.action-button.pull-right
    = link_to t(:new_agency), new_admin_agency_path
  %h1= t(:providers)

%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_providers_table
  %thead
    %tr
      %th= t(:name)
      %th
  %tbody
    - @providers.each do |provider|
      %tr
        %td= link_to provider.name, admin_provider_path(provider)
        %td.center
          = link_to admin_provider_services_path(provider), {class: 'btn'} do
            %i.fa.fa-info-circle
            = t(:services)

= link_to t(:new_provider), new_admin_provider_path, {class: 'btn'}

= render partial: 'shared/parameterized_datatable_javascript',
locals: {table_id: '#admin_providers_table',
sLengthMenu: "Display _MENU_ providers per page",
sInfo: "Showing _START_ to _END_ of _TOTAL_ providers",
bFilter: true}