.header
  = link_to t(:new_provider), new_admin_provider_path,
        {class: 'btn action-button btn-default pull-right', role: 'button'}
      
  %h1= t(:providers)

%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_providers_table
  %thead
    %tr
      %th= t(:name)
      %th
  %tbody
    - @providers.each do |provider|
      %tr
        %td= link_to provider.name, admin_provider_path(provider)
        %td.center
          = link_to admin_provider_services_path(provider) do
            = t(:services)

= render partial: 'shared/parameterized_datatable_javascript',
locals: {table_id: '#admin_providers_table',
sLengthMenu: "Display _MENU_ providers per page",
sInfo: "Showing _START_ to _END_ of _TOTAL_ providers",
bFilter: true}