- temp_rating = @provider.services.first.ratings.build(user: @traveler) rescue nil
- if can? :index, Provider
  .row
    .col-sm-12
      = link_to t(:all_providers), admin_providers_path, class: 'btn btn-primary btn-arrow-left', style: 'font-weight: normal'
.row.info-header
  .col-sm-5
    %h1= @provider.name
    - unless @provider.active
      %p= t(:inactive)
  .col-sm-7.btns
    .pull-right
      -if temp_rating && Rating.feedback_on?
        - if can? :read, temp_rating
          = RateableDecorator.new(@provider).rating_in_stars
          %button.btn.action-button.btn-default{data: {toggle: 'modal', target: "#feedback_modal"}}
            = t(:feedback)
      = render partial: "ratings/organization_feedback_modal", locals: {rateable: @provider}
      - if can? :destroy, @provider
        = button_tag :type => 'button', "data-target" => "#deleteProviderConfirmDialog", "data-toggle" => "modal", :class => "btn action-button" do
          = t(:delete)
        #deleteProviderConfirmDialog.modal.fade.col-sm-12{"aria-describedby" => t(:remove_provider), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                = button_tag class: 'btn action-button pull-right', data: {dismiss: 'modal'} do
                  = t(:cancel)
                = button_to t(:ok), { action: "destroy", id: @provider.id }, method: :delete, style: "margin-right: 5px;", class: "btn action-button pull-right"
                .modal-title{:style => "text-align:left;"}
                  %b
                    = t(:site_title)
              .modal-body{:style => "text-align:left;"}
                = t(:confirm_remove_message) + @provider.name + " ?"
        - if can?(:create, Service) && can?(:update, @provider)
          = link_to new_service_path(provider_id: @provider), {class: 'btn action-button', role: 'button'} do
            = icon_label(:add_service)
      - if can? :update, @provider
        = link_to edit_admin_provider_path(@provider), {class: 'btn action-button', role: 'button'} do
          = icon_label(:edit)
.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = t(:provider_info)
      .panel-body
        %table.table.table-condensed
          %tr
            %td.text-right
              = t(:logo)
            %td.center
              %img{src: @provider.logo_url}
          %tr
            %td.text-right
              = t(:address) + ":"
            %td.text-left
              %b= @provider.address.to_s
            %td.text-left
              %b= @provider.city.to_s
            %td.text-left
              %b= @provider.state.to_s
            %td.text-left
              %b= @provider.zip.to_s
          %tr
            %td.text-right
              = t(:phone)+ ":  "
            %td.text-left{colspan: 4}
              %b= @provider.phone.to_s
          %tr
            %td.text-right
              = t(:email)+ ":  "
            %td.text-left{colspan: 4}
              %b= mail_to @provider.email.to_s
          %tr
            %td.text-right
              = t(:url)+ ":  "
            %td.text-left{colspan: 4}
              - if @provider.url
                %b= link_to @provider.url, @provider.url

  - if can? :full_read, @provider
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title= t(:internal_contact)
        .panel-body
          %table.table.table-condensed
            %tr
              %td.text-right
                = t(:name) + ": "
              %td.text-left
                %b= @provider.internal_contact_name
            %tr
              %td.text-right
                = t(:title)+": "
              %td.text-left
                %b= @provider.internal_contact_title
            %tr
              %td.text-right
                = t(:phone)+ ": "
              %td.text-left
                %b= @provider.internal_contact_phone
            %tr
              %td.text-right
                = t(:email)+ ":  "
              %td.text-left
                %b= mail_to @provider.internal_contact_email
            - if @contact
              %tr
                %td.text-right
                  = t(:user) + ": "
                %td.text-left
                  %b= link_to @contact.name, admin_user_path(@contact)


-if can? :full_read, @provider
  .panel.panel-default
    .panel-heading
      %h4.panel-title= t(:staff_actions)
    .panel-body
      %table.ALTtable.table-condensed
        %tr
          %th.text-left
            = t(:name)
          %th.text-left
            = t(:title)
          %th.text-left
            = t(:phone)
          %th.text-left
            = t(:email)

        - if @staff.count > 0
          - @staff.each do |s|
            %tr
              %td.text-left
                %b= s.name.to_s
              %td.text-left
                %b= s.title.to_s
              %td.text-left
                %b= s.phone.to_s
              %td.text-left
                %b= mail_to s.email.to_s
        - else
          %tr
            %td= t(:nothing_found_sorry)

  .panel.panel-default
    .panel-heading
      %h4.panel-title= t(:services)
    .panel-body
      = render 'services/table'

  = render partial: 'admin/shared/show_comments', locals: {commentable: @provider}

  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          / %h4.panel-title= t(:other_information)
          %h4.panel-title Other Information
        .panel-body
          %table.table
            %tr
              %td Logo URL:
              %td= @provider.logo_url || '(None)'

:javascript
  $(document).ready(function() {
    $('#admin_services_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ services per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ services",
              "sInfoEmpty": "Showing 0 to 0 of 0 services",
              "sInfoFiltered": "(filtered from _MAX_ total services)"
          },
          "sDom": "<'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );
