.navbar.navbar-fixed-top#publicnav
  %nav.navbar-inner
    .container-fluid
      = link_to root_path, :class => 'brand', :style => "padding:0px;margin-left:0px;margin-top:5px;" do
        = image_tag get_logo, :style => "height:30px;"
        = t(:one_click_trip_planner) 


      .pull-right
        = link_to error_501_path, id: 'help' do
          %i.icon.icon-question-sign
      .pull-right      
        -#<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        %a.btn.btn-navbar{data: { toggle: "collapse",  target: ".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        -#<!-- Everything you want hidden at @navbarCollapseWidth or less, place within here -->
        .nav-collapse.collapse
          %ul.nav
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{data: {toggle: 'dropdown', target: '#'}}
                  %i.icon.icon-user
                  = "#{t(:welcome)}, #{current_user.welcome}"
                  %b.caret
                %ul.dropdown-menu{role: 'menu'}
                  = render partial: 'menu_item', collection: actions(with_logout: true)
                  / %li
                  /   = link_to destroy_user_session_path, :method=>'delete' do
                  /     %i.icon.icon-signout
                  /     = t(:logout)
                  - if is_admin?
                    %li.divider.text-left
                    %li
                      = link_to admin_path do
                        %i.icon.icon-wrench
                        = t(:admin)
            - else
              %li.dropdown
                %a.dropdown-toggle{data: {toggle: 'dropdown', target: '#'}}
                  %i.icon.icon-user
                  = "#{t(:welcome)}, #{t(:visitor)}"
                  %b.caret
                %ul.dropdown-menu{role: 'menu'}
                  = render partial: 'menu_item', collection: actions
                  / %li
                  /   = link_to new_user_session_path do
                  /     %i.icon.icon-key
                  /     = t(:log_in) 
                  / %li.divider.text-edit
                  / %li
                  /   = link_to new_user_registration_path do
                  /     %i.icon.icon-edit
                  /     = t(:create_an_account) 

      .pull-right  
        - if current_user and current_user.has_role?(:admin)
          %ul.nav
            %li.dropdown
              %a.btn.btn-navbar= render partial: 'admin/home/admin_menus'
