- unless @hide_navbar
  #publicNav.navbar.navbar-default.navbar-fixed-top{:role => "navigation", aria: {label: "Header"}}
    .container{:style => 'width:98%;padding-right:0;'}
      #navHeader
        %a.navbar-brand{:href => root_url, :style => 'padding: 0px;', tabindex: "1"}
          %img.img-responsive.pull-left{:id => 'logo', :src => "#{get_logo_path}", :alt => "#{get_logo_text}"}
        .pull-right
          %a#help{:href => root_url + "/content/faq", tabindex: "5"}
            %i.fa.fa-question-circle
            %span.sr-only Help
      #userMenuNavbar.navbar-right
        %ul.nav.navbar-nav
          - if can? :see, :admin_menu
            = render partial: 'admin/admin_home/admin_dropdown_menus', locals: { :available_actions => admin_actions, :title => translate_helper_translate(:admin_actions) }
          / end of nav navbar-nav
          - if can? :see, :staff_menu
            = render partial: 'admin/admin_home/admin_dropdown_menus', locals: { :available_actions => staff_actions, :title => translate_helper_translate(:staff_actions) }
          - if user_signed_in?
            = render partial: 'shared/user_menus'
          - else
            = render partial: 'shared/visitor_menus'
      / end of #navHeader
  / end of publicNav
:javascript
  $(function () {
    $('#main').css('padding-top', ($('#publicNav').heightranslate_helper_translate() + 10) + 'px');
    $('#publicNav').mutate('height', function(el) {
      $('#main').css('padding-top', ($(el).heightranslate_helper_translate() + 10) + 'px');
    });

    $('body').on('keypress', 'a', function(e) {
      if (e.which == 32) {
          $(this)[0].click();
          e.preventDefaultranslate_helper_translate();
      }
    });
  });
