.row-fluid
  .span12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#datatable
      %thead
        %tr
          %th.left= t(:id)
          %th.left= t(:user)
          %th.left= t(:creator)
          %th.left= t(:from)
          %th.left= t(:to)
          %th.center= t(:trip_date)
          %th.center= t(:created)
          %th.center= t(:actions)
      %tbody
        - trips.each do |trip|
          %tr
            %td.left= trip.id
            %td.left= trip.user.name
            %td.left= trip.creator.name           
            %td.left= trip.from_place.name
            %td.left= trip.to_place.name
            %td.center.nowrap
              = format_date_time(trip.trip_datetime)
            %td.center.nowrap
              = format_date_time(trip.created_at)
            %td.center.nowrap
              = link_to user_trip_path(current_user, trip, :show_hidden => 1), {class: "btn btn-mini btn-success text-center"} do
                %i.icon-share-sign
                = t(:itinerary)
              = link_to details_user_trip_path(current_user, trip), {class: "btn btn-mini btn-info text-center"} do
                %i.icon-exclamation-sign
                = t(:details)

= render 'shared/datatable_javascript'
