.row
  .col-sm-12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#datatable
      %thead
        %tr
          %th.left= translate_helper_translate(:id)
          %th.left= translate_helper_translate(:user)
          %th.left= translate_helper_translate(:creator)
          %th.left= translate_helper_translate(:from)
          %th.left= translate_helper_translate(:to)
          %th.center= translate_helper_translate(:trip_date)
          %th.center= translate_helper_translate(:created)
          %th.center= translate_helper_translate(:actions)
      %tbody
        - trips.each do |trip|
          %tr
            %td.left= trip.id
            %td.left= trip.user.name
            %td.left= trip.creator.name           
            %td.left= trip.from_place.name
            %td.left= trip.to_place.name
            %td.center.nowrap
              = format_date_time(trip.trip_datetime)
            %td.center.nowrap
              = format_date_time(trip.created_at)
            %td.center.nowrap
              = link_to user_trip_path(current_user, trip, :show_hidden => 1), {class: "btn btn-xs btn-success text-center"} do
                %i.fa.fa-share-sign
                = translate_helper_translate(:itinerary)
              = link_to details_user_trip_path(current_user, trip), {class: "btn btn-xs btn-info text-center"} do
                %i.fa.fa-exclamation-sign
                = translate_helper_translate(:details)

= render 'shared/simple_datatable_js'
