.row-fluid
  .span12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#datatable
      %thead
        %tr
          %th.left Trip Id
          %th.left User
          %th.left From
          %th.left To
          %th.center Created On
          %th.center Actions
      %tbody
        - trips.each do |trip|
          %tr
            %td.left= trip.id
            %td.left= trip.owner.nil? ? "anonymous" : trip.owner.name
            %td.left= trip.from_place.nil? ? "no address" : trip.from_place.nongeocoded_address
            %td.left= trip.to_place.nil? ? "no address" : trip.to_place.nongeocoded_address
            %td.center= format_date_time(trip.created_at)
            %td.center
              = link_to details_trip_path(trip), {class: "btn btn-mini btn-success text-center"} do
                %i.icon-search
                =t(:view)

= render 'shared/datatable_javascript'
