remove_messages();
#{selectorify(target_name)}.html("#{escape_javascript(render 'shared/messages')}");
$('#buddy_table').html("#{escape_javascript(render partial: 'devise/registrations/buddy_table', locals: {user: user})}");
$('#traveler_table').html("#{escape_javascript(render partial: 'devise/registrations/traveler_table', locals: {user: user})}");
$('#agencies_table').html("#{escape_javascript(render partial: 'devise/registrations/agency_table', locals: {user: user})}");
$("a[data-id='2']").text("#{t(:buddies) + ' (' + user.delegates.count.to_s + ')'}");
$("a[data-id='3']").text("#{t(:travelers) + ' (' + user.travelers.count.to_s + ')'}");
$("a[data-id='7']").text("#{t(:agencies) + ' (' + user.approved_agencies.count.to_s + ')'}");