- rateable = r.rateable
.modal-header
  .row
    %button.btn.action-button.pull-right{data: {dismiss: "modal"}}= t(:ok)
.modal-body
  .modal-title
    .pull-right= r.decorate.rating_in_stars(2)
    = rateable.to_s
  .row
    - case rateable
      - when Agency
        = render partial: "admin/agencies/public_details", locals: { agency: rateable }
      - when Service
        = render partial: "services/public_details", locals: { service: rateable }
      - when Trip
        -# trip details are stored on the trip for convenience
        = rateable.planned_trip_html.html_safe