= simple_form_for @ratings_proxy, url: url do |f|
  - @ratings_proxy.rateables.each do |rateable|
    = simple_fields_for :ratings, rateable.ratings.build, index: rateable.class.name, wrapper: :horizontal_form, :html => { :class => "form-horizontal"}, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes}  do |ratings_form|
      .panel.panel-default
        .panel-heading
          %h3= rateable.to_s
        .panel-body
          = ratings_form.input :value, as: :radio_buttons, collection: 1..Rating::MAXRATING, label: t(:feedback_rating), label_method: lambda { |value| to_stars(value, 1, true) }
          = ratings_form.input :comments, label: t(:feedback_comments)
          = ratings_form.input :id, as: :hidden, :input_html => { :value => rateable.id }
  .modal-footer
    = f.submit t(:submit_review), class: "btn action-button default"
    %btn.btn.action-button{data: {dismiss: "modal"}}= t(:cancel)