.modal.fade{id: "feedback_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .panel.panel-default
        .panel-heading
          %h3
            = @agency.name
            %button.btn.action-button.btn-default.pull-right#load_feedback
              = t(:feedback)
        .panel-body
          -unless rateable.ratings.empty?
            %dl.dl-horizontal
              - rateable.ratings.decorate.each do |r|
                %dt.rating-value= r.rating_in_stars
                %dd.rating-comments= r.comments 
          -else
            .alert
              =t(:no_ratings_yet)
      .modal-footer
        %btn.btn.btn-default.action-button{data: {dismiss: "modal"}}= t(:close)
-# Load in the form dynamically
:javascript
  $(document).ready(function() {
    $("#load_feedback").on("click", function() {
      $.ajax({
        url: "/agencies/#{@agency.id}/ratings/new",
        context: $(".modal-content"),
        dataType: "html"
      })
      .then( function(html) {
        $(this).html(html)
      });
    });
  });