- content_for :title, "#{translate_helper_translate(:site_title)} - #{translate_helper_translate(:feedback)}"
.col-sm-12
  .row.info-header
    .col-sm-12
      .btns.pull-right
        = submit_tag translate_helper_translate(:apply), class: "btn action-button"
        = link_to translate_helper_translate(:cancel), ratings_path, class: "btn action-button"
      %h1= translate_helper_translate(:feedback)
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        = translate_helper_translate(:feedback)
        = add_tooltip("feedback_help")
    .panel-body
      = search_form_for @q, id: 'ratings_search_form', :url => "#{url_for(locale: params[:locale])}", html: {class: 'filter-form', style: 'padding-top: 10px;'} do |f|
        .form-group
          = f.search_field "id_or_user_name_or_comments_or_status_cont", {class: "form-control", style: 'width: auto; display: inline-block;' }
          = f.submit translate_helper_translate(:search), class: 'btn action-button'
      %p
        %select.input-sm#per_page_select
          - [10, 25, 50, 100].each do |per_page|
            - if per_page == @per_page.to_i
              %option{value: "#{per_page}", selected: true}
                = per_page
            - else
              %option{value: "#{per_page}"}
                = per_page
        :javascript
          $('#per_page_select').on('change', function(){
            var params = #{@params.to_json};
            params.per_page = $(this).val();
            window.location.href = "#{url_for(locale: params[:locale])}?" + $.param(params);
          });
        %span
          = "records per page"
      = form_tag approve_ratings_path, id: 'ratings_form', method: :patch do
        %table.table.table-condensed.table-striped.table-bordered.table-hover#ratings_table
          %thead
            %tr
              %th= sort_link @q, :id, translate_helper_translate(:id)
              %th= sort_link @q, :user_name, translate_helper_translate(:username)
              %th.center= translate_helper_translate(:rating_targets)
              %th.rating.hidden= translate_helper_translate(:rating)
              %th.rating_in_stars.nowrap= sort_link @q, :value, translate_helper_translate(:rating)
              %th= sort_link @q, :comments, translate_helper_translate(:comments)
              %th= sort_link @q, :is_approved, translate_helper_translate(:approve)
              %th= sort_link @q, :is_rejected, translate_helper_translate(:reject)
              %th= sort_link @q, :created_at, translate_helper_translate(:created)
          %tbody
            - @ratings.decorate.each do |rating|
              %tr
                -#TODO Change this from creator.  Use person who took a trip?
                %td= rating.id
                %td= rating.user.name
                %td.center
                  %button.btn.action-button.inspect_rateable{data: {id: rating.id, toggle:"modal", target: '#rateable_modal'}}= rating.rateable_desc
                %td.hidden= rating.value
                %td.rating_in_stars.nowrap= rating.rating_in_stars
                %td= rating.comments
                %td
                  = label_tag "#{rating.id}_#{Rating::APPROVED}", translate_helper_translate(:approve), class: "sr-only"
                  -# Do not internationalize.  That will break the label.  Leave the label text itself internationalized
                  = radio_button_tag "#{rating.id}", Rating::APPROVED
                %td
                  = label_tag "#{rating.id}_#{Rating::REJECTED}", translate_helper_translate(:reject), class: "sr-only"
                  -# Do not internationalize.  That will break the label.  Leave the label text itself internationalized
                  = radio_button_tag "#{rating.id}", Rating::REJECTED
                %td.nowrap= format_date_time(rating.created_at)
        .row
          .col-sm-6
            .pull-left
              = page_entries_info @ratings
          .col-sm-6
            .pull-right
              = paginate @ratings, :params => {per_page: @per_page}, :theme => 'twitter-bootstrap-3' rescue nil
#rateable_modal.modal.fade{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content

-# Because DataTables messes with the DOM, forms only submit rows on the visible page.  Therefore, we override the native submit and fake it with carefully crafted AJAX
:javascript
$(document).ready( function() {
  $("button.inspect_rateable").on("click", function(e) {
    $.ajax({
      type: "GET",
      url: "ratings/context",
      dataType: "html",
      data: {
        id: $(this).attr("data-id")
      }
    })
    .done(function(data) {
      $("#rateable_modal .modal-content").html(data);
    });

    e.preventDefault ? e.preventDefaultranslate_helper_translate() : e.returnValue = false;
  });
  $("#ratings_form").submitranslate_helper_translate(function( event ) {
    $.ajax({
      type: "POST",
      url: "/ratings/approve",
      data: {
        "utf8":"✓",
        "_method":"patch",
        "authenticity_token": $("input[name=authenticity_token]").val(),
        "approve": $('table input:checked').serialize()
      },
      // This can't just be a reload or we hit issues with the reload
      success: function() { window.location = window.location }
    })
    event.preventDefaultranslate_helper_translate();
  });
});
