- content_for :title, "#{t(:site_title)} - #{t(:feedback)}"
= form_tag approve_ratings_path, method: :patch do
  .row.info-header
    .col-sm-12
      .btns.pull-right
        = submit_tag t(:apply), class: "btn action-button"
        = link_to t(:cancel), ratings_path, class: "btn action-button"
      %h1= t(:feedback)
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        = t(:feedback)
        = add_tooltip("feedback_help")
    .panel-body
      %table.table.table-condensed.table-striped.table-bordered.table-hover#ratings_table
        %thead
          %tr
            %th= t(:username)
            %th.center= t(:rating_targets)
            %th.rating.hidden= t(:rating)
            %th.rating_in_stars.nowrap= t(:rating)
            %th= t(:comments)
            %th= t(:approve)
            %th= t(:reject)
            %th= t(:created)
        %tbody
          - @ratings.pending.decorate.each do |rating|
            %tr
              -#TODO Change this from creator.  Use person who took a trip?
              %td= rating.user.name
              %td.center
                %button.btn.action-button.inspect_rateable{data: {id: rating.id, toggle:"modal", target: '#rateable_modal'}}= rating.rateable_desc
              %td.hidden= rating.value
              %td.rating_in_stars.nowrap= rating.rating_in_stars
              %td= rating.comments
              %td
                = label_tag "#{rating.id}_#{Rating::APPROVED}", t(:approve), class: "sr-only"
                -# Do not internationalize.  That will break the label.  Leave the label text itself internationalized
                = radio_button_tag "#{rating.id}", Rating::APPROVED
              %td
                = label_tag "#{rating.id}_#{Rating::REJECTED}", t(:reject), class: "sr-only"
                -# Do not internationalize.  That will break the label.  Leave the label text itself internationalized
                = radio_button_tag "#{rating.id}", Rating::REJECTED
              %td.nowrap= format_date_time(rating.created_at)
#rateable_modal.modal.fade{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content

-# Because DataTables messes with the DOM, forms only submit rows on the visible page.  Therefore, we override the native submit and fake it with carefully crafted AJAX
:javascript
$(document).ready( function() {
  $("button.inspect_rateable").on("click", function(e) {
    $.ajax({
      type: "GET",
      url: "ratings/context",
      dataType: "html",
      data: {
        id: $(this).attr("data-id")
      }
    })
    .done(function(data) {
      $("#rateable_modal .modal-content").html(data);
    });

    e.preventDefault ? e.preventDefault() : e.returnValue = false;
  });
  $("form").submit(function( event ) {
    $.ajax({
      type: "POST",
      url: "/ratings/approve",
      data: {
        "utf8":"✓",
        "_method":"patch",
        "authenticity_token": $("input[name=authenticity_token]").val(),
        "approve": $("input:checked", table.fnGetNodes()).serialize()
      },
      // This can't just be a reload or we hit issues with the reload
      success: function() { window.location = window.location }
    })
    event.preventDefault();
  });
  var table = $('#ratings_table').dataTable( {
    stateSave: true,
    "aaSorting": [[ 7, "desc" ]],
    "aoColumnDefs": [
      { "iDataSort": 2, "aTargets": [ 3 ] },
      { "bSortable": false, "aTargets": [ 5,6 ] },
      { "bSearchable": false, "aTargets": [ 5,6 ] }
    ],
    "oLanguage": {
              "sLengthMenu": "Display _MENU_ ratings per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ ratings",
              "sInfoEmpty": "Showing 0 to 0 of 0 ratings",
              "sInfoFiltered": "(filtered from _MAX_ total ratings)",
    },
    "bAutoWidth": false,
    "aoColumnDefs": [
      { "sWidth": "10%", "aTargets": [ 1 ] },
      { "sWidth": "40%", "aTargets": [ 4 ] },
      { "sWidth": "5%", "aTargets": [ 5,6 ] }
    ],
    "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
  } );
});
