= form_tag approve_ratings_path, method: :patch do
  = submit_tag t(:submit), class: "btn action-button"
  - @ratings.unapproved.each do |rating|
    .row
      %span= rating.rateable_type
      %span= rating.rateable_id
      = label_tag "approve[#{rating.id}]_Yes", t(:yes_str)
      -# Do not internationalize.  That will break the label
      = radio_button_tag "approve[#{rating.id}]", "Yes" 
      = label_tag "approve[#{rating.id}]_No", t(:no_str)
      -# Do not internationalize.  That will break the label
      = radio_button_tag "approve[#{rating.id}]", "No" 
-# Put it in a datatable, parse actions