%h4
  = t(:report_name)
- report_id = report_id || 0
%select.form-control.reporting-reports-list{onChange:"window.location.href=this.value"}
  - reports.each do |report_info|
    - if report_info[:is_generic]
      - report = Reporting::ReportingReport.find(report_info[:id])
      - if report.id == report_id
        %option{value: "#{reporting_report_path(report)}", selected: true}
          = report.name
      - else
        %option{value: "#{reporting_report_path(report)}"}
          = report.name
    -else
      - report = Report.find(report_info[:id])
      - if report.id == report_id
        %option{value: "#{admin_report_path(report)}", selected: true}
          = report.name
      - else
        %option{value: "#{admin_report_path(report)}"}
          = report.name


  