.row
  .col-sm-12
    %button.action-button.pull-right
      = link_to(t(:plan_a_trip), new_user_trip_path(@traveler))
    %h1
      %i.fa.fa-tags
      = t(:trips)
    = form_tag admin_trips_path, :id => 'time_filter_form', :method => "get", :class => 'navbar-form form-inline', :style => "margin-top:20px;" do
      .input-prepend
        %label.add-on{:for => 'time_filter'}= t(:filter)
        = select_tag(:time_filter_type, options_for_select(trip_filters.collect{|r| [r[:value], r[:id]]}, :selected => @time_filter_type), :style => 'margin-top:0px', :id => 'time_filter')
        
- if @trips.count > 0
  %table.table.table-condensed.table-striped.table-bordered.table-hover#admin_trips_table
    %thead
      %tr
        %th{:style => 'width:26px'}
        %th= t(:traveler)
        %th= t(:trip_date)
        %th= t(:from)
        %th= t(:to)
        %th= t(:trip_purpose)
        %th= t(:taken)
        %th.center= t(:rating)
        %th.center= t(:comments)
        %th.center= t(:send_follow_up_email)
    %tbody{ :id => 'trips_table'}
      - @trips.each do |trip|
        %tr
          - if trip.in_the_future
            %td.center.nowrap          
              %i.fa.fa-asterisk
          - else
            %td.center.nowrap          
          %td.nowrap= trip.user.name
          %td.nowrap= format_date(trip.trip_datetime)
          %td= trip.from_place.name
          %td= trip.to_place.name
          %td= t(trip.trip_purpose.name)
          %td
            -if trip.taken == true
              =t(:yes_str)
            -elsif trip.taken == false
              =t(:no_str)
            -else
              =t(:no_answer_str)
          %td.center.nowrap
            = ratings_for(trip)
          %td.center.nowrap
            =link_to '#', {href: '#user_comments_' + trip.id.to_s, class: 'btn btn-block', data: {toggle: 'modal'}} do
              %i.fa.fa-pencil


          %td.center.nowrap
            = link_to email_feedback_user_trip_path(trip.user, trip), {:class => "btn btn-block", :alt => t(:plan_trip), :title => t(:plan_trip)} do
              %i.fa.fa-envelope-o

        = render partial: 'user_comments', locals: {trip: trip}

- else
  .row
    .col-sm-12
      %h4= @time_filter_type == "100" ? t(:no_trips_found) : t(:no_matching_trips_found)

:javascript
  $(document).ready(function() {
    $('#admin_trips_table').dataTable( {
          "oLanguage": {
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ trips",
              "sInfoEmpty": "Showing 0 to 0 of 0 trips",
              "sInfoFiltered": "(filtered from _MAX_ total trips)"
          },
          "sDom": "<'row'<'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );
      
:javascript
  
  // Add a listener on the asset type filter that submits the form when changed
  $('#time_filter').change(function() {
    $('#time_filter_form').submit();
  });
