- content_for :title, "#{translate_helper_translate(:site_title)} - #{translate_helper_translate(:trips)}"
.row.info-header
  .col-sm-12
    .btns.pull-right
      = link_to(translate_helper_translate(:plan), new_user_trip_path(@traveler),class: "btn action-button" )
      = link_to(translate_helper_translate(:export), url_for(locale: params[:locale], params: @params, format: 'csv'), class: "btn action-button" )
    %h1=translate_helper_translate(:trips)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title
      = translate_helper_translate(:trips)
      = add_tooltip("trips_help")
  .panel-body
    = search_form_for @q, :url => "#{url_for(locale: params[:locale])}", html: {class: 'filter-form', style: 'padding-top: 10px;'} do |f|
      .form-group
        = f.search_field "user_name_or_from_address_or_to_address_or_trip_purpose_cont", {class: "form-control", style: 'width: auto; display: inline-block;' }
        = f.submit translate_helper_translate(:search), class: 'btn action-button'
    = render partial: "trips/trips_display_table", locals: {trips: @trips, traveler: @traveler, show_username: true}
