.col-sm-6
  .panel.panel-default
    .panel-heading
      %h2.panel-title
        = translate_helper(:contact_info)
        = add_tooltip("contact_info_help")
    .panel-body
      %table.table.table-condensed
        %tr
          %td.text-right
            = translate_helper(:address) + ":"
          %td.text-left
            %strong= agency.address.to_s
          %td.text-left
            %strong= agency.city.to_s
          %td.text-left
            %strong= agency.state.to_s
          %td.text-left
            %strong= agency.zip.to_s
        %tr
          %td.text-right
            = translate_helper(:phone)+ ":  "
          %td.text-left{colspan: 4}
            %strong= agency.phone.to_s
        %tr
          %td.text-right
            = translate_helper(:email)+ ":  "
          %td.text-left{colspan: 4}
            - unless agency.email.blank?
              %strong= mail_to agency.email.to_s
        %tr
          %td.text-right
            = translate_helper(:url)+ ":  "
          %td.text-left{colspan: 4}
            - unless agency.url.blank?
              %strong= link_to agency.url, agency.url
        %tr
          %td.text-right
            = translate_helper(:parent_agency) + ":  "
          %td.text-left{colspan: 4}
            %strong= agency.parent.name if agency.parent
