.col-sm-6
  .panel.panel-default
    .panel-heading
      %h2.panel-title
        = t(:contact_info)
        = add_tooltip("contact_info_help")
    .panel-body
      %table.table.table-condensed
        %tr
          %td.text-right
            = t(:address) + ":"
          %td.text-left
            %b= agency.address.to_s
          %td.text-left
            %b= agency.city.to_s
          %td.text-left
            %b= agency.state.to_s
          %td.text-left
            %b= agency.zip.to_s
        %tr
          %td.text-right
            = t(:phone)+ ":  "
          %td.text-left{colspan: 4}
            %b= agency.phone.to_s
        %tr
          %td.text-right
            = t(:email)+ ":  "
          %td.text-left{colspan: 4}
            %b= mail_to agency.email.to_s
        %tr
          %td.text-right
            = t(:url)+ ":  "
          %td.text-left{colspan: 4}
            - if agency.url
              %b= link_to agency.url, agency.url
        %tr
          %td.text-right
            = t(:parent_agency) + ":  "
          %td.text-left{colspan: 4}
            %b= agency.parent.name if agency.parent
