- content_for :title, "#{translate_helper_translate(:site_title)} - #{translate_helper_translate(:agencies)}"
.row.info-header
  .col-sm-12
    .btns.pull-right
      - if can? :create, Agency
        = link_to translate_helper_translate(:create), new_admin_agency_path, {class: 'btn action-button', role: 'button'}
      = button_tag translate_helper_translate(:export), id: 'exportAll', class: 'btn action-button', role: 'button'
    %h1= translate_helper_translate(:agencies)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title
      = translate_helper_translate(:agencies)
      = add_tooltip("agencies_help")
  .panel-body
    %table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_agencies_table
      %thead
        %tr
          %th= translate_helper_translate(:id)
          %th= translate_helper_translate(:name)
          %th= translate_helper_translate(:parent_agency)
          %th= translate_helper_translate(:subagencies)
          %th#status= translate_helper_translate(:status)
      %tbody
        - @agencies.each do |agency|
          %tr
            %td= agency.id
            %td= link_to agency.name, admin_agency_path(agency)
            %td
              - if agency.parent
                = link_to agency.parent.name, [:admin, agency.parent]
            %td
              = render partial: agency.sub_agencies
            %td
              - if agency.active == false
                = translate_helper_translate(:inactive)

= render partial: 'admin/shared/datatable_js', locals: {key: 'admin_agencies', entity: 'agencies'}
