.header
  %button.action-button.pull-right
    = link_to t(:new), new_admin_agency_path
  %h1= t(:agencies)

%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_agencies_table
  %thead
    %tr
      %th= t(:name)
      %th= t(:parent_agency)
      %th= t(:subagencies)
  %tbody
    - @agencies.each do |agency|
      %tr
        %td= link_to agency.name, admin_agency_path(agency)
        %td
          - if agency.parent
            = link_to agency.parent.name, [:admin, agency.parent]
          - else
            = ''
        %td
          = render partial: agency.sub_agencies

:javascript
  $(document).ready(function() {
    $('#admin_agencies_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ agencies per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ agencies",
              "sInfoEmpty": "Showing 0 to 0 of 0 agencies",
              "sInfoFiltered": "(filtered from _MAX_ total agencies)"
          },
          "sDom": '<f><l>rtip',
      } );
  } );