- content_for :title, "#{t(:site_title)} - #{t(:new_agency)}"
= simple_form_for([:admin, @agency]) do |f|
  = f.error_notification message: print_messages(f)

  .row.info-header
    .col-sm-12
      .btns.pull-right
        = button_tag type: 'submit', class: "btn action-button", style: "margin-right:5px;" do
          = t(:apply)
        = link_to admin_agencies_path, class: 'btn action-button' do
          = t(:cancel)
      %h1= t(:create_agency)
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        = t(:agency_info)
        = add_tooltip("agency_info_help")
    .panel-body
      .form-inputs
        = f.input :name, label: t(:name)
        - if translation_exists?("name_help")
          :javascript
            addHelperTooltip('#name_label', "#{t(:name_help)}");

        = f.association :parent, collection: @agency.possible_parents, label: t(:parent)
        - if translation_exists?("agency_parent_help")
          :javascript
            addHelperTooltip('#parent_id_label', "#{t(:agency_parent_help)}");
