.row
  = link_to t(:back), admin_agencies_path
.row
  - if can? :update, @agency
    = link_to edit_admin_agency_path(@agency), {class: 'btn btn-default action-button pull-right', role: 'button'} do
      = icon_label(:edit)
  - if can? :destroy, @agency
    = simple_form_for @agency, url: admin_agency_path, method: :delete, :html => {class: "form-horizontal pull-right", id: "delete_agency_form"}  do |f|
      = button_tag type: 'submit', class: "btn btn-default" do
        = icon_label(:delete)
  %h2= @agency.name

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:contact_info)
      .panel-body
        %table.table.table-condensed
          %tr
            %td.text-right
              = t(:address) + ":"
            %td.text-left
              %b= @agency.address.to_s
            %td.text-left
              %b= @agency.city.to_s
            %td.text-left
              %b= @agency.state.to_s
            %td.text-left
              %b= @agency.zip.to_s
          %tr
            %td.text-right
              = t(:phone)+ ":  "
            %td.text-left{colspan: 4}
              %b= @agency.phone.to_s
          %tr
            %td.text-right
              = t(:email)+ ":  "
            %td.text-left{colspan: 4}
              %b= mail_to @agency.email.to_s
          %tr
            %td.text-right
              = t(:url)+ ":  "
            %td.text-left{colspan: 4}
              - if @agency.url
                %b= link_to @agency.url, @agency.url
          %tr
            %td.text-right
              = t(:parent_agency) + ":  "
            %td.text-left{colspan: 4}
              %b= @agency.parent.name if @agency.parent
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:internal_contact)
      .panel-body
        %table.table.table-condensed
          - if @contact
            %tr
              %td.text-right
                = t(:name) + ": "
              %td.text-left
                %b= @contact.name.to_s
            %tr
              %td.text-right
                = t(:title)+": "
              %td.text-left
                %b= @contact.title.to_s
            %tr
              %td.text-right
                = t(:phone)+ ": "
              %td.text-left
                %b= @contact.phone.to_s
            %tr
              %td.text-right
                = t(:email)+ ":  "
              %td.text-left
                %b= mail_to @contact.email.to_s
          - else
            %tr
              %td= t(:nothing_found_sorry)
.panel.panel-default#staff
  .panel-heading
    %h3= t(:staff_actions)
  .panel-body
    %h4= t(:administrators)
    %table.ALTtable.table-condensed#admin_table
      %thead
        %tr
          %th= t(:name)
          %th= t(:title)
          %th= t(:phone)
          %th= t(:email)
      %tbody
        - @admins.each do |s|
          %tr
            %td= s.name.to_s
            %td= s.title.to_s
            %td= s.phone.to_s
            %td= mail_to s.email.to_s

    %h4= t(:agents)
    %table.ALTtable.table-condensed#agent_table
      %thead
        %tr
          %th= t(:name)
          %th= t(:title)
          %th= t(:phone)
          %th= t(:email)
      %tbody
        - @agents.each do |s|
          %tr
            %td
              = s.name.to_s
            %td
              = s.title.to_s
            %td
              = s.phone.to_s
            %td
              = mail_to s.email.to_s

:javascript
  $(document).ready(function() {
    $('#agent_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ agents per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ agencies",
              "sInfoEmpty": "Showing 0 to 0 of 0 agencies",
              "sInfoFiltered": "(filtered from _MAX_ total agencies)"
          },
          "sDom": "<'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
    $('#admin_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ agents per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ agencies",
              "sInfoEmpty": "Showing 0 to 0 of 0 agencies",
              "sInfoFiltered": "(filtered from _MAX_ total agencies)"
          },
          "sDom": "<'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );
