.row-fluid
  %button.action-button.pull-right
    = link_to t(:create_traveler), new_admin_user_path
  %h2= t(:find_traveler)

-if @found_travelers
  %h3= t(:matching_travelers)
  %table.table.table-condensed.table-striped.table-bordered.table-hover#searched_travelers_table
    %thead
      %tr
        %th.col-sm-4= t(:name)
        %th.col-sm-4= t(:email)
        %th.col-sm-4= t(:registered)
    %tbody
      -@found_travelers.each do |traveler|
        %tr
          %td.col-sm-4= traveler.name
          %td.col-sm-4= traveler.email
          %td.col-sm-4= traveler.created_at.to_date
-if @pre_auth_travelers
  %h3= t(:authorized_travelers)
  %table.table.table-condensed.table-striped.table-bordered.table-hover#preauth_travelers_table
    %thead
      %tr
        %th.col-sm-4= t(:name)
        %th.col-sm-4= t(:email)
        %th.col-sm-4= t(:registered)
    %tbody 
      - @pre_auth_travelers.each do |traveler|
        %tr
          %td.col-sm-4= link_to traveler.name, edit_admin_agency_agency_user_relationship_path(@agency.id,traveler.id)
          %td.col-sm-4= traveler.email
          %td.col-sm-4= traveler.created_at.to_date
= render partial: 'shared/parameterized_datatable_javascript', locals: { table_id: '#preauth_travelers_table',
  sLengthMenu: "Display _MENU_ travelers per page",
  sInfo: "Showing _START_ to _END_ of _TOTAL_ travelers",
  object_singular: 'traveler',
  object_plural: 'travelers',
  bLengthChange: false, 
  bSort: true,
  bFilter: true}

= render partial: 'shared/parameterized_datatable_javascript', locals: { table_id: '#searched_travelers_table',
  sLengthMenu: "Display _MENU_ travelers per page",
  sInfo: "Showing _START_ to _END_ of _TOTAL_ travelers",
  object_singular: 'traveler',
  object_plural: 'travelers',
  bLengthChange: false, 
  bSort: true,
  bFilter: true}

:javascript
  
  // Add a listener on the asset type filter that submits the form when changed
  $('#time_filter').change(function() {
    $('#time_filter_form').submit();
  });
