.row.info-header
  .col-sm-12
    .btns.pull-right
      = link_to t(:create), new_admin_user_path,{class: 'btn action-button', role: 'button'}
    %h1= t(:find_traveler)

-if @pre_auth_travelers
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        = t(:authorized_travelers)
        = add_tooltip("authorized_travelers_help")
    .panel-body
      %table.table.table-condensed.table-striped.table-bordered.table-hover#preauth_travelers_table
        %thead
          %tr
            %th.col-sm-4= t(:name)
            %th.col-sm-4= t(:email)
            %th.col-sm-4= t(:registered)
        %tbody
          - @pre_auth_travelers.each do |traveler|
            %tr
              %td.col-sm-4= link_to traveler.name, admin_user_path(traveler)
              %td.col-sm-4= traveler.email
              %td.col-sm-4= traveler.created_at.to_date
:javascript

  $(document).ready(function() {
    $('#preauth_travelers_table').dataTable( {
          stateSave: true,
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ travelers per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ travelers",
              "sInfoEmpty": "Showing 0 to 0 of 0 travelers",
              "sInfoFiltered": "(filtered from _MAX_ total travelers)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );

  // Add a listener on the asset type filter that submits the form when changed
  $('#time_filter').change(function() {
    $('#time_filter_form').submit();
  });
