#login.container-fluid
  %div.responsive-mbp.row-fluid
    .span4.info
      #left-description
        %h1= t(:log_in)
        %h4 Have we met before?

        %p

          Are you a Shared Ride user? If so, log in using your shared ride
          client ID and date of birth, then tap, "Log In". This will enable
          you to book shared ride trips directly from this kiosk.
          <br><br>
          If you do not have an account, tap "Skip This Step".

    %div.span8login
      = simple_form_for(@booking_proxy, url: kiosk_user_ecolane_login_path(@traveler), html: {class: 'form-horizontal' }) do |f|
        .row-fluid
          .span12login
            .input-container
              = f.input :service_id, as: :hidden, input_html: {value: Service.where(booking_service_code: 'ecolane').first.id}
              = f.input :external_user_id, required: true, placeholder: 'Tap here to enter your shared ride client ID', label: 'Shared Ride Client ID'
              = f.input :dob, required: true, placeholder: 'MM/DD/YYYY', label: 'Date of Birth'

        .row-fluid
          .span12
            = button_tag :submit, class: 'login-btn pull-left' do
              = t(:log_in).titleize

            .cancel-container.pull-right
              %a.cancel-btn{href: kiosk_user_new_trip_start_path(current_or_guest_user)} Skip this step

          .span3.hidden

:javascript
  // window.cocoa = {
  //   openKeyboard:  function () { console.log('openKeyboard') },
  //   closeKeyboard: function () { console.log('closeKeyboard') },
  // };

  $('input#user_service_proxy_external_user_id')
    .click(function() { if (window.cocoa) window.cocoa.openKeyboard() })
    .blur(function()  { if (window.cocoa) window.cocoa.closeKeyboard() });

  $('input#user_service_proxy_dob')
    .click(function() { if (window.cocoa) window.cocoa.openKeyboard() })
    .blur(function()  { if (window.cocoa) window.cocoa.closeKeyboard() });
