.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = "Trip: " + @trip.id.to_s
    
.row-fluid
  .span12
    .row-fluid
      .span5
        %fieldset
          %legend Transaction
          %p.span12
            %span.span4.text-right User:          
            %span.span8= @trip.user.nil? ? "anonymous" : link_to(@trip.user.name, user_path(@trip.user))      
          %p.span12
            %span.span4.text-right Creator:          
            %span.span8= @trip.creator.nil? ? "" : link_to(@trip.creator.name, user_path(@trip.creator))      
          %p.span12
            %span.span4.text-right Trip Date:          
            %span.span8= format_date_time(@planned_trip.trip_datetime)          
          %p.span12
            %span.span4.text-right Arrive/Depart:          
            %span.span8= @planned_trip.is_depart ? "depart at" : "arrive by"      
          %p.span12
            %span.span4.text-right Created:          
            %span.span8= format_date_time(@planned_trip.created_at)          
      .span7
        %fieldset
          %legend Places
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Place
                %th.left Type
                %th.center Location
                %th.center Actions
            %tbody
              - @trip.trip_places.each do |place|
                %tr
                  %td.left= place
                  %td.left= place.type
                  %td.center= sprintf("[%.6f, %.6f]", place.location[0], place.location[1])
                  %td.center
                    = link_to "#", {class: "btn btn-mini btn-success text-center"} do
                      %i.icon-search
                      =t(:view)

    .row-fluid
      .span12
        %fieldset
          %legend Itineraries
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Mode
                %th.center Hidden
                %th.center Start Time
                %th.center End Time
                %th.left Walk Time
                %th.left Transit Time
                %th.left Wait Time
                %th.left Walk Dist                
                %th.center Cost
            %tbody
              - @planned_trip.itineraries.each do |itin|
                %tr
                  %td.left= itin.mode
                  %td.center= get_boolean(itin.hidden)
                  %td.center= format_date_time(itin.start_time)
                  %td.center= format_date_time(itin.end_time)
                  %td.left= duration_to_words(itin.walk_time)
                  %td.left= duration_to_words(itin.transit_time)
                  %td.left= duration_to_words(itin.wait_time)
                  %td.left= distance_to_words(itin.walk_distance)
                  %td.right= number_to_currency(itin.cost)
