.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = t(:trip) + @trip.id.to_s
    
.row-fluid
  .span12
    .row-fluid
      .span4
        %fieldset
          %legend Transaction
          %p.span12
            %span.span4.text-right User:          
            %span.span8= @trip.user.nil? ? t(:anonymous) : link_to(@trip.user.name, user_path(@trip.user))      
          %p.span12
            %span.span4.text-right Creator:          
            %span.span8= @trip.creator.nil? ? "" : link_to(@trip.creator.name, user_path(@trip.creator))      
          %p.span12
            %span.span4.text-right Trip Date:          
            %span.span8= format_date_time(@planned_trip.trip_datetime)          
          %p.span12
            %span.span4.text-right Arrive/Depart:          
            %span.span8= @planned_trip.is_depart ? "departing at" : "arriving by"      
          %p.span12
            %span.span4.text-right Purpose:          
            %span.span8= @trip.trip_purpose.name      
          %p.span12
            %span.span4.text-right Created:          
            %span.span8= format_date_time(@planned_trip.created_at)          
      .span8
        %fieldset
          %legend Places
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Place
                %th.left Type
                %th.left Address
                %th.center Location
                %th.center Actions
            %tbody
              - @trip.trip_places.each do |place|
                %tr
                  %td.left= place
                  %td.left= place.type
                  %td.left= place.address
                  %td.center.nowrap
                    = sprintf("[%.6f, %.6f]", place.location[0], place.location[1]) unless place.location[0].nil?
                  %td.center.nowrap
                    = link_to "#", {class: "btn btn-mini btn-success text-center"} do
                      %i.icon-search
                      =t(:view)

    .row-fluid
      .span12
        %fieldset
          %legend Itineraries
          %table.table.table.condensed.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th.left Mode
                - if current_user.has_role? :admin
                  %th.center Status
                %th.center Hidden
                %th.center Start Time
                %th.center End Time
                %th.left Walk Time
                %th.left Transit Time
                %th.left Wait Time
                %th.left Walk Dist                
                %th.center Cost
                  
            %tbody
              - @planned_trip.itineraries.each do |itin|
                %tr
                  %td.left= itin.mode
                  - if current_user.has_role? :admin
                    %td.center
                      = link_to "#", :class => "action_popover", :data => {:content => itin.server_message, :html => true, :trigger => 'hover', :title => 'Server Message'} do
                        = itin.server_status
                  %td.center= get_boolean(itin.hidden)
                  %td.center= format_date_time(itin.start_time)
                  %td.center= format_date_time(itin.end_time)
                  %td.left= duration_to_words(itin.walk_time)
                  %td.left= duration_to_words(itin.transit_time)
                  %td.left= duration_to_words(itin.wait_time)
                  %td.left= distance_to_words(itin.walk_distance)
                  %td.right= number_to_currency(itin.cost)

:javascript
  $(function() {
    $('.action_popover').popover();
  });
