.row-fluid
  .span12
    .pull-left
      %h1
        %i.icon.icon-tags
        = is_traveler ? t(:assisted_user_first_name_s_trips, name: @traveler.first_name) : t(:my_trips)
    .pull-right
      = form_tag user_planned_trips_url(@traveler), :id => 'time_filter_form', :method => "get", :class => 'navbar-form form-inline pull-right', :style => "margin-top:20px;" do
        .input-prepend
          %span.add-on= t(:filter)
          = select_tag(:time_filter_type, options_for_select(TimeFilterHelper.time_filters.collect{|r| [r[:value], r[:id]]}, :selected => @time_filter_type), :style => 'margin-top:0px', :id => 'time_filter')
        
- if @planned_trips.count > 0
  %table.table.table-condensed.table-striped.table-bordered.table-hover#datatable
    %thead
      %tr
        %th= t(:date)
        %th= t(:from)
        %th= t(:to)
        %th= t(:trip_purpose)
        %th= t(:rating)
        %th.center= t(:actions)
    %tbody
      - @planned_trips.each do |planned_trip|
        %tr{:class => planned_trip.in_the_future ? "info" : ""}
          %td.nowrap= format_date(planned_trip.trip_datetime)
          %td= planned_trip.trip.from_place
          %td= planned_trip.trip.to_place
          %td= planned_trip.trip.trip_purpose
          %td.nowrap
          - if planned_trip.in_the_future
            %td.center.nowrap          
              = link_to user_planned_trip_path(@traveler, planned_trip), :class => "btn btn-small" do
                %i.icon-mail-forward
              = link_to edit_user_trip_path(@traveler, planned_trip.trip), :class => "btn btn-small" do
                %i.icon-edit
              = link_to user_trip_path(@traveler, planned_trip.trip), :class => "btn btn-small", :method => :delete, :confirm => "Are you sure ?" do
                %i.icon-remove
          - else
            %td.center.nowrap          
              = link_to repeat_user_trip_path(@traveler, planned_trip.trip), :class => "btn btn-small" do
                %i.icon-rotate-right
              = link_to user_planned_trip_path(@traveler, planned_trip), :class => "btn btn-small" do
                %i.icon-thumbs-up
        
- else
  .row-fluid
    .span12
      %h4 You have no previous trips.
      = link_to(t(:plan_a_trip), new_user_trip_path(@traveler))       

= render partial: 'shared/parameterized_datatable_javascript', locals: { table_id: '#datatable',
  object_plural: 'trips',
  sLengthMenu: t(:menu__object_plural_per_page, o: 'trips'),
  sInfo: t(:showing__start__to__end__of__total__object_plural, o: 'trips'),
  object_singular: 'trip',
  bLengthChange: false} unless @planned_trips.empty?

:javascript
  
  // Add a listener on the asset type filter that submits the form when changed
  $('#time_filter').change(function() {
    $('#time_filter_form').submit();
  });
