.row-fluid
  .span12
    %h1
      %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
      = t(:trip_options)
.well
  .row-fluid
    .span12
      .trip_prepositions= t(:from)
      .trip_basic_text= @planned_trip.trip.from_place
      .trip_prepositions= t(:to)
      .trip_basic_text= @planned_trip.trip.to_place
      .trip_prepositions= t(:at_time)
      .trip_basic_text= @planned_trip.trip_datetime.in_time_zone.strftime("%B %d, %Y")

.row-fluid
  .span3
    .row-fluid
      .span12{:style => "height: 500px; overflow-y:auto;"}
        %ul.thumbnails{:style => "padding-right:10px;"}
          - @planned_trip.valid_itineraries.each do |itinerary|
            %li.trip_summary.thumbnail.span12.first-in-row.actionbutton.box-shadow{id: "itinerary#{itinerary.id}"}
              = link_to itinerary_user_planned_trip_url(@traveler, @planned_trip, :itin => itinerary.id), :remote => true do
                = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary, :icon => get_trip_summary_icon(itinerary.mode), :title => get_trip_summary_title(itinerary.mode) }        
  .span9
    .row-fluid
      .span12.well.well-small
        .span3
          #itinerary_details
            = render 'itinerary_details'
        .span9
          = LeafletMap({ :mapid => 'lmap', :markers => @markers, :tile_provider => 'GOOGLEMAP', :min_zoom => 3, :max_zoom => 15, :style => "height:480px;" })
       
.row-fluid
  .well.well-small.span12
    = link_to new_user_trip_path do
      %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
      = t(:plan_a_new_trip)
    - if @planned_trip.hidden_itineraries.count > 0
      %span#hidden_trips_notice
        = render partial: 'hidden_trips_notice', locals: {trip: @trip}
    = link_to '#', {href: '#send_trip_by_email', class: "pull-right", data: {toggle: 'modal'}} do
      %i.icon-envelope
      =t(:send_by_email)

    = render partial: 'send_trip_by_email', locals: {trip: @trip}

= yield :scripts

:javascript
  $(document).ready(function() {
    fix_thumbnails();
  });
  
  $(window).resize(function() {
    fix_thumbnails();
  });
  
  function fix_thumbnails() {
    $(".thumbnail").css('height', '');
    $(".thumbnail").css('overflow', '');
    make_same_height('.actioncontent');
  };
  
  
  $("#itineraries").on("ajax:error", function(xhr,status){
    alert(status['responseText']);
  });
