/ %h1
/   %i.icon-signin
/   = t(:log_in)
/ %h4
/ .well
/   = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
/     = f.input :email, :autofocus => true, :required => true, :label => t(:email)
/     = f.input :password, :required => true, :label => t(:password)
/     = f.input :remember_me, :label => t(:remember_me), :as => :boolean if devise_mapping.rememberable?
/     .actions
/       = button_tag type: :submit, class: 'btn btn-primary controls' do
/         %i.icon.icon-signin
/         = t(:log_in)
/       = render "devise/shared/links"

/ TODO: This is unstable for some reason. Work with Camsys to figure it out.
.login-container
  .container-fluid
    .responsive-mbp.row-fluid
      .span6.offset3
        .login-header
          %h1.pull-left Log In
          .account-container.pull-right
            %p Need an Account?
            = link_to 'Register', new_user_registration_path
    .row-fluid
      .span6.offset3
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal input-container' }) do |f|
          = f.input :email, :autofocus => true, :required => true
          = f.input :password, :required => true
    .row-fluid
      .span6.offset3
        = button_tag :submit, class: 'login-btn pull-left' do
          = t(:log_in)  
        /%a.login-btn.pull-left{:href => "#"} Log In
        .cancel-container.pull-right
          %a.cancel-btn{:href => "#"} Cancel 
      .span3.hidden


:javascript
  $(document).ready(function(){
    $('.navbar, .next-footer-container').addClass('hidden');

  });