%h1
  %i.fa.fa-signin
  = t(:log_in)
%h4
.well
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    - unless Rails.env.development? and ENV['DROPDOWN_USERS']
      = f.input :email, :autofocus => true, :required => true, :label => t(:email)
      = f.input :password, :required => true, :label => t(:password)
    - else
      = f.input :email, :autofocus => true, :required => true, :label => t(:email), collection: User.any_role.order(:email).pluck(:email)
      = f.input :password, :required => true, :label => t(:password), input_html: {value: 'welcome1'}
    = f.input :remember_me, :label => t(:remember_me), :as => :boolean if devise_mapping.rememberable?
    .actions
      = button_tag type: :submit, class: 'btn btn-primary controls' do
        %i.fa.fa-sign-in
        = t(:log_in)
      = render "devise/shared/links"
