.row_fluid
  %b= translate_helper_translate(:fare_type) + ": " + translate_helper_translate(:flat_fare)

- if fare
  .row_fluid
    %b= translate_helper_translate(:one_way_fare) + ": "
    -if fare.one_way_rate
      - if fare.one_way_rate
        = number_to_currency(fare.one_way_rate.to_f).to_s
      - else
        = translate_helper_translate(:n_a)
    -else
      = translate_helper_translate(:flat_fare_unavailable) + "."

  -if fare.round_trip_rate
    .row_fluid
      %b= translate_helper_translate(:round_trip_fare) + ": "
      - if fare.round_trip_rate
        = number_to_currency(fare.round_trip_rate.to_f).to_s
      - else
        = translate_helper_translate(:n_a)
- else
  .row_fluid
    = translate_helper_translate(:flat_fare_unavailable) + "."