%b= translate_helper(:fare_type) + ": " + translate_helper(:mileage_fare)

- if fare
  .row_fluid
    %b= translate_helper(:base_rate) + ": "
    -if fare.base_rate
      = number_to_currency(fare.base_rate.to_f).to_s
    -else
      = translate_helper(:base_fare_unavailable) + "."

  - if fare.mileage_rate
    .row_fluid
      %b= translate_helper(:mileage_rate) + ": "
      - if fare.mileage_rate
        = number_to_currency(fare.mileage_rate.to_f).to_s
      - else
        = translate_helper(:n_a)
- else
  .row_fluid
    = translate_helper(:fare_unavailable) + "."