%b= translate_helper_translate(:fare_type) + ": " + translate_helper_translate(:zone_fare)

- if fares.count > 0
  - zones = {}
  - rates = {}
  - fares.each do |fare|
    - from_zone_id = fare.from_zone.zone_id
    - to_zone_id = fare.to_zone.zone_id
    - zones[from_zone_id] = fare.from_zone_id if !from_zone_id.blank? && !zones[from_zone_id]
    - zones[to_zone_id] = fare.to_zone_id if !to_zone_id.blank? && !zones[to_zone_id]
    - next if fare.from_zone_id.blank? or fare.to_zone_id.blank?
    - key = "from_#{fare.from_zone_id}_to_#{fare.to_zone_id}"
    - rates[key] = fare.rate
  - zones = zones.sort.to_h
  %table.table.table-condensed.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= translate_helper_translate(:zone_id)
        - zones.each do |zone_id, id|
          %th= zone_id
    %tbody
      - zones.each do |from_zone_id, from_id|
        %tr
          %td= from_zone_id
          - zones.each do |to_zone_id, to_id|
            - key = "from_#{from_id}_to_#{to_id}"
            - rate = rates[key]
            %td
              - if rate
                = number_to_currency(rate.to_f).to_s
              - else
                = translate_helper_translate(:n_a)
- else
  .row_fluid
    = translate_helper_translate(:fare_unavailable) + "."