#program_form

  .row-fluid
    .span12
      = simple_form_for @user_programs_proxy, :url => path, :html => { :class => "form-horizontal" }, :method => 'put', :remote => notranslate_helper_translate(inline)  do |f|
        = f.error_notification message: print_messages(f)

        %div{ :data => {:index => 0}}
          .input-header
            .step-number
            .step-title Programs
          .pull-right
            %table#characteristics_one
              %thead
                %tr
                  %th
                  %th Yes
                  %th No
                  %th Unsure
              %tbody
                -Characteristic.programs.where(:datatype => 'bool').each do |characteristic|
                  %tr
                    %td
                      = f.label translate_helper_translate(characteristic.note)
                    %td
                      = f.radio_button characteristic.code.to_sym, true
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'yes', :value => true
                    %td
                      = f.radio_button characteristic.code.to_sym, false
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'no', :value => false
                    %td
                      = f.radio_button characteristic.code.to_sym, "na"
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'unsure', :value => "na"
                      / TODO: label is adding text that we don't want to show, work with CamSys to remove or hide it.

                -Characteristic.programs.where(:datatype => 'disabled').each do |characteristic|
                  %tr
                    %td
                      = f.label characteristic.note + " (not yet available)", :class => 'disabled'
                    %td
                      = f.radio_button characteristic.code.to_sym, true
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'yes', :value => true
                    %td
                      = f.radio_button characteristic.code.to_sym, false
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'no', :value => false
                    %td
                      = f.radio_button characteristic.code.to_sym, "na"
                      = f.label characteristic.code.to_sym, nil, :text => nil, :class => 'unsure', :value => "na"

        / - if inline
        /   = button_tag :type => 'submit', :class => "btn btn-primary controls hidden" do
        /     - if @traveler.has_disability?
        /       %i.fa.fa-arrow-right
        /       Next step
        /     - else
        /       %i.fa.fa-arrow-right
        /       Save and plan my trip
        /     / = translate_helper_translate(:save)
        / - else
        /   = button_tag type: :submit, class: 'btn btn-primary controls' do
        /     %i.fa.fa-check
        /     = translate_helper_translate(:update)
        / = link_to :back, :class => "cancel_link hidden" do
        /   %i.fa.fa-reply
        /   = translate_helper_translate(:cancel)

:javascript
  $(document).ready(function(){
    $('.next-footer-container').removeClass('hidden');
    $('.next-step-btn').on('click', function(){
      if (!window.new_user_programs_proxy_submitted) {
        $('.next-step-btn').addClass('stop');
        $('*[id*=new_user_programs_proxy]').submitranslate_helper_translate();
      }

      window.new_user_programs_proxy_submitted = true;
    });
  });
