.col-xs-12
  %label= "#{translate_helper(:ratings)}: "
  - feedback.ratings.each do |rating|
    %div
      %label= translate_helper(rating.feedback_rating.name.to_sym)
      = feedback.to_stars(feedback.average_rating, 1)

  - if feedback.issues.map{|i|i.value}.uniq.include?(true)
    %br
    %label= "#{translate_helper(:issues)}: "
    - feedback.issues.each do |issue|
      %div
        - if issue.value == true
          %label= translate_helper(issue.feedback_issue.name.to_sym)

  %br
  %label= "#{translate_helper(:comment)}: "
  %p= feedback.comment
