$('#ratings').empty();
$('#issues').empty();

- if params[:tripId]
  tripId = "#{params[:tripId]}"
  $('#trip' + tripId + 'RatingModal #ratings').html(  $("#{escape_javascript(render 'ratings', locals: {ratings: @ratings })}")  );
  $('#trip' + tripId + 'RatingModal #issues').html(  $("#{escape_javascript(render 'issues', locals: {issues: @issues })}")  );
- else
  $('#ratings').html(  $("#{escape_javascript(render 'ratings', locals: {ratings: @ratings })}")  );
  $('#issues').html(  $("#{escape_javascript(render 'issues', locals: {issues: @issues })}")  );
    
