- content_for :title, "Reports - #{t(:site_title)}"
= simple_form_for @generated_report,
        url: admin_report_results_path(@report, locale: params[:locale]),
        html: { method: 'post', id: 'report_form', class: 'form-horizontal' }  do |f|
  .row.info-header
    .col-sm-12
      .btns.pull-right
        = button_tag type: :submit, class: 'btn action-button controls' do
          =t(:run)
      %h1= header
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        %span
          = t(:reports)
          = add_tooltip("reports_help")
    .panel-body
      .row
        .col-sm-12
          .col-sm-2
            = f.input :report_name, collection: Report.names_and_ids, include_blank: false, label: t(:report_name)
          - show_usage_report_date_options = (@report ? @report.class_name == 'StandardUsageReport' : Report.usage_report_is_first)
          .col-sm-8.non-system-usage-report-components{style: ("display: none;" if show_usage_report_date_options)}
            .col-sm-3
              = f.input :date_range, collection: DateOption.form_collection(false),
                  include_blank: false, label: t(:date_range)
            .col-sm-3
              = f.input :agency_id,
                  collection: Agency.form_collection(@agency_all, @agency_id),
                  include_blank: false, label: t(:agencies)
            .col-sm-3
              = f.input :agent_id, collection: User.agent_form_collection(true, @agency),
                  include_blank: false, label: t(:agents)
            .col-sm-3
              = f.input :provider_id,
                  collection: Provider.form_collection(@provider_all, @provider_id),
                  include_blank: false, label: t(:providers)
          .col-sm-4.system-usage-report-components{style: ("display: none;" if !show_usage_report_date_options)}
            .col-sm-6
              %label.sr-only{for: "standard_usage_report_effective_date"}= "standard usage report effective date"
              = f.input :standard_usage_report_effective_date, label: t(:effective_date) do
                = f.input_field :standard_usage_report_effective_date, id: "standard_usage_report_effective_date", class: 'form-control',autocomplete: 'off'
                :javascript
                  $('#standard_usage_report_effective_date').datetimepicker({
                    defaultDate: new Date(),
                    pickTime: false,
                    format: 'MM/DD/YYYY',
                    language: "#{I18n.locale}"
                  });
            .col-sm-6
              = f.input :standard_usage_report_date_option, collection: StandardUsageReport.available_date_option_collections, include_blank: false, label: t(:date_option)

        .row#custom_dates
          .col-md-1
          .col-md-4
            = f.input :from_date, label: false, class: 'col-md-2', wrapper: :trip_dates do
              = f.input_field :from_date, class: 'form-control col-md-2',
              id: "from_trip_date", autocomplete: 'off'
            = f.input :to_date, label: false, class: 'col-md-2', wrapper: :trip_dates do
              = f.input_field :to_date, class: 'form-control col-md-2',
              id: "to_trip_date", autocomplete: 'off'

        -# .col-sm-2
        -#   = f.input :trip_purpose, collection: TripPurpose.form_collection, include_blank: false, label: t(:trip_purpose)
        -# .col-sm-2
        -#   = f.input :traveler_type, collection: Characteristic.form_collection, include_blank: false, label: t(:traveler_type)
        -# .col-sm-2
          -#   = f.input :summary_type, collection: Report.summary_types, include_blank: false, label: t(:summary_type)


:javascript
  $(document).ready(function() {
    // Note: the selectedOptions collection is not support in ie9 or ie10
    var select = $('#generated_report_date_range')[0];
    if (select.options[select.selectedIndex].text != 'Custom...') {
      $('#custom_dates').hide();
    }
  });

  $('#generated_report_date_range').change(function() {
    if(this.options[this.selectedIndex].text === 'Custom...') {
      $('#custom_dates').show();
    } else {
      $('#custom_dates').hide();
    }
  });

  $('#from_trip_date').datetimepicker({
      defaultDate: new Date(),
      minDate: '#{@min_trip_date}',
      pickTime: false,
      format: 'MM/DD/YYYY',
      language: '#{I18n.locale}'
    });
  $('#to_trip_date').datetimepicker({
      defaultDate: new Date(),
      minDate: '#{@min_trip_date}',
      pickTime: false,
      format: 'MM/DD/YYYY',
      language: '#{I18n.locale}'
    });

  $('#from_trip_date').change(function() {
    if (Date.parse(this.value) > Date.parse($('#to_trip_date')[0].value)) {
      $('#to_trip_date').data("DateTimePicker").setDate(this.value);
    }
  });

  $('#to_trip_date').change(function() {
    if (Date.parse(this.value) < Date.parse($('#from_trip_date')[0].value)) {
      $('#from_trip_date').data("DateTimePicker").setDate(this.value);
    }
  });

  $('#generated_report_report_name').on('change', function(event) {
    var report_id = parseInt(this.value);
    //$('#report_form').attr('action', "#{admin_report_path(locale: params[:locale])}/" + report_id + '/results');

    if (report_id == "#{Report.system_usage_report_id}") {
      $('.non-system-usage-report-components').hide();
      $('.system-usage-report-components').show();
    } else {
      $('.system-usage-report-components').hide();
      $('.non-system-usage-report-components').show();
    }
  });
