= simple_form_for @generated_report,
        url: admin_report_path(Report.all.first.id, locale: params[:locale]),
        html: { method: 'post', id: 'report_form', class: 'form-horizontal' }  do |f|
  .row
    .col-sm-6
      %h2
        %i.fa.fa-bar-chart-o
        = header
    .col-sm-6
      %h2
        = button_tag type: :submit, class: 'btn btn-default action-button controls pull-right' do
          =t (:run)

  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          .col-sm-2
            = f.input :report_name, collection: Report.names_and_ids, include_blank: false, label: t(:report_name)
          .col-sm-2
            = f.input :date_range, collection: Report.date_options, include_blank: false, label: t(:date_range)
          .col-sm-2
            = f.input :trip_purpose, collection: TripPurpose.form_collection, include_blank: false, label: t(:trip_purpose)
          .col-sm-2
            = f.input :traveler_type, collection: Characteristic.form_collection, include_blank: false, label: t(:traveler_type)
          .col-sm-2
            = f.input :summary_type, collection: Report.summary_types, include_blank: false, label: t(:summary_type)

:javascript
  $('#generated_report_report_name').on('change', function(event) {
    $('#report_form').attr('action', "#{admin_reports_path(locale: params[:locale])}/" + this.value)
  })
