.row.info-header
  .col-sm-12
    %h1= header
= simple_form_for @generated_report,
        url: admin_report_path(Report.all.first.id, locale: params[:locale]),
        html: { method: 'post', id: 'report_form', class: 'form-horizontal' }  do |f|
  .panel.panel-default{style: 'padding: 0px;'}
    .panel-heading
      %h2.panel-title
        .btns.pull-right{style: 'margin-top:-4px;'}
          = button_tag type: :submit, class: 'btn action-button controls' do
            =t(:run)
          - if @report && @report.exportable  
            = button_tag id: 'export',
                  class: "#{@url_for_csv ? '' : 'disabled '}btn action-button controls" do
              =t(:export)
        %span
          = t(:reports)
    .panel-body
      .row
        .col-sm-12
          .col-sm-2
            = f.input :report_name, collection: Report.names_and_ids, include_blank: false,
                label: t(:report_name)
          .col-sm-2
            = f.input :date_range, collection: DateOption.form_collection(false),
                include_blank: false, label: t(:date_range)
          .col-sm-2
            = f.input :agency_id, collection: Agency.form_collection,
                include_blank: false, label: t(:agencies)
          .col-sm-2
            = f.input :agent_id, collection: User.agent_form_collection,
                include_blank: false, label: t(:agents)
          .col-sm-2
            = f.input :provider_id, collection: Provider.form_collection,
                include_blank: false, label: t(:providers)

        .row#custom_dates
          .col-md-1
          .col-md-4
            = f.input :from_date, label: false, class: 'col-md-2', wrapper: :trip_dates do
              = f.input_field :from_date, class: 'form-control col-md-2',
              id: "from_trip_date", autocomplete: 'off'
            = f.input :to_date, label: false, class: 'col-md-2', wrapper: :trip_dates do
              = f.input_field :to_date, class: 'form-control col-md-2',
              id: "to_trip_date", autocomplete: 'off'

        -# .col-sm-2
        -#   = f.input :trip_purpose, collection: TripPurpose.form_collection, include_blank: false, label: t(:trip_purpose)
        -# .col-sm-2
        -#   = f.input :traveler_type, collection: Characteristic.form_collection, include_blank: false, label: t(:traveler_type)
        -# .col-sm-2
          -#   = f.input :summary_type, collection: Report.summary_types, include_blank: false, label: t(:summary_type)


:javascript
  $(document).ready(function() {
    // Note: the selectedOptions collection is not support in ie9 or ie10
    var select = $('#generated_report_date_range')[0];
    if (select.options[select.selectedIndex].text != 'Custom...') {
      $('#custom_dates').hide();
    }
  });

  $('#generated_report_date_range').change(function() {
    if(this.options[this.selectedIndex].text === 'Custom...') {
      $('#custom_dates').show();
    } else {
      $('#custom_dates').hide();
    }
  });

  $('#from_trip_date').datetimepicker({
      defaultDate: new Date(),
      minDate: '#{@min_trip_date}',
      pickTime: false,
      format: 'MM/DD/YYYY',
      language: '#{I18n.locale}'
    });
  $('#to_trip_date').datetimepicker({
      defaultDate: new Date(),
      minDate: '#{@min_trip_date}',
      pickTime: false,
      format: 'MM/DD/YYYY',
      language: '#{I18n.locale}'
    });

  $('#from_trip_date').change(function() {
    if (Date.parse(this.value) > Date.parse($('#to_trip_date')[0].value)) {
      $('#to_trip_date').data("DateTimePicker").setDate(this.value);
    }
  });

  $('#to_trip_date').change(function() {
    if (Date.parse(this.value) < Date.parse($('#from_trip_date')[0].value)) {
      $('#from_trip_date').data("DateTimePicker").setDate(this.value);
    }
  });

  $('#generated_report_report_name').on('change', function(event) {
    $('#report_form').attr('action', "#{admin_reports_path(locale: params[:locale])}/" + this.value)
  });
  function exportCsv(mode) {
   var a = document.createElement('a');
   a.href = "#{@url_for_csv}"
   a.target = '_blank';
   document.body.appendChild(a);
   a.click();
  };

  $('#export').click(function(e) {
     e.preventDefault();
     exportCsv("all");
  } );
