= simple_form_for service || :service,
        url: service.nil? ? admin_provider_services_path(@provider) : admin_provider_service_path(@provider, service_id),
        remote: true,
        html: { class: 'form-vertical service-details-form', multipart: true },
        data: {type: :html, "service-id" => service_id, "form-index" => form_index},
        authenticity_token: true,
        wrapper: :vertical_form do |f|
  = f.error_notification message: print_messages(f)
  %h4 SERVICE HOURS AND CUTOFF TIMES
  .service-schedule-container
    - service.schedules.each do |sched|
      .row.service-schedule-row
        = f.input :schedules, input_html: {name: input_name(f, :schedules, :id), value: sched.id}, wrapper_html: {class: "hidden"}, label: false
        = f.input :schedules,
          collection: 0..6, label_method: Proc.new{|i| Date::ABBR_DAYNAMES[i]}, selected: sched.day_of_week,
          input_html: {name: input_name(f, :schedules, :day_of_week), value: sched.day_of_week},
          wrapper_html: {class: "col-sm-3"},
          label: false
        = f.input :schedules, input_html: {name: input_name(f, :schedules, :start_time), value: sched.start_time}, wrapper_html: {class: "col-sm-3"}, label: false
        = f.input :schedules, input_html: {name: input_name(f, :schedules, :end_time), value: sched.end_time}, wrapper_html: {class: "col-sm-3"}, label: false
        .btn.btn-link.delete-schedule-btn.col-sm-3 delete
    .btn.btn-default.btn-svc-data.add-schedule-btn.col-sm-3 Add Hours
  -# %table.ALTtable
  -#   %thead
  -#     %tr
  -#       %th.text-center
  -#         = translate_helper('datetime.prompts.day')
  -#       %th.text-center
  -#         = translate_helper(:start_time)
  -#       %th.text-center
  -#         = translate_helper(:end_time)
  -#       %th.text-center
  -#         = translate_helper(:clear_?)
  -#   %tbody
  -#     - # display each day of week
  -#     - count = 0
  -#     - (0..6).each do |day_of_week|
  -#       - schedule = service.schedules[day_of_week]
  -#       - start_error = service.errors.messages["schedules.#{day_of_week}start_time".to_sym]
  -#       - end_error = service.errors.messages["schedules.#{day_of_week}end_time".to_sym]
  -#       %tr
  -#         %td.text-center{class: "#{(start_error || end_error) ? 'has-error' : ''}" }
  -#           %label.control-label
  -#             = translate_helper('date.day_names').split(",")[day_of_week]
  -#         %td{class: "#{start_error ? 'has-error' : ''}" }
  -#           %input.form-control.text-right{type: "text",
  -#                 value: "#{schedule.start_time if schedule}",
  -#                 name: input_name(f, :schedules, :start_time)}
  -#           - if start_error
  -#             %span.help-block<
  -#               = start_error.first
  -#         %td{class: "#{end_error ? 'has-error' : ''}" }
  -#           %input.form-control.text-right{type: "text",
  -#                 value: "#{schedule.end_time if schedule}",
  -#                 name: "service[schedules_attributes][][end_time]"}
  -#           - if end_error
  -#             %span.help-block<
  -#               = end_error.first
  -#         %td
  -#           %input.form-control.checkbox{type: "checkbox",
  -#                 value: "1", name: "service[schedules_attributes][][_destroy]"}
  -#         - if schedule && schedule.id
  -#           %input{type: "hidden", value: "#{schedule.id}",
  -#                  name: "service[schedules_attributes][][id]"}
  -#         - else
  -#           %input{type: "hidden", value: "#{day_of_week}",
  -#                  name: "service[schedules_attributes][][day_of_week]"}

  .pull-right
    = f.button :submit, translate_helper(:save), class: "btn btn-default btn-svc-data save-service-form-btn"
    .btn.btn-link.hidden.edit-service-form-btn edit

:javascript
  $(document).ready(function() {

    // Setup form, setting parameters via (ruby) string interpolation
    var form = setupServiceForm("#{service_id}", "#{form_index}", ("#{new_service}" === "true"));

  });
