= simple_form_for service || :service,
        url: service.nil? ? admin_provider_services_path(@provider) : admin_provider_service_path(@provider, service_id),
        remote: true,
        html: { class: 'form-vertical service-details-form', multipart: true },
        data: {type: :html, "service-id" => service_id, "form-index" => form_index},
        authenticity_token: true,
        wrapper: :vertical_form do |f|
  = f.error_notification message: print_messages(f)
  %h4 SERVICE HOURS AND CUTOFF TIMES
  .service-schedule-container
    - service.schedules.each do |sched|
      .row.service-schedule-row{"data-schedule-id" => sched.id}
        = f.input :schedules,
          input_html: {name: input_name(f, :schedules, :id), value: sched.id},
          wrapper_html: {class: "hidden"},
          label: false
        = f.input :schedules,
          collection: 0..6, label_method: Proc.new{|i| Date::ABBR_DAYNAMES[i]}, selected: sched.day_of_week,
          input_html: {name: input_name(f, :schedules, :day_of_week), value: sched.day_of_week},
          wrapper_html: {class: "col-sm-3"},
          label: false
        = f.input :schedules,
          collection: Rails.application.config.times_of_day, selected: sched.start_time,
          input_html: {name: input_name(f, :schedules, :start_time), value: sched.start_time},
          wrapper_html: {class: "col-sm-3"},
          label: false
        = f.input :schedules,
          collection: Rails.application.config.times_of_day, selected: sched.end_time,
          input_html: {name: input_name(f, :schedules, :end_time), value: sched.end_time},
          wrapper_html: {class: "col-sm-3"},
          label: false
        = f.input :schedules,
          input_html: {name: input_name(f, :schedules, :_destroy), value: false, class: "input-schedule-destroy"},
          wrapper_html: {class: "hidden"},
          label: false
        .btn.btn-link.delete-schedule-btn.col-sm-3 delete
    .btn.btn-default.btn-svc-data.add-schedule-btn.col-sm-3 Add Hours


  .pull-right
    = f.button :submit, translate_helper(:save), class: "btn btn-default btn-svc-data save-service-form-btn"
    .btn.btn-link.hidden.edit-service-form-btn edit

:javascript
  $(document).ready(function() {

    // Setup form, setting parameters via (ruby) string interpolation
    var form = setupServiceForm("#{service_id}", "#{form_index}", ("#{new_service}" === "true"));

    // Delete Schedule Button Handler - Hide Row and Set Destroy to TRUE
    form.$('.delete-schedule-btn').on("click", function(e) {
      var schedId = $(this).closest('.service-schedule-row').data("schedule-id");
      form.$(`.service-schedule-row[data-schedule-id=${schedId}]`).addClass("hidden");
      form.$(`.service-schedule-row[data-schedule-id=${schedId}] .input-schedule-destroy`).attr("value", true);
    });

  });
