= simple_form_for service || :service,
        url: service.nil? ? admin_provider_services_path(@provider) : admin_provider_service_path(@provider, service_id),
        remote: true,
        html: { class: 'form-vertical service-details-form', multipart: true },
        data: {type: :html, "service-id" => service_id, "form-index" => form_index},
        authenticity_token: true,
        wrapper: :vertical_form do |f|
  = f.error_notification message: print_messages(f)
  %h4 SERVICE HOURS AND CUTOFF TIMES
  .service-schedule-container
    - service.schedules.each do |sched|
      = render partial: "admin/services/form_parts/schedule_row",
        locals: {f:f, sched:sched}
    - (1..14).each do |i|
      = render partial: "admin/services/form_parts/schedule_row",
        locals: {f:f, wrapper_classes: "faded#{" hidden" unless i == 1}", sched:Schedule.new(day_of_week: service.schedules.empty? ? (i % 7) : (service.schedules.last.day_of_week + i) % 7, start_time: service.schedules.empty? ? "8:00 AM" : service.schedules.last.start_time, end_time: service.schedules.empty? ? "8:00 PM" : service.schedules.last.end_time)}

  .pull-right
    = f.button :submit, translate_helper(:save), class: "btn btn-default btn-svc-data save-service-form-btn"
    .btn.btn-link.hidden.edit-service-form-btn edit

:javascript
  $(document).ready(function() {

    // Setup form, setting parameters via (ruby) string interpolation
    var form = setupServiceForm("#{service_id}", "#{form_index}", ("#{new_service}" === "true"));

    // Delete Schedule Button Handler - Hide Row and Set Destroy to TRUE
    form.$('.delete-schedule-btn').on("click", function(e) {
      console.log("Delete Schedule Button Clicked", $(this));
      $(this).closest(".service-schedule-row").addClass("hidden"); // Hide this row
      $(this).siblings().find(".input-schedule-destroy").attr("value", true); // Set destroy value to true for this element
      // var schedId = $(this).closest('.service-schedule-row').data("schedule-id");
      // form.$(`.service-schedule-row[data-schedule-id=${schedId}]`).addClass("hidden");
      // form.$(`.service-schedule-row[data-schedule-id=${schedId}] .input-schedule-destroy`).attr("value", true);
    });

    // Add Hours Button Handler shows and prepares next schedule row
    form.$('.add-schedule-btn').on("click", function(e) {
      console.log("Add Schedule Button Clicked", $(this));
      $(this).closest(".service-schedule-row").removeClass("faded"); // Unfade the parent row element
      $(this).addClass("hidden"); // Hide the add hours button
      $(this).siblings().find(".input-schedule-destroy").attr("value", false); // Set destroy value to false for this element
      $(this).siblings(".delete-schedule-btn").removeClass("hidden"); // Unhide delete button
      $(this).closest(".service-schedule-row").next().removeClass("hidden"); // Unhide next row
    });

  });
