- wrapper_classes = "" if local_assigns[:wrapper_classes].nil?

.row.service-details-row{"data-schedule-id" => sched.id || "new-schedule", class: wrapper_classes}
  -unless sched.id.nil?
    = f.input :schedules,
      input_html: {name: input_name(f, :schedules, :id), value: sched.id},
      wrapper_html: {class: "hidden"},
      label: false
  = f.input :schedules,
    collection: 0..6, label_method: Proc.new{|i| Date::ABBR_DAYNAMES[i]}, selected: sched.day_of_week,
    input_html: {name: input_name(f, :schedules, :day_of_week)},
    wrapper_html: {class: "col-xs-3"},
    label: false
  = f.input :schedules,
    collection: Rails.application.config.times_of_day, selected: sched.start_time,
    input_html: {name: input_name(f, :schedules, :start_time)},
    wrapper_html: {class: "col-xs-3"},
    label: false
  = f.input :schedules,
    collection: Rails.application.config.times_of_day, selected: sched.end_time,
    input_html: {name: input_name(f, :schedules, :end_time)},
    wrapper_html: {class: "col-xs-3"},
    label: false
  = f.input :schedules,
    input_html: {name: input_name(f, :schedules, :_destroy), value: sched.id.nil?, class: "input-schedule-destroy"},
    wrapper_html: {class: "hidden"},
    label: false
  .col-xs-3
    .btn.btn-link.delete-schedule-btn{class:("hidden" if sched.id.nil?)}= translate_helper(:delete)
    .btn.btn-default.btn-svc-data.add-schedule-btn{class:("hidden" unless sched.id.nil?)}= translate_helper(:add_hours)
