%h1= t(:listing_orgs)

%table
  %tr
    %th= t(:name)
    %th= t(:org_type)
    %th= t(:parent)
    %th
    %th
    %th

  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= organization.org_type
      %td= organization.parent_id
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Organization', new_organization_path
