= form_tag(merge_admin_user_path(@user), id: "search-for-merge-form", method: :get)
  #searchForUserToMerge.modal.fade.col-sm-12{"aria-describedby" => t(:remove_provider), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          = button_tag class: 'btn action-button pull-right', data: {dismiss: 'modal'} do
            = t(:cancel)
          = button_tag type: 'submit', class: "btn action-button pull-right", style: "margin-right:5px;" do
            = icon_label(:merge)
          .modal-title{:style => "text-align:left;"}
            %b
              = t(:site_title)
        .modal-body{:style => "text-align:left;"}
          = text_field_tag(:search, params[:search])


