%h1
  %i.fa.fa-key.fa-rotate-90
  = translate_helper(:sign_up)

- if @create_inline
  .row
    .col-sm-12
      = render partial: 'trips/trip_header', locals: {trip: @trip}

.well
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    = f.error_notification message: print_messages(f)
    = display_base_errors resource

    - if @create_inline
      .alert.alert-info.alert-block
        .row
          .col-sm-12
            %p
              =cms_snippet_content('registration-reasoning')
            / = translate_helper(:to_see_best_options)
        .row
          .col-sm-12
            %a.btn.btn-success{:alt => 'alt words', :title => 'title here', :href => skip_user_trip_path(@traveler, @trip.id)}
              %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
              =t(:no_thanks_just_plan_it)

    - Rails.logger.debug "In view, I18n: #{I18n.locale}"
    - Rails.logger.debug translate_helper(:first_name)
    = f.input :first_name, label: translate_helper(:first_name), :autofocus => true
    = f.input :last_name, label: translate_helper(:last_name)
    = f.input :email, label: translate_helper(:email), :required => true
    = f.input :password, label: translate_helper(:password), :required => true
    = f.input :password_confirmation, :label => translate_helper(:retype_your_password), :required => true
    = f.hidden :approved_agencies if session[:agency]
    - if @create_inline
      .form-actions
        = button_tag :type => 'submit', :class => "btn action-button" do
          %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
          =t(:sign_up_and_plan)
    - else
      .actions
        = button_tag type: :submit, class: 'btn action-button controls' do
          %i.fa.fa-edit
          = translate_helper(:sign_up)
        = render "devise/shared/links"

