- content_for :title, "#{t(:site_title)} - #{t(:users)}"
.row.info-header
  .col-sm-12
    .btns.pull-right
      = link_to t(:create), new_admin_user_path, {class: 'btn action-button', role: 'button'}
    %h1= t(:users)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title
      = t(:users)
      = add_tooltip("users_help")
  .panel-body
    %table.table.table-condensed.table-striped.table-bordered.table-hover#admin_users_table
      %thead
        %tr
          %th= t(:id)
          %th= t(:username)
          %th= t(:email)
          %th= t(:registered)
          %th= t(:roles)
          %th#status= t(:status)
      %tbody
:javascript
  $(document).ready(function() {
    var oTable = $('#admin_users_table').dataTable( {
      stateSave: true,
      "bProcessing": true,
      "bServerSide": true,
      "sAjaxSource": "users",
      "oLanguage": {
              "sLengthMenu": "Display _MENU_ travelers per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ travelers",
              "sInfoEmpty": "Showing 0 to 0 of 0 travelers",
              "sInfoFiltered": "(filtered from _MAX_ total travelers)"
      },
      "bAutoWidth": false,
      "aoColumns": [
        {"sWidth": "5%"},
        {"sWidth": "20%"},
        {"sWidth": "25%"},
        {"sWidth": "15%"},
        {"sWidth": "25%"},
        {"sWidth": "10%"},
      ],
      "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l><'toggle col-sm-6'>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      "fnServerParams": function (data) {
        data.push({name: "bIncludeDeleted", value: $("#toggle").is(':checked')});
      }
    });
    $("div.toggle").html('<span class="pull-right"><input type="checkbox" id="toggle">&nbsp;Show deleted users</span>');
    $("#toggle").click(function () {
        oTable.fnDraw();
    });
  });
