.header
  = link_to t(:add_user), new_user_path, {class: 'action-button pull-right'}
  %h1= t(:users)
%table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#admin_users_table
  %thead
    %tr
      %th= t(:username)
      %th= t(:email)
      %th= t(:registered)
      %th= t(:role)
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, error_501_path
        %td= user.email
        %td= user.created_at.to_date
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        = render partial: user, locals: {agency: @agency} if @agency

:javascript
  $(document).ready(function() {
    $('#admin_users_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ users per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ users",
              "sInfoEmpty": "Showing 0 to 0 of 0 agencies",
              "sInfoFiltered": "(filtered from _MAX_ total users)",
          },
          "sDom": '<f><l>rtip',
      } );
  } );