%h1
  %i.fa.fa-key.fa-rotate-90
  = t(:create_traveler)
%h4
.well
  = simple_form_for [:admin, @user], :html => {:class => 'form-horizontal' } do |f|
    = f.error_notification
    = display_base_errors @user
    = f.input :first_name, label: t(:first_name), :autofocus => true
    = f.input :last_name, label: t(:last_name)
    = f.input :email, label: t(:email), :required => true
    = f.input :password
    = f.input :password_confirmation
    .actions
      = button_tag type: :submit, class: 'btn btn-primary controls' do
        %i.fa.fa-edit
        = t(:create_traveler)