%h1 Define A Translation

#translations_form
    .row
        .col-sm-12
            = simple_form_for [:admin, @translation], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |t|
                = t.input :key
                = t.input :locale, readonly: true
                = t.input :is_list
                = t.input :value, input_html: {rows: 10}
                = t.submit t(:save), { class: "btn action-button" }
                = link_to t(:cancel), admin_translations_path