.row.info-header
  .col-sm-12
    .btns.pull-right
      = link_to new_admin_translation_path, :class => "btn action-button" do
        Add Key
    %h1
      Content Translations
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %span.panel-title
      Content Translations
  .panel-body
    %p Note: All content translations can be entered as HTML
    %table.table.table-condensed.table-striped.table-bordered.table-hover#datatable#translations_table
      %thead
        %tr
          %th= t(:key)
          - @locales.each do |locale|
            %th= locale
      %tbody
        - @translations_proxies.each do |tp|
          %tr
            %td= tp.key
            - @locales.each do |locale|
              - t = tp.translations.find{|t| t.locale==locale.to_s}
              %td
                - if (t && t.value && !t.value.blank?)
                  = link_to t.value.truncate(30), edit_admin_translation_path(t)
                - else
                  - path = (t && t.value && t.value.blank?) ? edit_admin_translation_path(t) : new_admin_translation_path(key: tp.key, key_locale: locale.to_s)
                  = link_to t(:add), path, class: 'btn action-button'

:javascript
  $(document).ready(function() {
    var oTable = $('#translations_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ translations per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ translations",
              "sInfoEmpty": "Showing 0 to 0 of 0 translations",
              "sInfoFiltered": "(filtered from _MAX_ total translations)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l><'toggle col-sm-6'>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
    });