- content_for :title, "#{translate_helper_translate(:site_title)} - #{translate_helper_translate(:create_translation)}"
.row.info-header
	.col-sm-12
		.btns.pull-right
			= button_tag id:'create_translation', type: 'submit', class: "btn action-button", style: "margin-right:5px;" do
				= translate_helper_translate(:create_translation)
			= link_to translate_helper_translate(:cancel), admin_translations_path, { class: "btn action-button" }
		%h1 Define A Translation

.panel.panel-default{style: 'padding: 0px;'}
	.panel-heading
		%h2.panel-title
			Translation Parameters
			= add_tooltip("translation_parameters_help")
	.panel-body
		#translations_form
			.row
				.col-sm-12
					= simple_form_for [:admin, @translation], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |t|
						= t.input :key
						= t.input :locale, collection: I18n.available_locales, include_blank: false
						= t.input :is_list
						= t.input :value, input_html: {rows: 10}
:javascript
	$('#create_translation').on('click', function(){
		$('#translations_form form').submit();
	});
