.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = translate_helper_translate(:public_comments)
          = add_tooltip("public_comments_help")
      .panel-body
        =translate_helper_translate(:public_comments_message)
        - commentable.public_comments.sort!{|a, b| a.locale <=> b.locale}
        = f.simple_fields_for :public_comments do |comment|
          = comment.input :comment, label: [translate_helper_translate("locales.#{comment.object.locale}"), translate_helper_translate(:comment)].join(' ')
          = comment.input :locale, as: :hidden
          = comment.input :visibility, as: :hidden
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = translate_helper_translate(:private_comments)
          = add_tooltip("private_comments_help")
      .panel-body
        =translate_helper_translate(:private_comments_message)
        - commentable.private_comments.sort!{|a, b| a.locale <=> b.locale}
        = f.simple_fields_for :private_comments do |comment|
          = comment.input :comment, label: [translate_helper_translate("locales.#{comment.object.locale}"), translate_helper_translate(:comment)].join(' ')
          = comment.input :locale, as: :hidden
          = comment.input :visibility, as: :hidden
