.row.comments
  .col-sm-6
    .panel.panel-default
      .panel-heading
        .row.text
          .col-sm-12
            %h3.panel-title= t(:public_comments)
      .panel-body
        - if commentable.public_comments.empty?
          = t(:no_comments)
        - else
          - if can? :full_read, commentable
            %dl
              - commentable.public_comments.each do |comment|
                %dt= [t("locales.#{comment.locale}"), t(:comment)].join(' ')
                %dd= comment.comment
          - else
            %p= commentable.public_comments.where(locale: I18n.locale).first.comment rescue t(:no_comments)

  - if can? :full_read, commentable
    .col-sm-6
      .panel.panel-default
        .panel-heading
          .row.text
            .col-sm-12
              %h3.panel-title= t(:private_comments)
        .panel-body
          - if commentable.private_comments.empty?
            = t(:no_comments)
          - else
            %dl
              - commentable.private_comments.each do |comment|
                %dt= [t("locales.#{comment.locale}"), t(:comment)].join(' ')
                %dd= comment.comment
