.row-fluid
  .span12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#datatable
      %thead
        %tr
          %th.center Trip Id
          %th.center User
          %th.center From
          %th.center To
          %th.center Created On
      %tbody
        - @data.each do |trip|
          %tr
            %td= trip.id
            %td= trip.owner.name
            %td= trip.from_place.nil? ? "no address" : trip.from_place.nongeocoded_address
            %td= trip.to_place.nil? ? "no address" : trip.to_place.nongeocoded_address
            %td= format_date_time(trip.created_at)

  
