- if @alternative_places.count > 0
  %h6= "Found #{@alternative_places.count} matching " + "address".pluralize(@alternative_places.count)
  %table.table.table-hover#my_candidates
    - @alternative_places.each_with_index do |place, index|
      %tr{:data => {:address_candidate => index, :latlon => [place[:lat], place[:lon]]}}
        %td
          = place[:formatted_address]
        %td
          = link_to add_place_user_places_path(@traveler, :ref => place[:id], :address => place[:formatted_address]), :remote => true, :method => :post, :class => "btn btn-mini" do
            %i.icon.icon-plus
- else
  .alert.alert-info= "Nothing found at that address. Please try again"
    
:javascript
  clear_candidate_address_markers();
  
  $('[data-address-candidate]').each(function() {
    var addr = $(this).text();
    var id = $(this).data('address-candidate');
    var latlon = $(this).data('latlon');

    marker = createMarker(id, latlon[0], latlon[1], 'blueIcon', addr, addr, true);
    address_candidate_markers.push(marker);
    addMarkerToMap(marker);
  });
  
  $('[data-address-candidate]').hover(function() {
    var id = $(this).data('address-candidate');
    for (var i = 0; i < address_candidate_markers.length; i++) {
      if (address_candidate_markers[i].id == id) {
        selectMarker(address_candidate_markers[i]);
        return false;
      }
    }
    return false;
  });
