.row-fluid
  .thumbnail.span12{style: 'overflow-y: auto;'}
    .span12
      = form_for @place_proxy, :url => user_places_path, :remote => true, :html => {:class => 'form-horizontal', :style => "margin-top:10px;margin-bottom:10px;"}  do |f|
        = f.text_field :raw_address, :placeholder => t(:enter_address), :id => "poi_typeahead", :class => "span12 ajax-typeahead", :data => {:link => search_user_places_path, :provide => "typeahead"}, :style => "margin-top:10px;margin-bottom: 10px;", :autocomplete => "off"
        = f.hidden_field :place_type_id, :id => "place_type_field"
        = f.hidden_field :place_id, :id => "place_id_field"
        = button_tag :type => 'submit', :class => "btn btn-block btn-primary" do
          %i.icon.icon-search
      #select_place
        - render 'address_select'


.row-fluid#name_div
  .span12
    %h6= t(:new_name)
  .row-fluid
    .thumbnail.span12
      = form_for :place, :url => change_user_places_path(@traveler), :remote => true, :html => {:class => 'form-horizontal', :style => "margin-top:10px;margin-bottom:10px;"}  do |f|
        = f.hidden_field :id, :id => "id_field"
        = f.text_field :name, :class => "span12", :style => "margin-bottom: 10px;", :id => "name_field"
        = button_tag :type => 'submit', :class => "btn btn-block btn-success" do
          %i.icon.icon-edit= t(:update)
        = button_tag :type => 'button', :id => "cancel_edit_button", :class => "btn btn-block btn-warn" do
          %i.icon.icon-remove= t(:cancel)
      
.row-fluid
  .span12
    %h6= t(:found_x_places, :count => @places.count )

.row-fluid
  .thumbnail.span12{style: 'height: 375px; overflow-y: auto;'}
    .span12
      %table.table.table-hover#my_places
        - @places.each do |place|
          %tr{ :data => { :place_id => place.id } }
            %td
              %strong= place
              %br
              %em= place.address
            %td.nowrap
              = link_to "#", :class => "btn btn-mini btn-warning" do
                %i.icon.icon-edit{:data => {:name => place.name, :id => place.id}}
              = link_to user_place_path(@traveler, place), :class => "btn btn-mini btn-danger", :method => :delete, :remote => true, :confirm => "Are you sure ?" do
                %i.icon.icon-remove
                
    
:javascript  
  // Hide the name editing div on page load
  $(document).ready(function(){
    $('#name_div').hide();
  });
  // Prepopulate the editing form and show it if the user clicks an
  // edit button in the table
  $('a [data-name]').click(function(e) {
    var id = $(this).data('id');
    var name = $(this).data('name');
    // Set the name and id into the form text area
    $('#name_field').val(name);
    $('#id_field').val(id);
    // Show the editing div
    $('#name_div').show();
  });
  // Install a hover event handler for table rows. When hovering,
  // the map icon is panned to and the popup shown
  $('#my_places tr').click(function() {
    var elem_id = $(this).data('place-id');
    selectMarkerById(elem_id);
  });
  // Event handler to manage the cancel button when the user is in edit mode
  $('#cancel_edit_button').click(function(e) {
    $('#name_div').hide();
  });

  // Add a change listener on the text field
  $("#poi_typeahead").bind("keyup input paste", function() {
    $('#place_type_field').val("");
    $('#place_id_field').val("");    
  });
  
  var timeout;
  
  // Enable typeahead for the places forms
  $('#poi_typeahead').typeahead({
      items: gc_max_items_in_list,
      minLength: gc_min_items_in_typeahead,
      source: function(query, process) {
          if (timeout) {
            clearTimeout(timeout);
          }
          timeout = setTimeout(function() {
            return $.ajax({
                url: $('#poi_typeahead').data('link'),
                type: 'get',
                data: {
                  query: query
                },
                dataType: 'json',
                success: function(result) {
  
                  var resultList = result.map(function (item) {
                      var aItem = { index: item.index, type: item.type, id: item.id, name: item.name, lat: item.lat, lon: item.lon, addr: item.address };
                      return JSON.stringify(aItem);
                  });
  
                  return process(resultList);
                }
            });
          }, gc_typeahead_delay);
      },
    matcher: function (obj) {
        var item = JSON.parse(obj);
        return ~item.name.toLowerCase().indexOf(this.query.toLowerCase())
    },

    sorter: function (items) {          
       var beginswith = [], caseSensitive = [], caseInsensitive = [], item;
        while (aItem = items.shift()) {
            var item = JSON.parse(aItem);
            if (!item.name.toLowerCase().indexOf(this.query.toLowerCase())) beginswith.push(JSON.stringify(item));
            else if (~item.name.indexOf(this.query)) caseSensitive.push(JSON.stringify(item));
            else caseInsensitive.push(JSON.stringify(item));
        }

        return beginswith.concat(caseSensitive, caseInsensitive)

    },


    highlighter: function (obj) {
        var item = JSON.parse(obj);
        var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
        return item.name.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
            return '<strong>' + match + '</strong>'
        })
    },

    updater: function (obj) {
        var item = JSON.parse(obj);
        clear_candidate_address_markers();
        marker = createMarker(item.id, item.lat, item.lon, 'purpleIcon', item.name, item.addr, true);
        address_candidate_markers.push(marker);
        addMarkerToMap(marker);
        selectMarker(marker);
        $('#place_type_field').attr('value', item.type);
        $('#place_id_field').attr('value', item.id);
        return item.name;
    }  
  });  
  
