.row-fluid
  .span12
    %h1
      %i.fa.fa-map-marker
      = is_assisting ? "#{@traveler.name}'s #{t(:places)}" : t(:my_places)

.row-fluid{:style => "margin-top:20px;"}
  .well.well-small
    .row-fluid
      #places_form.span12
        = link_to "#" do
          %i.fa.fa-map-marker.fa-2x.pull-right#map-icon
        = render 'places_form'
      #places_map.span6
        = render 'places_map'  

:javascript
  // UI variables
  var place_map_key = "place_map_key";

  // Document Ready
  $(document).ready(function(){
    // open or close the map on load based on last state
    var map_open = get_ui_key_value(place_map_key, 0);
    //alert(place_map_key + ' = ' + map_open);
    if (map_open == 1) {
      open_map();
    } else {
      close_map();
    }

    // install event handlers
    $('#map-icon').click(function(){
      var map_open = get_ui_key_value(place_map_key, 0);
      //alert(place_map_key + ' = ' + map_open);
      if (map_open == 1) {
        // user is closing the map
        close_map();
      } else {
        // user is opening the map
        open_map();
      }
    }); 
    
  });
 
  function open_map() {
    //alert('opening map');
    $('#places_form').removeClass('span12');
    $('#places_form').addClass('span6');
    $('#places_map').show();
    invalidateMap();
    $('#map-icon').removeClass('fa-map-marker');
    $('#map-icon').addClass('fa-play');
    // make sure no popups are currently being shown or they will get messed up
    closePopup();
    // refresh the map display
    setMapToBounds();
    set_ui_key_value(place_map_key, 1);
  };
  
  function close_map() {
    //alert('closing map');
    $('#places_form').removeClass('span6');
    $('#places_form').addClass('span12');
    $('#places_map').hide();
    $('#map-icon').removeClass('fa-play');
    $('#map-icon').addClass('fa-map-marker');
    set_ui_key_value(place_map_key, 0);
  };
