.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = is_traveler ? "#{@traveler.name}'s Places" : "My Places"

.row-fluid
  .span4
    = render 'places_form'  
  = LeafletMap({ :mapid => 'lmap', :markers => @markers, :tile_provider => 'CLOUDMADE', :min_zoom => 3, :max_zoom => 15, :class => "span8 well well-small", :style => "height:500px;" })

= yield :scripts
