!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : translate_helper_translate(:site_title)
    %meta{:content => content_for?(:description) ? yield(:description) : translate_helper_translate(:site_description), :name => "description"}
    = stylesheet_link_tag "stylesheets/application", :media => "all"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places"
    = javascript_include_tag "javascripts/application"

    - if browser.mobile?
      - if browser.safari?
        = favicon_link_tag "#{get_favicon_path("mobile")}", rel: 'apple-touch-icon', type: "image/png"
      - else
        = favicon_link_tag "#{get_favicon_path("mobile")}"
    - elsif browser.tablet?
      - if browser.safari?
        = favicon_link_tag "#{get_favicon_path("mobile")}", rel: 'apple-touch-icon', type: "image/png"
      - else
        = favicon_link_tag "#{get_favicon_path("tablet")}"
    - else
      - if browser.safari?
        = favicon_link_tag "#{get_favicon_path}", rel: 'apple-touch-icon', type: "image/png"
      - else
        = favicon_link_tag "#{get_favicon_path}"

    = csrf_meta_tags
    = yield(:head)

  %body{:class => "#{controller_css_class} #{action_name}"}
    / application.html.haml
    #wrap
      = render 'shared/navigation'
      #main.container
        #messages
          = render 'shared/messages'
        - unless browser.modern? # Webkit, Firefox 17+, IE 9+ and Opera 12+
          #browser_warning.modal.fade{"role" => "dialog", "data-back" => "static", "tabindex" => "-1", "aria-hidden" => "true"}
            .modal-dialog
              .modal-content
                .modal-body
                  = translate_helper_translate(:broswer_warning)
                .modal-footer
                  %button.btn.action-button{"data-dismiss" => "modal"}
                    = translate_helper_translate(:close)
          :javascript
            $(document).ready(function(){
              if (!sessionStorage.getItem("user_warned")) {
                $('#browser_warning').modal('show');
                sessionStorage.setItem("user_warned", true);
              }
            });

        = yield

      #footer{:role => "contentinfo", :aria => {:label => 'Footer'}}
        #feedback.col-xs-12
          .pull-left
            = translate_helper_translate(:more_about_this_initiative).html_safe
            / %a{:href => "http://www.fta.dot.gov/grants/13094_13528.html", :target => "_blank"}
          .pull-right
            = translate_helper_translate(:send_your_feedback).html_safe
            / %a{:href => "mailto://#{ENV['SEND_FEEDBACK_TO_ADDRESS']}"}
        #versionLang.col-xs-12
          .pull-left
            - unless Rails.env.production?
              %span#versionInfo
                = "#{translate_helper_translate(:version)} #{ENV['ONECLICK_APP_VERSION'] || Rails.application.config.version}"
                |
                - %w{xs sm md lg}.each do |s|
                  %span{class: "oc-visible-#{s}"}= s
            - else
              %span#versionInfo= "#{translate_helper_translate(:version)} #{Rails.application.config.version}"
          .pull-right
            = links_to_each_locale(can? :manage, :translations)
    / end of footer

    = yield :footer

  / end of wrap
  / Dependent JS Libs
  / From gem
  / %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
  / From gem
  / %script{:src => "datetimepicker/moment.js"}
  / %script{:src => "datetimepicker/bootstrap-datetimepicker.js"}

