!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : t(:site_title)
    %meta{:content => content_for?(:description) ? yield(:description) : t(:site_description), :name => "description"}
    = stylesheet_link_tag "//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"
    = stylesheet_link_tag "stylesheets/application", :media => "all"
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.2&sensor=false"
    = javascript_include_tag "javascripts/application"

    = csrf_meta_tags
    = yield(:head)

  %body{:class => "#{controller_css_class} #{action_name}"}
    / application.html.haml
    #wrap
      = render 'shared/navigation'
      #main.container{:role => "main"}
        #messages
          = render 'shared/messages'
        = yield

      #footer
        #feedback.col-xs-12
          .pull-left
            %a{:href => "http://www.fta.dot.gov/grants/13094_13528.html", :target => "_blank"}
              = t(:more_about_this_initiative)
          .pull-right
            %a{:href => "mailto://#{ENV['SEND_FEEDBACK_TO_ADDRESS']}"}
              = t(:send_your_feedback)
        #versionLang.col-xs-12
          .pull-left
            - unless Rails.env.production?
              %span#versionInfo
                = "#{t(:version)} #{ENV['ONECLICK_APP_VERSION'] || Rails.application.config.version}"
                |
                - %w{xs sm md lg}.each do |s|
                  %span{class: "oc-visible-#{s}"}= s
            - else
              %span#versionInfo= "#{t(:version)} #{Rails.application.config.version}"
          .pull-right
            = links_to_each_locale
    / end of footer

    = yield :footer

  / end of wrap
  / Dependent JS Libs
  / From gem
  / %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
  / From gem
  / %script{:src => "datetimepicker/moment.js"}
  / %script{:src => "datetimepicker/bootstrap-datetimepicker.js"}

