!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:site_title)
      %meta{:content => content_for?(:description) ? yield(:description) : t(:site_description), :name => "description"}
      = ajaxful_rating_style
      = stylesheet_link_tag "application", :media => "all"
      = stylesheet_link_tag brand, :media => "all"
      = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css", :media => "all"
      
      = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"
      = javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false"
      = javascript_include_tag "application" # TODO This should go in footer
      = javascript_include_tag "https://www.google.com/jsapi"


      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_css_class} #{action_name}"}
    / application.html.haml
    #wrap
      .container-fluid
        .row-fluid
          = render 'shared/navigation'
      #main{:role => "main"}
        .container-fluid
          = render 'shared/assisting'
          #messages
            = render 'shared/messages'
          = yield
      #footer
        .container-fluid
          .well
            .pull-left
              - unless Rails.env.production?
                %span= "#{t(:version)} #{ENV['ONECLICK_APP_VERSION'] || Rails.application.config.version}"
              - else
                %span= "#{t(:version)} #{Rails.application.config.version}"
              - unless Rails.env.production?
                %span
                  |
                  %span.visible-phone Phone&nbsp;
                  %span.visible-table Tablet&nbsp;
                  %span.visible-desktop Desktop
            .pull-right
              -# Don't localize next 2 strings
              = link_using_locale('English', 'en')
              |
              = link_using_locale('En Español', 'es')
      / ! end of .container
    / ! end of #main

    :javascript
      var localized_yes_str;
      var localized_no_str;
      var localized_ok_str;
      var localized_cancel_str;
      
      $(document).ready(function(){
        // Set default locale configs and other settings that affect every page
        localized_yes_str = "#{t(:yes_str)}";
        localized_no_str = "#{t(:no_str)}";
        localized_ok_str = "#{t(:ok)}";
        localized_cancel_str = "#{t(:cancel)}";
        
        bootbox.setDefaults({
          locale: "#{I18n.locale}"
        });
      });
