!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:site_title)
      %meta{:content => content_for?(:description) ? yield(:description) : t(:site_description), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag brand, :media => "all"
        = javascript_include_tag "application" # TODO This should go in footer
        = javascript_include_tag "https://www.google.com/jsapi"
        
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      = render 'layouts/navigation'
      #main{:role => "main"}
        .container-fluid
          = render 'layouts/messages'
          = yield
      #footer{:style => "background-color:#f5f5f5;border-top:1px solid #CCCCCC;"}
        .container-fluid
          .row-fluid
            .span12
              - if Rails.env.development?
                .visible-phone.pull-left Phone&nbsp;
                .visible-table.pull-left Tablet&nbsp;
                .visible-desktop.pull-left Desktop
              .pull-right
                -# Don't localize next 2 strings
                = link_using_locale('English', 'en')
                |
                = link_using_locale('En Español', 'es')
      / ! end of .container
    / ! end of #main
